<dx-tree-list [dataSource]="dataSourceDB" showBorders="true" keyExpr="Id" hoverStateEnabled="true" rootValue="0"
    [autoExpandAll]="true" parentIdExpr="Pid" [showColumnLines]="false" [showRowLines]="true"
    [rowAlternationEnabled]="true" [focusedRowEnabled]="true" [columnAutoWidth]="false" [showBorders]="true"
    (onCellClick)="cellClick($event)" [showColumnLines]="true">
    <dxo-row-dragging [onDragChange]="onDragChange" [onReorder]="onReorder" [allowDropInsideItem]="btnVisible"
        [allowReordering]="btnVisible" [showDragIcons]="true"></dxo-row-dragging>
    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="false">
        <dxo-form colCount=1>
            <dxi-item dataField="Name"></dxi-item>
            <dxi-item dataField="Quantity"></dxi-item>
        </dxo-form>
    </dxo-editing>
    <!-- <dxi-column dataField="Lv" caption="階層" dataType="string" [allowEditing]="false"></dxi-column> -->
    <!-- <dxi-column dataField="ProductNo" caption="組成品項" dataType="string" [allowEditing]="false"></dxi-column> -->
    <!-- <dxi-column dataField="ProductName" caption="成品品名" dataType="string"></dxi-column> -->
    <!-- <dxi-column dataField="MaterialNo" caption="組成元件" dataType="string" [allowEditing]="false"></dxi-column> -->
    <!-- <dxi-column dataField="MaterialName" caption="元件品名" dataType="string"></dxi-column> -->
    <!-- <dxi-column dataField="Quantity" caption="組成數量" dataType="number"></dxi-column> -->
    <!-- <dxi-column dataField="ProductBasicId" caption="成品品號" dataType="number" [visible]="false" [allowEditing]="false">
        <dxo-lookup [dataSource]="ProductList" displayExpr="ProductNo" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="MaterialBasicId" caption="元件品號" dataType="number" [visible]="false" [allowEditing]="false">
        <dxo-lookup [dataSource]="MaterialList" displayExpr="MaterialNo" valueExpr="Id"></dxo-lookup>
    </dxi-column> -->
    <dxi-column dataField="LvS" caption="階層" dataType="string" [allowEditing]="false" [width]="360"></dxi-column>
    <!-- <dxi-column dataField="LvName" caption="品名" dataType="string" [allowEditing]="false"></dxi-column> -->
    <dxi-column dataField="BomType" caption="類別" dataType="string" alignment="center" [allowEditing]="false" [width]="100"></dxi-column>
    <dxi-column dataField="Name" caption="名稱" dataType="string"></dxi-column>
    <dxi-column dataField="Quantity" caption="組成數量" dataType="number" [width]="120"></dxi-column>
    <dxi-column dataField="Master" caption="主要用料" dataType="string" alignment="center" [width]="120">
        <dxo-lookup [dataSource]="MasterList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>

    <dxi-column type="buttons" caption="新增" cssClass="addmod" [visible]="btnVisible" [width]="100">
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit" [visible]="isEditVisible"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash" [visible]="isDeleteVisible"></dxi-button>
        <dxi-button name="upload" text="設定主要用料" icon="upload" [visible]="isUploadVisible" [onClick]="uploadIconClick"></dxi-button>
    </dxi-column>

    <dxi-column caption="料號查詢" cellTemplate="DataInfoCellTemplate" alignment="center" width="80"></dxi-column>
    <div *dxTemplate="let data of 'DataInfoCellTemplate'">
        <dx-button icon="detailslayout" type="normal" (onClick)="readData($event,data)"></dx-button>
    </div>
    <dxi-column caption="" cellTemplate="cellTemplate" alignment="center" width="50" [visible]="!btnVisible"></dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">
        <dx-button icon="chevrondoubleright" type="default" (onClick)="readBomProcess($event,data)"></dx-button>
    </div>

</dx-tree-list>
<dx-popup [showTitle]="true" title="新增組成資訊" [dragEnabled]="false" [closeOnOutsideClick]="false" height="30%"
    [width]="600" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-editbom (childOuter)="popup_result($event)" [itemkeyval]="itemkeyval" [randomkeyval]="randomkey">
        </app-editbom>
    </div>
</dx-popup>

<dx-popup [showTitle]="true" title="原料基本資料" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="800" [height]="360"
    [(visible)]="materialpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatmaterial-basic [masterkey]="MaterialKey" [btnVisibled]="false" [editStatus]="true"></app-creatmaterial-basic>
    </div>
</dx-popup>
<dx-popup [showTitle]="true" title="成品基本資料" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="800" [height]="360"
    [(visible)]="productpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatproduct-basic [masterkey]="ProductKey" [btnVisibled]="false" [editStatus]="true"></app-creatproduct-basic>
    </div>
</dx-popup>
<!-- <dx-popup [showTitle]="true" title="半成品基本資料" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="800" [height]="360"
    [(visible)]="productpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatproduct-basic [masterkey]="MaterialKey" [btnVisibled]="false" [editStatus]="true"></app-creatproduct-basic>
    </div>
</dx-popup> -->
