.insertbtn {
    margin-top: -60px;
    border-radius: 2px;
    /* margin-left: 30px; */
}
.buttongroup {
    position: absolute;
    right: 20px;
}
.dx-button {
    float: right;
    margin-right: 6px;
}
