<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form"
        [formData]="formData"
        [readOnly]="readOnly"
        [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation"
        [minColWidth]="minColWidth"
        [colCount]="colCount"
        [width]="width"
        [showValidationSummary]="true">

        <dxi-item dataField="MaterialNo">
            <dxi-validation-rule type="required" message="品號 必填"></dxi-validation-rule>
            <dxi-validation-rule type="async" message="品號已存在" [validationCallback]="asyncValidation"></dxi-validation-rule>
            <dxo-label text="品號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Name">
            <dxi-validation-rule type="required" message="品名 必填"></dxi-validation-rule>
            <dxo-label text="品名"></dxo-label>
        </dxi-item>
        <dxi-item dataField="MaterialType" editorType="dxSelectBox" [editorOptions]="MaterialTypeOptions">
            <dxo-label text="品號種類"></dxo-label>
        </dxi-item>
        <!-- <dxi-item dataField="Quantity"  dataType="number" editorType="dxNumberBox"
        [editorOptions]="NumberBoxOptions">
            <dxi-validation-rule type="required" message="庫存量 必填"></dxi-validation-rule>
            <dxo-label text="庫存量"></dxo-label>
        </dxi-item> -->
        <dxi-item dataField="QuantityLimit" dataType="number" editorType="dxNumberBox" [editorOptions]="NumberBoxOptions">
            <dxi-validation-rule type="required" message="庫存警示 必填"></dxi-validation-rule>
            <dxo-label text="庫存警示"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Specification">
            <dxi-validation-rule type="required" message="規格 必填"></dxi-validation-rule>
            <dxo-label text="規格"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Property">
            <!-- <dxi-validation-rule type="required" message="屬性 必填"></dxi-validation-rule> -->
            <dxo-label text="屬性"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Price" dataType="number" editorType="dxNumberBox" [editorOptions]="NumberBoxOptions" format="$ #,##0.##;($ #,##0.##)">
            <dxi-validation-rule type="required" message="單價 必填"></dxi-validation-rule>
            <dxo-label text="單價"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Unit">
            <dxo-label text="單位"></dxo-label>
        </dxi-item>
        <!-- <dxi-item dataField="Supplier" dataType="number" editorType="dxSelectBox"  [editorOptions]="selectBoxOptions">
            <dxi-validation-rule type="required" message="供應商 必填"></dxi-validation-rule>
            <dxo-label text="供應商"></dxo-label>
        </dxi-item> -->
        <!-- <dxi-item dataField="SubInventory">
            <dxi-validation-rule type="required" message="存放庫別 必填"></dxi-validation-rule>
            <dxo-label text="存放庫別"></dxo-label>
        </dxi-item> -->
        <dxi-item dataField="wid" [visible]="btnVisibled">
            <!-- <dxi-validation-rule type="required" message="存放庫別 必填"></dxi-validation-rule> -->
            <dxo-label text="存放庫別"></dxo-label>
            <dx-drop-down-box
                [(value)]="gridBoxValue"
                valueExpr="Id"
                displayExpr="Name"
                [showClearButton]="true"
                [dataSource]="warehousesOptions">
                <div *dxTemplate="let data of 'content'">
                    <dx-data-grid
                        keyExpr="Id"
                        [dataSource]="warehousesOptions"
                        [columns]="['Name']"
                        [selection]="{ mode: 'multiple' }"
                        [hoverStateEnabled]="true"
                        [paging]="{ enabled: true, pageSize: 10 }"
                        [filterRow]="{ visible: false }"
                        [scrolling]="{ mode: 'infinite' }"
                        [height]="245"
                        [(selectedRowKeys)]="gridBoxValue">
                    </dx-data-grid>
                </div>
            </dx-drop-down-box>
        </dxi-item>

        <dxi-item dataField="wid" [visible]="!btnVisibled">
            <!-- <dxi-validation-rule type="required" message="存放庫別 必填"></dxi-validation-rule> -->
            <dxo-label text="存放庫別"></dxo-label>
            <dx-drop-down-box
                [(value)]="gridBoxValue"
                valueExpr="Id"
                displayExpr="Name"
                [showClearButton]="true"
                [dataSource]="WarehouseList">
                <div *dxTemplate="let data of 'content'">
                    <dx-data-grid
                        keyExpr="Id"
                        [dataSource]="WarehouseList"
                        [columns]="['名稱']"
                        [selection]="{ mode: 'multiple' }"
                        [hoverStateEnabled]="true"
                        [paging]="{ enabled: true, pageSize: 10 }"
                        [filterRow]="{ visible: false }"
                        [scrolling]="{ mode: 'infinite' }"
                        [height]="245"
                        [(selectedRowKeys)]="gridBoxValue">
                    </dx-data-grid>
                </div>
            </dx-drop-down-box>
        </dxi-item>

        <dxi-item dataField="SupplierId" [editorOptions]="selectSupplier" editorType="dxSelectBox">
            <dxo-label text="供應商"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Weight" dataType="number" editorType="dxNumberBox" [editorOptions]="NumberBoxOptions">
            <dxo-label text="重量(公斤)"></dxo-label>
        </dxi-item>
        <dxi-item dataField="MaterialNumber">
            <!-- <dxi-validation-rule type="required" message="廠內品號 必填"></dxi-validation-rule> -->
            <dxo-label text="廠內品號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Remarks">
            <dxo-label text="備註"></dxo-label>
        </dxi-item>
    </dx-form>
    <div class="col-auto-12 mt-4">
        <dx-button  horizontalAlignment="right" class="pl-3 pr-3 pb-1" text='存檔' type= 'success' icon= 'save'   [useSubmitBehavior]="true"
        [disabled]="buttondisabled" [visible]="btnVisibled"></dx-button>
    </div>
</form>

