<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width" [showValidationSummary]="true">

        <dxi-item dataField="ProductNo" >
            <dxi-validation-rule type="required" message="主件品號 必填"></dxi-validation-rule>
            <dxi-validation-rule type="async" message="主件品號已存在" [validationCallback]="asyncValidation"></dxi-validation-rule>
            <dxo-label text="主件品號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Name">
            <dxi-validation-rule type="required" message="主件品名 必填"></dxi-validation-rule>
            <dxo-label text="主件品名"></dxo-label>
        </dxi-item>
        <!-- <dxi-item dataField="Quantity" dataType="number" editorType="dxNumberBox" [editorOptions]="NumberBoxOptions">
            <dxi-validation-rule type="required" message="庫存量 必填"></dxi-validation-rule>
            <dxo-label text="庫存量"></dxo-label>
        </dxi-item> -->
        <dxi-item dataField="QuantityLimit" dataType="number" editorType="dxNumberBox"
            [editorOptions]="NumberBoxOptions">
            <dxi-validation-rule type="required" message="庫存警示 必填"></dxi-validation-rule>
            <dxo-label text="庫存警示"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Specification">
            <dxi-validation-rule type="required" message="規格 必填"></dxi-validation-rule>
            <dxo-label text="規格"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Property">
            <dxi-validation-rule type="required" message="廠內規格 必填"></dxi-validation-rule>
            <dxo-label text="廠內規格"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Price" dataType="number" editorType="dxNumberBox" format="$ #,##0.##;($ #,##0.##)" [editorOptions]="NumberBoxOptions">
            <dxi-validation-rule type="required" message="單價 必填"></dxi-validation-rule>
            <dxo-label text="單價"></dxo-label>
        </dxi-item>

        <!-- <dxi-item dataField="MaterialId" editorType="dxSelectBox" [editorOptions]="selectBoxOptions">
            <dxi-validation-rule type="required" message="元件品號 必填"></dxi-validation-rule>
            <dxo-label text="元件品號"></dxo-label>
        </dxi-item> -->

        <!-- <dxi-item dataField="WarehouseId" editorType="dxSelectBox" [editorOptions]="warehousesOptions">
            <dxi-validation-rule type="required" message="存放庫別 必填"></dxi-validation-rule>
            <dxo-label text="存放庫別"></dxo-label>
        </dxi-item> -->

        <dxi-item dataField="wid" [visible]="btnVisibled">
            <dxi-validation-rule type="required" message="存放庫別 必填"></dxi-validation-rule>
            <dxo-label text="存放庫別"></dxo-label>
            <dx-drop-down-box
                [(value)]="gridBoxValue"
                valueExpr="Id"
                displayExpr="Name"
                [showClearButton]="true"
                [dataSource]="warehousesOptions">
                <div *dxTemplate="let data of 'content'">
                    <dx-data-grid
                        keyExpr="Id"
                        [dataSource]="warehousesOptions"
                        [columns]="['Name']"
                        [selection]="{ mode: 'multiple' }"
                        [hoverStateEnabled]="true"
                        [paging]="{ enabled: true, pageSize: 10 }"
                        [filterRow]="{ visible: false }"
                        [scrolling]="{ mode: 'infinite' }"
                        [height]="245"
                        [(selectedRowKeys)]="gridBoxValue">
                    </dx-data-grid>
                </div>
            </dx-drop-down-box>
        </dxi-item>
        <dxi-item dataField="wid" [visible]="!btnVisibled">
            <dxi-validation-rule type="required" message="存放庫別 必填"></dxi-validation-rule>
            <dxo-label text="存放庫別"></dxo-label>
            <dx-drop-down-box
                [(value)]="gridBoxValue"
                valueExpr="Id"
                displayExpr="Name"
                [showClearButton]="true"
                [dataSource]="WarehouseList">
                <div *dxTemplate="let data of 'content'">
                    <dx-data-grid
                        keyExpr="Id"
                        [dataSource]="WarehouseList"
                        [columns]="['Name']"
                        [selection]="{ mode: 'multiple' }"
                        [hoverStateEnabled]="true"
                        [paging]="{ enabled: true, pageSize: 10 }"
                        [filterRow]="{ visible: false }"
                        [scrolling]="{ mode: 'infinite' }"
                        [height]="245"
                        [(selectedRowKeys)]="gridBoxValue">
                    </dx-data-grid>
                </div>
            </dx-drop-down-box>
        </dxi-item>

        <dxi-item dataField="ProductNumber">
            <dxi-validation-rule type="required" message="廠內品號 必填"></dxi-validation-rule>
            <dxo-label text="廠內品號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Remarks">
            <dxo-label text="備註"></dxo-label>
        </dxi-item>
    </dx-form>
    <div class="col-auto-12 mt-4">
        <dx-button horizontalAlignment="right" class="pl-3 pr-3 pb-1" text='存檔' type='success' icon='save' [useSubmitBehavior]="true"
            [disabled]="buttondisabled" [visible]="btnVisibled"></dx-button>
    </div>
</form>
