<dx-data-grid
[dataSource]="dataSourceDB"
showBorders="true"
keyExpr="Id"
[focusedRowEnabled]="true"
(onDataErrorOccurred)="onDataErrorOccurred($event)"
[(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
(onFocusedRowChanging)="onFocusedRowChanging($event)"
(onFocusedRowChanged)="onFocusedRowChanged($event)"
(onEditorPreparing)="onEditorPreparing($event)"
(onSelectionChanged)="selectionChanged($event)"
(onCellClick)="cellClick($event)"
(onRowUpdated)="onRowUpdated($event)"
(onRowPrepared)="onRowPrepared($event)"
hoverStateEnabled="true"
[rowAlternationEnabled]="true">

<dxo-selection mode="single"></dxo-selection>
<dxo-filter-row [visible]="false"></dxo-filter-row>
<dxo-header-filter [visible]="false"></dxo-header-filter>
<dxo-sorting mode="multiple"></dxo-sorting>
<dxo-grouping [autoExpandAll]="true"></dxo-grouping>
<dxo-paging [pageSize]="20"></dxo-paging>
<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
</dxo-pager>
<dxo-editing mode="batch" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="false">
    <dxo-form>
        <dxi-item dataField="RecentTime" [editorOptions]="{ disabled: true }">
            <dxi-validation-rule type="required" message="必填"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="UserId" [editorOptions]="{ disabled: true }">
            <dxo-lookup [dataSource]="UserList" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
            <dxi-validation-rule type="required" message="必填"></dxi-validation-rule>
        </dxi-item>

    </dxo-form>
    <!-- <dxo-popup [showTitle]="true" title="修改明細資訊" [width]="800" [height]="410">
        <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type: 'success', text: '存檔', onClick: saveClickHandler }">
        </dxi-toolbar-item>
        <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type:'danger', text: '取消', onClick: cancelClickHandler }">
        </dxi-toolbar-item>
    </dxo-popup> -->
</dxo-editing>
<dxi-column dataField="RecentTime" caption="維護時間" dataType="date" format="shortDateShortTime" [visible]="true">
    <dxi-validation-rule type="required" message="必填"></dxi-validation-rule>

</dxi-column>
<dxi-column dataField="UserId" caption="執行人員" [visible]="true">
    <dxo-lookup [dataSource]="UserList" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
    <dxi-validation-rule type="required" message="必填"></dxi-validation-rule>

</dxi-column>


<dxi-column type="buttons" caption="" [width]="200">
    <!-- <dxi-button text="複製" hint="複製" icon="repeat" [onClick]="cloneIconClick"></dxi-button> -->
    <dxi-button name="save" text="存檔" icon="save"></dxi-button>
    <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
    <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
    <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    <!-- <dxi-button hint="庫存調整" text="庫存調整" [onClick]=""></dxi-button> -->
</dxi-column>
</dx-data-grid>
<!-- <dx-popup [showTitle]="true" title="新增明細" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="800" [height]="360"
[(visible)]='true'>
<div *dxTemplate="let data of 'content'">
    <app-creatmaterial (childOuter)="creatpopup_result($event)" [itemdata]="itemdata" [modval]="mod"
    [exceldata]="exceldata"></app-creatmaterial>
</div>
</dx-popup>
<dx-popup [showTitle]="true" title="調整庫存" [dragEnabled]="false" [closeOnOutsideClick]="false"  [width]="700" [height]="580"
[(visible)]="editpopupVisible">
<div *dxTemplate="let data of 'content'">
    <app-inventory-change (childOuter)="editpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod"
    [exceldata]="exceldata"></app-inventory-change>
</div>
</dx-popup> -->
