<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount">

        <dxi-item dataField="WorkOrderHeadId" [visible]="false">
            <dxo-label text="工單主檔ID"></dxo-label>
        </dxi-item>
        <dxi-item dataField="CreateTime" editorType="dxDateBox" [editorOptions]="CreateTimeDateBoxOptions"
            [visible]="modVisible">
            <dxi-validation-rule type="required" message="建立日期 必填"></dxi-validation-rule>
            <dxo-label text="建立日期"></dxo-label>
        </dxi-item>
        <dxi-item dataField="WorkOrderNo" [disabled]="true" [visible]="!modVisible">
            <dxo-label text="工單號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="DataNo" [disabled]="true">
            <dxo-label text="品號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="ReceiveQuantity" [disabled]="true">
            <dxo-label text="領料數量"></dxo-label>
        </dxi-item>
        <dxi-item dataField="AvailableMCountByReceive" [disabled]="true">
            <dxo-label text="領料可生產的數量"></dxo-label>
        </dxi-item>
        <!-- <dxi-item dataField="DataName" [disabled]="true">
            <dxo-label text="品名"></dxo-label>
        </dxi-item> -->
        <!-- <dxi-item dataField="OrderDetailId" dataType="number" editorType="dxSelectBox"
            [editorOptions]="ProductBasicSelectBoxOptions">
            <dxi-validation-rule type="required" message="訂單 必填"></dxi-validation-rule>
            <dxo-label text="訂單"></dxo-label>
        </dxi-item> -->
        <!-- <dxi-item dataField="ProductBasicId" dataType="number" editorType="dxSelectBox" [disabled]="true"
            [editorOptions]="ProductBasicSelectBoxOptions">
            <dxi-validation-rule type="required" message="成品項目 必填"></dxi-validation-rule>
            <dxo-label text="成品項目"></dxo-label>
        </dxi-item> -->
        <dxi-item dataField="Count" dataType="number" editorType="dxNumberBox" [disabled]="true">
            <dxi-validation-rule type="required" message="數量 必填"></dxi-validation-rule>
            <dxo-label text="工單量"></dxo-label>
        </dxi-item>
        <!-- <dxi-item dataField="MachineNo" [disabled]="true">
            <dxo-label text="機號"></dxo-label>
        </dxi-item> -->
        <dxi-item dataField="DueEndTime" editorType="dxDateBox" [colSpan]="4" [disabled]="true">
            <dxo-label text="預計完工日"></dxo-label>
        </dxi-item>
        <dxi-item dataField="CreateUser" [editorOptions]="UserEditorOptions" editorType="dxSelectBox">
            <dxi-validation-rule type="required" message="操作人員 必填"></dxi-validation-rule>
            <dxo-label text="操作人員"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Remarks" [visible]="false" [disabled]="true">
            <dxo-label text="備註"></dxo-label>
        </dxi-item>

    </dx-form>
    <!-- <br> -->
    <!-- <div class="long-title">
        <h5>採購內容</h5>
    </div> -->
    <dx-data-grid #dataGrid2
        [dataSource]="dataSourceDB"
        [showBorders]="true"
        height="680"
        (onFocusedCellChanging)="onFocusedCellChanging($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onEditingStart)="onEditingStart($event)"
        (onCellPrepared)="onCellPrepared($event)"
        (onRowRemoved)="onRowRemoved($event)"
        (onRowPrepared)="onRowPrepared($event)"
        (onSelectionChanged)="onSelectionChanged($event)"
        (onToolbarPreparing)="onToolbarPreparing($event)"
        (onRowClick)="onRowClick($event)"
        (onCellClick)="cellClick($event)"
        (onEditorPreparing)="onEditorPreparing($event)"
        [showColumnLines]="true"
        [showRowLines]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        hoverStateEnabled="true">
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

        <dxo-editing mode="batch" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
            <dxo-form colCount=4>
                 <dxi-item dataField="SerialNumber"></dxi-item>
                <dxi-item dataField="ProcessId"></dxi-item>
                <dxi-item dataField="ProcessLeadTime"></dxi-item>
                <dxi-item dataField="ProcessTime"></dxi-item>
                <dxi-item dataField="ProcessCost"></dxi-item>
                <dxi-item dataField="ProducingMachine"></dxi-item>
             </dxo-form>
        </dxo-editing>
        <dxo-row-dragging
            [allowReordering]="allowReordering"
            [onReorder]="onReorder"
            [onDragStart]="onDragStart"
            [showDragIcons]="allowReordering"
        ></dxo-row-dragging>
        <dxo-selection mode="multiple" showCheckBoxesMode="always" selectAllMode="page"></dxo-selection>
        <dxi-column type="selection" alignment="center" [width]="30"></dxi-column>
        <dxi-column dataField="SerialNumber" caption="No" dataType="number" alignment="center" [width]="50" [allowEditing]="false"></dxi-column>
        <dxi-column type="buttons" [width]="50" caption="新增" cssClass="addmod">
            <dxi-button name="save" text="存檔"></dxi-button>
            <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
            <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
            <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
            <dxi-button name="undelete" text="取消刪除" icon="redo"></dxi-button>
        </dxi-column>
        <dxi-column dataField="Id" caption="Id" [width]="60" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="ProcessId" caption="製程名稱" editCellTemplate="ProcessEditCellTemplate" [width]="260">
            <dxo-lookup [dataSource]="ProcessBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            <dxi-validation-rule type="required" message="製程名稱 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="Status" caption="目前狀態" alignment="center" [width]="75" [allowEditing]="false" >
            <dxo-lookup [dataSource]="WorkStatusList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column>

        <dxi-column dataField="Type" caption="委外" alignment="center" [width]="50" [allowEditing]="false" >
            <dxo-lookup [dataSource]="listWorkOrderTypes" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="AvailableMCount" caption="可製" [width]="60" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="MCount" caption="報工" [width]="60"></dxi-column>
        <dxi-column dataField="ReCount" caption="完工" [width]="60"></dxi-column>
        <dxi-column dataField="NgCount" caption="NG" [width]="60" [allowEditing]="false" ></dxi-column>
        <dxi-column dataField="ReportCount" caption="良品" [width]="60" dataType="number" editorType="dxNumberBox" [editorOptions]="editorOptions">
            <dxi-validation-rule type="custom" [validationCallback]="validateNumber" message="良品數量 必須 >= 0">
            </dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="ReportNgCount" caption="回報NG" dataType="number" editorType="dxNumberBox" [editorOptions]="editorOptions"></dxi-column>
        <dxi-column dataField="Message" caption="回報說明"></dxi-column>
        <dxi-column dataField="ProcessCost" caption="成本" dataType="number" format="$ #,##0.##;($ #,##0.##)"  [allowEditing]="false" [visible]="false"></dxi-column>
        <!-- <dxi-column dataField="ProducingMachine" caption="機台" [width]="80"></dxi-column> -->
        <dxi-column dataField="ProducingMachine" caption="機台" alignment="center" [width]="75" editCellTemplate="ProducingMachineTemplate" >
            <dxo-lookup [dataSource]="MachineList" displayExpr="Name" valueExpr="Name"></dxo-lookup>
            <!-- <dxi-validation-rule type="required" message="機台 必填"></dxi-validation-rule> -->
        </dxi-column>
        <dxi-column dataField="CreateUser" caption="人員" alignment="center" [width]="75" editCellTemplate="UserTemplate">
            <dxo-lookup [dataSource]="UserList" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
            <!-- <dxi-validation-rule type="required" message="機台 必填"></dxi-validation-rule> -->
        </dxi-column>
        <dxi-column dataField="CodeNo" caption="加工程式" alignment="center" [width]="75"></dxi-column>
        <!-- <dxi-column dataField="DueStartTime" caption="預計開工日" dataType="date" [allowEditing]="false" [width]="120"></dxi-column> -->
        <dxi-column dataField="DueEndTime" caption="預計完工日" [width]="100" dataType="date" [allowEditing]="true" ></dxi-column>
        <dxi-column dataField="ActualStartTime" caption="實際開工日" dataType="date" format="yyyy/MM/dd HH:mm" [width]="150"  [allowEditing]="false"></dxi-column>
        <dxi-column dataField="ActualEndTime" caption="實際完工日" dataType="date" format="yyyy/MM/dd HH:mm" [width]="150" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="Remarks" caption="備註" dataType="varchar"  [allowEditing]="true"></dxi-column>



        <!-- <dxi-column type="buttons">
            <dxi-button name="save" text="存檔"></dxi-button>
            <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
            <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
            <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
        </dxi-column> -->

        <div *dxTemplate="let data of 'ProcessEditCellTemplate'">
            <dx-select-box [value]="data.value" (onValueChanged)="selectvalueChanged($event,data)" [readOnly]="readOnlyProcessId(data)"
                [dataSource]="{ paginate: true, store: { type: 'array', data: ProcessBasicList, key:'Id' } }" valueExpr="Id"
                displayExpr="Name" [searchEnabled]="true"></dx-select-box>
        </div>

        <div *dxTemplate="let data of 'ProducingMachineTemplate'">
            <dx-select-box [value]="data.value" [readOnly]="readOnlyProducingMachine(data)"
                [dataSource]="{ paginate: true, store: { type: 'array', data: MachineList, key:'Name' } }"
                valueExpr="Name" displayExpr="Name" [searchEnabled]="true" (onValueChanged)="data.setValue($event.value)" ></dx-select-box>
            <!-- <dx-text-box [value]="ProducingMachine" (onValueChanged)="data.setValue($event.value)"></dx-text-box> -->
        </div>

        <div *dxTemplate="let data of 'UserTemplate'">
            <dx-select-box [(value)]="data.value" (onValueChanged)="selectUserChanged($event,data)" [readOnly]="readOnlyCreateUser(data)"
                [dataSource]="{ paginate: true, store: { type: 'array', data: UserList, key:'Id' } }" valueExpr="Id"
                displayExpr="Realname" [searchEnabled]="false"></dx-select-box>
            <!-- <dx-text-box [value]="ProducingMachine" (onValueChanged)="data.setValue($event.value)"></dx-text-box> -->
        </div>

    </dx-data-grid>

    <div class="col-auto-12 mt-1">
        <dx-button horizontalAlignment="right" class="pl-3 pr-3 pb-1" text='批次報工' type='default' icon='runner'
            [useSubmitBehavior]="true" (onClick)="onReportClick($event)" (focusStateEnabledChange)="true" >
        </dx-button>
         <dx-button horizontalAlignment="right" class="pl-3 pr-3 pb-1 todo-btn" text='批次完工' type='success' icon='todo'
            [useSubmitBehavior]="true"  (onClick)="onReportClick($event)"
            (focusStateEnabledChange)="true" >
        </dx-button>
        <dx-button horizontalAlignment="right" class="pl-3 pr-3 pb-1 mr-3" stylingMode="outlined" type='default' text='工序暫停' icon='square'
            [useSubmitBehavior]="true" [visible]="stopVisible" (onClick)="onStopClick($event)" (focusStateEnabledChange)="true"></dx-button>
        <dx-button horizontalAlignment="right" class="pl-3 pr-3 pb-1 mr-1" stylingMode="outlined" type='default' text='回復加工' icon='pulldown'
            [useSubmitBehavior]="true" [visible]="stopVisible" (onClick)="onStartClick($event)" (focusStateEnabledChange)="true"></dx-button>
        <dx-button horizontalAlignment="right" text='更新儲存' type='success' icon='save' [useSubmitBehavior]="true"
            class="pl-3 pr-3 pb-1 mr-3" (onClick)="UpdateOnClick($event)" [visible]="!modVisible"></dx-button>
        <!-- <dx-button horizontalAlignment="right" text='取消編輯' type='danger' icon='close' stylingMode="contained"
            class="pl-3 py-1 pr-3 mr-3" (onClick)="CancelOnClick($event)" [visible]="!modVisible"></dx-button> -->
    </div>
</form>

<dx-popup [showTitle]="true" title="製程報工" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="1000"
    [height]="ReportHeight" [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-workorder-report (childOuter)="creatpopup_result($event)" [itemkeyval]="itemkey" [serialkeyval]="serialkey" [popupkeyval]="creatpopupVisible"
            [modval]="mod" [randomkey]="randomkey"> </app-workorder-report>
    </div>
</dx-popup>
