<form action="">
    <dx-form id="form" [formData]="itemkeyval" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">

        <dxi-item dataField="WorkOrderHeadId" [visible]="false">
            <dxo-label text="工單主檔ID"></dxo-label>
        </dxi-item>
        <dxi-item dataField="CreateTime" editorType="dxDateBox" [editorOptions]="CreateTimeDateBoxOptions"
            [visible]="modVisible">
            <dxi-validation-rule type="required" message="建立日期 必填"></dxi-validation-rule>
            <dxo-label text="建立日期"></dxo-label>
        </dxi-item>
        <dxi-item dataField="WorkOrderNo" [disabled]="true" [visible]="!modVisible">
            <dxo-label text="工單號"></dxo-label>
        </dxi-item>
        <!-- <dxi-item dataField="OrderDetailId" dataType="number" editorType="dxSelectBox"
            [editorOptions]="ProductBasicSelectBoxOptions">
            <dxi-validation-rule type="required" message="訂單 必填"></dxi-validation-rule>
            <dxo-label text="訂單"></dxo-label>
        </dxi-item> -->
        <dxi-item dataField="ProductBasicId" dataType="number" editorType="dxSelectBox" [disabled]="true"
            [editorOptions]="ProductBasicSelectBoxOptions">
            <dxi-validation-rule type="required" message="成品項目 必填"></dxi-validation-rule>
            <dxo-label text="成品項目"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Count" dataType="number" editorType="dxNumberBox" [editorOptions]="NumberBoxOptions"
            [disabled]="true">
            <dxi-validation-rule type="required" message="數量 必填"></dxi-validation-rule>
            <dxo-label text="數量"></dxo-label>
        </dxi-item>
        <dxi-item dataField="MachineNo" [disabled]="true">
            <dxo-label text="機號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Remarks" [visible]="false" [disabled]="true">
            <dxo-label text="備註"></dxo-label>
        </dxi-item>

    </dx-form>

    <!-- <br> -->
    <!-- <div class="long-title">
        <h5>採購內容</h5>
    </div> -->
    <dx-data-grid #dataGrid2 [dataSource]="dataSourceDB" [showBorders]="true" height="580"
        (onFocusedCellChanging)="onFocusedCellChanging($event)" (onInitNewRow)="onInitNewRow($event)"
        (onEditingStart)="onEditingStart($event)" (onCellPrepared)="onCellPrepared($event)"
        (onRowRemoved)="onRowRemoved($event)" (onSelectionChanged)="onSelectionChanged()">

        <dxo-row-dragging [allowReordering]="true" [onReorder]="onReorder" [showDragIcons]="false"></dxo-row-dragging>

        <dxo-editing mode="batch" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="false">
            <dxo-form colCount=4>
                <dxi-item dataField="SerialNumber"></dxi-item>
                <dxi-item dataField="ProcessId"></dxi-item>
                <dxi-item dataField="ProcessLeadTime"></dxi-item>
                <dxi-item dataField="ProcessTime"></dxi-item>
                <dxi-item dataField="ProcessCost"></dxi-item>
                <dxi-item dataField="ProducingMachine"></dxi-item>
            </dxo-form>
        </dxo-editing>
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
            [enterKeyDirection]="enterKeyDirection">
        </dxo-keyboard-navigation>
        <dxo-paging [enabled]="false">
        </dxo-paging>
        <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
        <dxi-column dataField="SerialNumber" caption="No" dataType="number" [width]="50" [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="ProcessId" caption="製程名稱" editCellTemplate="ProcessEditCellTemplate" [width]="260"
            [allowEditing]="false">
            <dxo-lookup [dataSource]="ProcessBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            <dxi-validation-rule type="required" message="製程名稱 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="ReCount" caption="完工數量" dataType="number" [width]="80">
        </dxi-column>
        <dxi-column dataField="Remarks" caption="回報說明">
        </dxi-column>
        <dxi-column dataField="ProcessCost" caption="成本" dataType="number" [width]="80" [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="ProducingMachine" caption="機台"></dxi-column>

        <dxi-column dataField="DueStartTime" caption="預計開工日" dataType="date" [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="DueEndTime" caption="預計完工日" dataType="date" [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="ActualStartTime" caption="實際開工日" dataType="date" format="shortDateShortTime"
            [allowEditing]="false"></dxi-column>
        <dxi-column dataField="ActualEndTime" caption="實際完工日" dataType="date" format="shortDateShortTime"
            [allowEditing]="false"></dxi-column>

        <dxi-column type="buttons">
            <dxi-button name="save" text="存檔"></dxi-button>
            <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
            <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
            <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
        </dxi-column>

    </dx-data-grid>
</form>
