<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">

        <dxi-item dataField="AdjustNo" [disabled]="false">
            <dxi-validation-rule type="required" message="調整單號 必填"></dxi-validation-rule>
            <dxo-label text="調整單號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="LinkOrder">
            <dxo-label text="關連單號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Remarks" [colSpan]="colCount">
            <dxo-label text="備註"></dxo-label>
        </dxi-item>

    </dx-form>
    <br>
    <div class="long-title">
        <h5>調整單內容</h5>
    </div>
    <dx-data-grid
        [dataSource]="dataSourceDB"
        [showBorders]="true"
        keyExpr="Serial"
        height="500"
        (onFocusedCellChanging)="onFocusedCellChanging($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowInserting)="onRowInserting($event)"
        (onEditingStart)="onEditingStart($event)"
        (onCellPrepared)="onCellPrepared($event)"
        (onRowValidating)="onRowValidating($event)">

        <dxo-editing mode="batch" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
            <dxo-form colCount=4>
                <dxi-item dataField="TempId"></dxi-item>
                <!-- <dxi-item dataField="DataType" [visible]="false"></dxi-item>
                <dxi-item dataField="DataId" [visible]="false"></dxi-item> -->
                <dxi-item dataField="WarehouseId"></dxi-item>
                <dxi-item dataField="Quantity"></dxi-item>
                <dxi-item dataField="Price"></dxi-item>
                <dxi-item dataField="PriceAll"></dxi-item>
                <dxi-item dataField="Unit"></dxi-item>
                <dxi-item dataField="UnitCount"></dxi-item>
                <dxi-item dataField="UnitPrice"></dxi-item>
                <dxi-item dataField="UnitPriceAll"></dxi-item>
                <dxi-item dataField="WorkPrice"></dxi-item>
                <dxi-item dataField="Remark"></dxi-item>
            </dxo-form>
        </dxo-editing>
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
            [enterKeyDirection]="enterKeyDirection">
        </dxo-keyboard-navigation>
        <dxo-paging [enabled]="false">
        </dxo-paging>

        <dxi-column dataField="TempId" caption="品號" [width]="260" editCellTemplate="TempIdEditCellTemplate">
            <dxo-lookup [dataSource]="BasicDataList" displayExpr="DataNo" valueExpr="TempId"></dxo-lookup>
            <dxi-validation-rule type="required" message="品號 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="WarehouseId" caption="倉別" [width]="260" editCellTemplate="WarehouseEditCellTemplate">
            <dxo-lookup [dataSource]="WarehouseListAll" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            <dxi-validation-rule type="required" message="倉別 必填"></dxi-validation-rule>
        </dxi-column>

        <!-- <dxi-column dataField="DataType" caption="類型" [visible]="false" editCellTemplate="DataTypeEditCellTemplate">
            <dxo-lookup [dataSource]="BasicDataList" displayExpr="DataType" valueExpr="TempId"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="DataId" caption="品號" [visible]="false" editCellTemplate="DataIdEditCellTemplate">
            <dxo-lookup [dataSource]="BasicDataList" displayExpr="DataId" valueExpr="TempId"></dxo-lookup>
        </dxi-column> -->

        <dxi-column dataField="Quantity" caption="數量" dataType="number" [width]="100" editCellTemplate="QuantityEditCellTemplate">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <!-- <dxi-column dataField="Price" caption="單價" dataType="number" [width]="80" editCellTemplate="PriceEditCellTemplate">
        </dxi-column>
        <dxi-column dataField="PriceAll" caption="總金額" dataType="number" [width]="80" editCellTemplate="PriceAllEditCellTemplate">
        </dxi-column> -->
        <!-- <dxi-column dataField="UnitCount" caption="計價數量" dataType="number" editCellTemplate="UnitQuantityEditCellTemplate" [width]="100"></dxi-column>
        <dxi-column dataField="Unit" caption="單位" [width]="100"></dxi-column>
        <dxi-column dataField="UnitPrice" caption="計價單價" dataType="number" editCellTemplate="UnitPriceEditCellTemplate" [width]="100"></dxi-column>
        <dxi-column dataField="UnitPriceAll" caption="計價總額" dataType="number" editCellTemplate="UnitPriceAllEditCellTemplate" [width]="100"></dxi-column>
        <dxi-column dataField="WorkPrice" caption="加工費用" dataType="number" [width]="100"></dxi-column> -->
        <dxi-column dataField="Remark" caption="備註"></dxi-column>

        <dxi-column type="buttons">
            <dxi-button name="save" text="存檔"></dxi-button>
            <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
            <!-- <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button> -->
            <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
        </dxi-column>

        <div *dxTemplate="let data of 'TempIdEditCellTemplate'">
            <dx-select-box [value]="data.value" (onValueChanged)="TempIdValueChanged($event,data)"
                [dataSource]="{ paginate: true, store: { type: 'array', data: BasicDataList, key:'TempId' } }"
                valueExpr="TempId" displayExpr="DataNo" [searchEnabled]="true"></dx-select-box>
        </div>
        <div *dxTemplate="let data of 'WarehouseEditCellTemplate'">
            <dx-select-box [value]="Warehouseval" (onValueChanged)="WarehouseIdValueChanged($event,data)" (onInitialized)="onInitialized(Warehouseval,data)"
                [dataSource]="WarehouseList" valueExpr="Id" displayExpr="Name" [searchEnabled]="true"></dx-select-box>
        </div>
        <div *dxTemplate="let data of 'QuantityEditCellTemplate'">
            <dx-number-box [value]='Quantityval' (onValueChanged)="QuantityValueChanged($event,data)" [min]="minValue"
            [mode]="'number'" [format]="'#0.0'" [value]="0" [showSpinButtons]="true"></dx-number-box>
        </div>
        <div *dxTemplate="let data of 'PriceEditCellTemplate'">
            <dx-number-box [value]='Priceval' (onValueChanged)="PriceValueChanged($event,data)"
                [showSpinButtons]="true"></dx-number-box>
        </div>
        <div *dxTemplate="let data of 'PriceAllEditCellTemplate'">
            <dx-number-box [value]='PriceAllval' (onValueChanged)="data.setValue($event.value)" [showSpinButtons]="true">
            </dx-number-box>
        </div>
        <div *dxTemplate="let data of 'UnitQuantityEditCellTemplate'">
            <dx-number-box [value]='UnitQuantityval' (onValueChanged)="UnitQuantityValueChanged($event,data)" min="1"
                [showSpinButtons]="true"></dx-number-box>
        </div>
        <div *dxTemplate="let data of 'UnitPriceEditCellTemplate'">
            <dx-number-box [value]='UnitPriceval' (onValueChanged)="UnitPriceValueChanged($event,data)"
                [showSpinButtons]="true"></dx-number-box>
        </div>
        <div *dxTemplate="let data of 'UnitPriceAllEditCellTemplate'">
            <dx-number-box [value]='UnitPriceAllval' (onValueChanged)="data.setValue($event.value)" [showSpinButtons]="true">
            </dx-number-box>
        </div>
        <!-- <div *dxTemplate="let data of 'DataTypeEditCellTemplate'">
            <dx-number-box [value]='DataType' (onValueChanged)="data.setValue($event.value)" [showSpinButtons]="true"></dx-number-box>
        </div>
        <div *dxTemplate="let data of 'DataIdEditCellTemplate'">
            <dx-number-box [value]='DataId' (onValueChanged)="data.setValue($event.value)" [showSpinButtons]="true"></dx-number-box>
        </div> -->

    </dx-data-grid>

    <div class="col-auto-12 mt-1">
        <dx-button #myButton horizontalAlignment="right" class="pl-3 pr-3" text='存檔' type='success' icon='save' [useSubmitBehavior]="true"
            [disabled]="buttondisabled"></dx-button>
        <dx-button horizontalAlignment="right" class="pl-3 pr-3" text='更新調整單號' type='default' icon='refresh' [useSubmitBehavior]="false"
            (onClick)="refreshAdjustNo()"></dx-button>
        <!-- <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions">
            </dxi-item> -->
    </div>

</form>
