<div class="row">
    <div class="col-md-10 col-sm-10">
    </div>
    <div class="col-md-1 col-sm-1">
    </div>
    <div class="col-md-1 col-sm-1">
        <!-- <dx-button text="轉採購單" type="default" (onClick)="to_purchaseClick($event)"></dx-button> -->
    </div>
</div>

<dx-data-grid [dataSource]="dataSourceDB" [showBorders]="true" [columnAutoWidth]="true" (onDataErrorOccurred)="onDataErrorOccurred($event)" keyExpr="id">
    <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
    <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>
    <dxi-column dataField="DataId" caption="品號" [allowEditing]="false">
        <dxo-lookup [dataSource]="MaterialList" displayExpr="MaterialNo" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="DataId" caption="品名" [allowEditing]="false">
        <dxo-lookup [dataSource]="MaterialList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="DataId" caption="規格" [allowEditing]="false">
        <dxo-lookup [dataSource]="MaterialList" displayExpr="Specification" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="DeliveryTime" caption="預交日期" dataType="date"></dxi-column>
    <dxi-column dataField="PurchaseCount" caption="已交貨數量" dataType="number"></dxi-column>
    <dxi-column dataField="Quantity" caption="數量" dataType="number"></dxi-column>
    <dxi-column dataField="OriginPrice" caption="原單價" dataType="number" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="Price" caption="金額" dataType="number" [allowEditing]="false"></dxi-column>
    <dxi-column type="buttons">
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>
</dx-data-grid>

