<div class="row no-gutters">
    <div class="col-md-6 col-sm-8">
    </div>
    <div class="col-md-2 col-sm-2">
    </div>
    <div class="col-md-4 col-sm-1" style="text-align: right;">
            <dx-button text="建立工單" type="default" (onClick)="to_workClick($event)" location="after"></dx-button>
    </div>
</div>

<dx-data-grid [dataSource]="dataSourceDB" [showBorders]="true" [columnAutoWidth]="true"
(onDataErrorOccurred)="onDataErrorOccurred($event)" keyExpr="id" (onRowUpdated)="onRowUpdated($event)" (onRowPrepared)="onRowPrepared($event)" [rowAlternationEnabled]="true"><dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    <!-- <dxo-editing mode="batch" [allowAdding]="false" [allowUpdating]="status" [allowDeleting]="status" ></dxo-editing> -->
    <dxo-editing mode="form" [allowAdding]="false" [allowUpdating]="status" [allowDeleting]="status">
        <dxo-form colCount=4 [width]="1500">
        </dxo-form>
    </dxo-editing>
    <dxo-summary [recalculateWhileEditing]="true">
        <dxi-total-item
            [customizeText]="customizeText" column="PurchaseDetails.DataId" summaryType="count">
        </dxi-total-item>
        <dxi-total-item i-total-item valueFormat="$ #,##0.##;($ #,##0.##)" column="PurchaseDetails.Price" summaryType="sum">
        </dxi-total-item>
        <dxi-total-item i-total-item displayFormat="{0}個" column="PurchaseDetails.Quantity" summaryType="sum">
        </dxi-total-item>
    </dxo-summary>

    <dxi-column dataField="PurchaseDetails.DataType" caption="類別" alignment="center" [allowEditing]="false" [width]="70" [fixed]="true">
        <dxo-lookup [dataSource]="ItemTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="PurchaseDetails.DataId" caption="品號/規格" [allowEditing]="true" [fixed]="true">
        <dxo-lookup [dataSource]="MaterialList" displayExpr="MaterialNo" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="MaterialBasics.ActualSpecification" caption="實際規格" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="PurchaseDetails.DataName" caption="品名" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="PurchaseDetails.DeliveryTime" caption="預交日期" dataType="date"></dxi-column>
    <dxi-column dataField="PurchaseDetails.WarehouseId" caption="入庫倉別" [allowEditing]="true">
        <dxo-lookup [dataSource]="WarehouseList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="PurchaseDetails.WarehouseId" caption="出庫倉別" [allowEditing]="true">
        <dxo-lookup [dataSource]="WarehouseList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="PurchaseDetails.Quantity" caption="表處數量" dataType="number" [allowEditing]="true" [width]="100"></dxi-column>
    <dxi-column dataField="PurchaseDetails.Delivered" caption="已交貨數量" dataType="number" [allowEditing]="false" [width]="100"></dxi-column>
    <dxi-column dataField="PurchaseDetails.Ok" caption="合格數量" dataType="number" editCellTemplate="QuantityEditCellTemplate"></dxi-column>
    <dxi-column dataField="PurchaseDetails.NotOk" caption="不合格數量" dataType="number" editCellTemplate="QuantityEditCellTemplate"></dxi-column>
    <dxi-column dataField="PurchaseDetails.Repair" caption="可修數量" dataType="number" editCellTemplate="QuantityEditCellTemplate"></dxi-column>
    <dxi-column dataField="PurchaseDetails.Unrepair" caption="不可修數量" dataType="number" editCellTemplate="QuantityEditCellTemplate"></dxi-column>
    <dxi-column dataField="PurchaseDetails.InNg" caption="廠內NG數量" dataType="number" editCellTemplate="QuantityEditCellTemplate"></dxi-column>
    <dxi-column dataField="PurchaseDetails.OutNg" caption="廠外NG數量" dataType="number" editCellTemplate="QuantityEditCellTemplate"></dxi-column>
    <dxi-column dataField="PurchaseDetails.Undelivered" caption="未交數量" dataType="number" editCellTemplate="QuantityEditCellTemplate" [allowEditing]="false"></dxi-column>

    <dxi-column dataField="PurchaseDetails.OriginPrice" caption="原單價" dataType="number" format="$ #,##0.##;($ #,##0.##)" editCellTemplate="OriginPriceEditCellTemplate"></dxi-column>
    <dxi-column dataField="PurchaseDetails.Price" caption="金額" dataType="number" format="$ #,##0.##;($ #,##0.##)" [allowEditing]="false"></dxi-column>
    <div *dxTemplate="let data of 'QuantityEditCellTemplate'">
        <dx-number-box [value]='data.value'  (onValueChanged)="QuantityValueChanged($event,data)" min="1" [format]="'#0'" [showSpinButtons]="true"></dx-number-box>
    </div>
    <div *dxTemplate="let data of 'OriginPriceEditCellTemplate'">
        <dx-number-box [value]='data.value' (onValueChanged)="OriginValueChanged($event,data)" [showSpinButtons]="true"></dx-number-box>
    </div>
    <dxi-column type="buttons" [width]="80" [fixed]="true">
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>

    <dxi-column dataField="" caption="工單" cellTemplate="" [allowEditing]="false" [width]="150" [fixed]="true" [fixedPosition]="'right'"></dxi-column>
    <dxi-column dataField="PurchaseDetails.WorkOrderLog" caption="原工單" cellTemplate="diffCellTemplate2" [allowEditing]="false" [width]="150" [fixed]="true" [fixedPosition]="'right'"></dxi-column>

    <div *dxTemplate="let d of 'diffCellTemplate2'" >
        <ul style="list-style-type:none; text-align: left;">
            <li *ngFor ="let item of distinct(d)">
                <dx-check-box  [value]="checkBoxValue" text={{item}}  (onValueChanged)="handleValueChange($event)"></dx-check-box>
            </li>
        </ul>
    </div>
</dx-data-grid>

<dx-popup [showTitle]="true" title="轉工單" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760"
    [(visible)]="popupVisibleWork">
    <div *dxTemplate="let data of 'content'">
        <app-creatprocess-control (childOuter)="popup_result($event)" [modval]="mod"></app-creatprocess-control>
        <!-- <app-ordertowork (childOuter)="popup_result($event)" [Oitemkeyval]="Otoworkkey" [itemkeyval]="toworkkey"></app-ordertowork> -->
    </div>
</dx-popup>

