<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">

        <dxi-item dataField="WarehouseId" dataType="number" editorType="dxSelectBox" [editorOptions]="selectBoxOptions">
            <dxi-validation-rule type="required" message="銷貨倉 必填"></dxi-validation-rule>
            <dxo-label text="銷貨倉"></dxo-label>
        </dxi-item>

        <dxi-item itemType="button" alignment="right" [buttonOptions]="buttonOptions" [disabled]="buttondisabled"></dxi-item>
    </dx-form>
</form>

