<div class="headerblock">
    <app-headerfont></app-headerfont>
    <div class="buttongroup">
        <dx-button
            class="insertbtn"
            stylingMode="contained"
            text="新增機台"
            type="success"
            [width]="120"
            (onClick)="creatdata()">
        </dx-button>
    </div>
</div>

<dx-data-grid
    [dataSource]="dataSourceDB"
    showBorders="true"
    keyExpr="id"
    [focusedRowEnabled]="true"
    (onDataErrorOccurred)="onDataErrorOccurred($event)"
    [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
    (onFocusedRowChanging)="onFocusedRowChanging($event)"
    (onFocusedRowChanged)="onFocusedRowChanged($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onSelectionChanged)="selectionChanged($event)"
    hoverStateEnabled="true"
    [rowAlternationEnabled]="true">

    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 100]" [showInfo]="true">
    </dxo-pager>
    <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="true">
        <dxo-form>
            <dxi-item  dataField="Url"></dxi-item>
            <dxi-item  dataField="Port"></dxi-item>
            <dxi-item  dataField="ModelId"></dxi-item>
            <dxi-item  dataField="ControlBrandId"></dxi-item>
            <dxi-item dataField="UserId"></dxi-item>
        </dxo-form>
        <dxo-popup>
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type: 'success', text: '存檔', onClick: saveClickHandler }">
            </dxi-toolbar-item>
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type:'danger', text: '取消', onClick: cancelClickHandler }">
            </dxi-toolbar-item>
        </dxo-popup>
    </dxo-editing>

    <dxi-column dataField="Name" alignment="center" caption="機台" sortOrder="asc">
        <!-- <dxo-lookup [dataSource]="MachineList" displayExpr="Name" valueExpr="Name"></dxo-lookup> -->
     </dxi-column>
     <dxi-column dataField="Url" caption="連線地址" ></dxi-column>
    <!-- <dxi-column dataField="Port" caption="連線埠號" ></dxi-column> -->
    <!-- <dxi-column dataField="ModelId" caption="機台種類" ></dxi-column>
    <dxi-column dataField="ControlBrandId" caption="控制器種類"></dxi-column> -->
    <dxi-column dataField="UserId" caption="負責人" ></dxi-column>

    <dxi-column type="buttons">
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>

</dx-data-grid>

<dx-popup [showTitle]="true" title="新增機台" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="700" [height]="400"
    [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatmachine (childOuter)="creatpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod"
        [exceldata]="exceldata"></app-creatmachine>
    </div>
</dx-popup>


