<!-- <p>所有訂單</p> -->
<div class="headerblock">
    <div class="headerfont font1">庫存管理</div>
    <div class="triangle"></div>
    <div class="lefttriangle">
        <div class="lefttriangle1"></div>
        <div class="lefttriangle2"></div>
    </div>
    <div class="headerfont font2">半成品庫存</div>
    <div class="buttongroup">
        <dx-button
            class="adjustbtn"
            stylingMode="contained"
            text="庫存調整單"
            type="normal"
            [width]="120"
            (onClick)="creatAdjust()">
        </dx-button>
        <dx-button
            class="insertbtn"
            stylingMode="contained"
            text="新增半成品"
            type="success"
            [width]="120"
            (onClick)="creatdata()">
        </dx-button>
        <!-- <dx-file-uploader #fileUploader selectButtonText="匯入" labelText="" [uploadUrl]="uploadUrl" [multiple]="false"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.csv"
            uploadMode="instantly" (onUploaded)="onUploaded($event)"></dx-file-uploader> -->
    </div>
</div>

<dx-data-grid [dataSource]="dataSourceDB" showBorders="true" keyExpr="id" [focusedRowEnabled]="true"
    [masterDetail]="{ enabled: true, template: 'detail' }" (onDataErrorOccurred)="onDataErrorOccurred($event)"
    [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow" (onFocusedRowChanging)="onFocusedRowChanging($event)"
    (onRowPrepared)="onRowPrepared($event)" (onFocusedRowChanged)="onFocusedRowChanged($event)"
    (onEditorPreparing)="onEditorPreparing($event)" (onEditingStart)="onEditingStart($event)"
    (onSelectionChanged)="selectionChanged($event)" (onCellPrepared)="onCellPrepared($event)" [showColumnLines]="true"
    [showRowLines]="false" hoverStateEnabled="true" [rowAlternationEnabled]="true">

    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20]" [showInfo]="true" visible="true">
    </dxo-pager>
    <dxo-editing mode="popup" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="true">
        <dxo-form>
            <dxi-item dataField="WiproductNo" [editorOptions]="{ disabled: true }"></dxi-item>
            <dxi-item dataField="Name"></dxi-item>
            <!-- <dxi-item dataField="Quantity" [editorOptions]="{ disabled: true }"></dxi-item>
            <dxi-item dataField="QuantityLimit"></dxi-item> -->
            <dxi-item dataField="Specification"></dxi-item>
            <dxi-item dataField="Property"></dxi-item>
            <dxi-item dataField="Price"></dxi-item>
            <!-- <dxi-item dataField="MaterialId"></dxi-item>
            <dxi-item dataField="WarehouseId"></dxi-item> -->
            <dxi-item dataField="WiproductNumber"></dxi-item>
            <dxi-item dataField="TotalCount"></dxi-item>
        </dxo-form>
        <dxo-popup [showTitle]="true" title="修改半成品基本資訊"  [width]="800" [height]="300">
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton"
                [options]="{ type: 'success', text: '存檔', onClick: saveClickHandler }">
            </dxi-toolbar-item>
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton"
                [options]="{ type:'danger', text: '取消', onClick: cancelClickHandler }">
            </dxi-toolbar-item>
        </dxo-popup>
    </dxo-editing>

    <dxi-column dataField="WiproductNo" caption="主件品號" [width]="250"></dxi-column>
    <dxi-column dataField="Name" caption="主件品名"></dxi-column>
    <dxi-column dataField="Specification" caption="規格"></dxi-column>
    <dxi-column dataField="Property" caption="廠內規格"></dxi-column>
    <dxi-column dataField="Price" caption="單價"></dxi-column>
    <!-- <dxi-column dataField="MaterialId" caption="元件品號" [width]="200">
        <dxo-lookup [dataSource]="MaterialList" displayExpr="MaterialNo" valueExpr="Id">
        </dxo-lookup>
    </dxi-column> -->
    <!-- <dxi-column dataField="SubInventory" caption="存放庫別"></dxi-column> -->
    <!-- <dxi-column dataField="WarehouseId" caption="存放庫別" [width]="100">
        <dxo-lookup [dataSource]="WarehouseList" displayExpr="Name" valueExpr="Id">
        </dxo-lookup>
    </dxi-column> -->
    <dxi-column dataField="WiproductNumber" caption="廠內品號"></dxi-column>
    <dxi-column dataField="TotalCount" caption="總數量"></dxi-column>
    <dxi-column type="buttons">
        <!-- <dxi-button text="複製" hint="複製" icon="repeat" [onClick]="cloneIconClick"></dxi-button> -->
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>

    <div *dxTemplate="let item of 'detail'">
        <app-wiproduct-list [masterkey]="item.key" [itemval]="item.row"></app-wiproduct-list>
    </div>

</dx-data-grid>

<dx-popup [showTitle]="true" title="新增半成品" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="800"
    [height]="360" [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatwiproduct-basic (childOuter)="creatpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod"
            [exceldata]="exceldata"></app-creatwiproduct-basic>
    </div>
</dx-popup>
<dx-popup [showTitle]="true" title="新建庫存調整單" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="1000" [height]="760" [(visible)]="adjustpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-inventory-list (childOuter)="adjustpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod"
            [exceldata]="exceldata"></app-inventory-list>
    </div>
</dx-popup>
<dx-popup [showTitle]="true" title="調整半成品庫存" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="400"
    [height]="350" [(visible)]="editpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-inventory-change (childOuter)="editpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod"
            [exceldata]="exceldata"></app-inventory-change>
    </div>
</dx-popup>
