<!-- <p>所有訂單</p> -->
<div class="headerblock">
    <div class="headerfont font1">訂單管理</div>
    <div class="triangle"></div>
    <div class="lefttriangle">
        <div class="lefttriangle1"></div>
        <div class="lefttriangle2"></div>
    </div>
    <div class="headerfont font2">客戶訂單</div>
    <div class="buttongroup">
        <dx-file-uploader #fileUploader selectButtonText="匯入訂單" abelText="" [uploadUrl]="uploadUrl" [multiple]="false"
            [width]="130" [uploadHeaders]="uploadHeaders"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.csv"
            uploadMode="instantly" (onUploaded)="onUploaded($event)" [visible]="app.checkAddRoles()">
        </dx-file-uploader>
        <dx-button class="insertbtn" stylingMode="contained" text="新增訂單" type="success" [width]="130"
            (onClick)="creatdata()" [visible]="app.checkAddRoles()">
        </dx-button>
    </div>
</div>
<div id="form-container">
    <div class="col-auto-12 mt-2 mb-1 ml-4">
        <form action="">
            <dx-form id="form" [formData]="formData" [colCount]="5">
                <dxi-item dataField="MachineNo" [editorOptions]="editorOptions">
                    <dxo-label text="機號查詢"></dxo-label>
                </dxi-item>
                <dxi-item dataField="ProductNo" [editorOptions]="editorOptions">
                    <dxo-label text="品號查詢"></dxo-label>
                </dxi-item>
                <!-- <dx-button class="insertbtn" text='查詢' type='success' icon='save' [useSubmitBehavior]="true"
                    (onClick)="onClickQuery($event)">
                </dx-button> -->
            </dx-form>
        </form>
    </div>
</div>

<dx-data-grid [dataSource]="dataSourceDB" showBorders="true" keyExpr="id" dateSerializationFormat='yyyy/MM/dd HH:mm:ss'
    [masterDetail]="{ enabled: true, template: 'detail' }" (onEditorPreparing)="onEditorPreparing($event)"
    (onSelectionChanged)="selectionChanged($event)" (onDataErrorOccurred)="onDataErrorOccurred($event)"
    [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow" (onFocusedRowChanging)="onFocusedRowChanging($event)"
    (onRowPrepared)="onRowPrepared($event)" (onFocusedRowChanged)="onFocusedRowChanged($event)"
    (onEditingStart)="onEditingStart($event)" (onSelectionChanged)="selectionChanged($event)"
    (onCellPrepared)="onCellPrepared($event)" hoverStateEnabled="true" [showColumnLines]="true" [showRowLines]="false"
    [rowAlternationEnabled]="true" [focusedRowEnabled]="true" [remoteOperations]="remoteOperations">

    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 100]" [showInfo]="true">
    </dxo-pager>
    <!-- <dxo-selection mode="multiple"></dxo-selection> -->
    <!-- <dxo-editing mode="form" [allowAdding]="app.checkAddRoles()" [allowUpdating]="app.checkUpdateRoles()" [allowDeleting]="app.checkDelRoles()"> -->
    <dxo-editing mode="form" [allowAdding]="false" [allowUpdating]="app.checkUpdateRoles()" [allowDeleting]="app.checkDelRoles()">
        <dxo-form colCount=4>
            <dxi-item dataField="OrderNo"></dxi-item>
            <dxi-item dataField="CustomerNo"></dxi-item>
            <dxi-item dataField="Customer"></dxi-item>
            <dxi-item dataField="OrderDate"></dxi-item>
            <dxi-item dataField="ReplyDate"></dxi-item>
            <dxi-item dataField="Remarks"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <dxi-column dataField="OrderNo" caption="訂單單號" sortOrder="desc" [width]="120">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="CustomerNo" caption="客戶單號" [width]="180"></dxi-column>
    <dxi-column dataField="Customer" caption="客戶名稱">
        <dxo-lookup [dataSource]="Customerlist" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Status" caption="狀態" width="200">
        <dxo-lookup [dataSource]="listOrderStatus" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="OrderDate" caption="預交日" dataType="date"></dxi-column>
    <dxi-column dataField="ReplyDate" caption="回覆日期" dataType="date"></dxi-column>
    <dxi-column dataField="Remarks" caption="備註"></dxi-column>
    <dxi-column dataField="CreateUser" caption="建立人員" alignment="center" [width]="100">
        <dxo-lookup [dataSource]="UserList" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="UpdateUser" caption="更新人員" alignment="center" [width]="100">
        <dxo-lookup [dataSource]="UserList" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column type="buttons">
        <dxi-button text="複製" hint="複製" icon="copy" [onClick]="cloneIconClick"></dxi-button>
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>
    <!-- <dxi-column type="buttons">
        <dxi-button hint="to_sale" text="轉鎖貨" [onClick]="to_saleClick"></dxi-button>
    </dxi-column> -->

    <div *dxTemplate="let item of 'detail'">
        <app-orderdetail-list [itemkey]="item.key" [ProductBasicList]="ProductBasicList"
            (childOuter)="updatepopup_result($event)"></app-orderdetail-list>
    </div>

</dx-data-grid>
<dx-popup [showTitle]="true" title="新增訂單" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="1800"
    [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatorder (childOuter)="creatpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod"
            [exceldata]="exceldata"></app-creatorder>
    </div>
</dx-popup>
