
<div class="headerblock">
    <app-headerfont></app-headerfont>
    <div class="buttongroup">
        <dx-button
            class="insertbtn"
            stylingMode="contained"
            text="新增保養"
            type="success"
            [width]="120"
            (onClick)="creatdata()">
        </dx-button>
    </div>
</div>
<dx-data-grid #dsDB [dataSource]="dataSourceDB" showBorders="true" keyExpr="Id" hoverStateEnabled="true" rootValue="0"
    [showColumnLines]="false" [showRowLines]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="true"
    [columnAutoWidth]="false" [showBorders]="true" [masterDetail]="{ enabled: false, template: 'detail' }">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-paging [enabled]="true" [pageSize]="15">
    </dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50 , 100]" [showInfo]="true"
        [showNavigationButtons]="true" visible="true">
    </dxo-pager>
    <!-- <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="true" [paging]="true" [summary]="true">
        </dxo-remote-operations> -->
    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="false">
        <dxo-form>
            <dxi-item dataField="ActualSpecification"></dxi-item>
        </dxo-form>
        <dxo-popup>
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton"
                [options]="{ type: 'success', text: '存檔', onClick: saveClickHandler }">
            </dxi-toolbar-item>
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton"
                [options]="{ type:'danger', text: '取消', onClick: cancelClickHandler }">
            </dxi-toolbar-item>
        </dxo-popup>
    </dxo-editing>
    <dxi-column dataField="machine" caption="機台" [filterValue]="" dataType="string" >
    </dxi-column>
    <dxi-column dataField="item" caption="項目" dataType="string" ></dxi-column>
    <dxi-column dataField="cycle" caption="週期(月)" dataType="string" ></dxi-column>

    <dxi-column dataField="lastTime" caption="最近保養時間" dataType="date" format="shortDateShortTime" [minWidth]="220" ></dxi-column>
    <dxi-column dataField="nextTime" caption="下次保養時間" dataType="date" format="shortDateShortTime" [minWidth]="220" ></dxi-column>

    <dxi-column caption="保養" cellTemplate="cellTemplatem" alignment="center" width="90" [allowEditing]="false">
        <div *dxTemplate="let data of 'cellTemplatem'">
            <a
                class="insertbtn ml-2 dx-button dx-button-success dx-button-mode-contained dx-widget dx-button-has-text">保養</a>
        </div>
    </dxi-column>
    <dxi-column caption="歷史紀錄" cellTemplate="cellTemplate" width="100"></dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">
        <dx-button icon="detailslayout" type="normal"></dx-button>
    </div>
    <dxi-column type="buttons">
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
    </dxi-column>

    <!-- <div *dxTemplate="let item of 'detail'">
            <app-bomlist [itemkeyval]="item.key" [bomMod]="bomMod"></app-bomlist>
        </div> -->
</dx-data-grid>
