<div class="headerblock">
    <app-headerfont></app-headerfont>
    <!-- <div class="buttongroup">
        <dx-button class="insertbtn" stylingMode="contained" text="新增刀具" type="success" [width]="120"
            (onClick)="creatdata()">
        </dx-button>
    </div> -->
</div>
<dx-data-grid [dataSource]="dataSourceDB" [showBorders]="true" keyExpr="Id"
    (onFocusedCellChanging)="onFocusedCellChanging($event)" (onInitNewRow)="onInitNewRow($event)"
    (onRowInserted)="onRowInserted($event)" (onEditingStart)="onEditingStart($event)"
    (onCellPrepared)="onCellPrepared($event)" (onRowValidating)="onRowValidating($event)">
    <dxo-editing mode="batch" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
        <dxo-form colCount=4>
            <dxi-item dataField="UserId"></dxi-item>
            <dxi-item dataField="MachineId"></dxi-item>
            <dxi-item dataField="WorkOrderId"></dxi-item>
            <dxi-item dataField="ProcessId"></dxi-item>
            <dxi-item dataField="CreateTime"></dxi-item>
            <dxi-item dataField="EndTime"></dxi-item>
        </dxo-form>
    </dxo-editing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
        [enterKeyDirection]="enterKeyDirection">
    </dxo-keyboard-navigation>
    <dxo-paging [enabled]="false">
    </dxo-paging>


    <dxi-column dataField="UserId" caption="操作人員" [width]="300">
        <dxo-lookup [dataSource]="StaffList" displayExpr="Name" valueExpr="Name"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="MachineId" caption="操作機台" [width]="150">
        <dxo-lookup [dataSource]="MachineList" displayExpr="Name" valueExpr="Name"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="WorkOrderId" caption="工單號"  editCellTemplate="WorkOrderNoCellTemplate">
        <dxo-lookup [dataSource]="WorkOrderIdList" displayExpr="WorkOrderNo" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ProcessId" caption="製程名稱">
        <dxo-lookup [dataSource]="ProcessBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="CreateTime" caption="開始時間" dataType="date">
    </dxi-column>
    <dxi-column dataField="EndTime" caption="結束時間" dataType="date">
    </dxi-column>

    <dxi-column type="buttons">
        <dxi-button name="save" text="存檔"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>

    <div *dxTemplate="let data of 'WorkOrderNoCellTemplate'">
        <dx-select-box [value]="data.value"
            (onValueChanged)="selectWorkOrderNoValueChanged($event,data)" (onInitialized)="onInitialized(WorkOrderNo,data)"
            [dataSource]="{ paginate: true, store: { type: 'array', data: WorkOrderIdList, key:'Id' } }" valueExpr="Id"
            displayExpr="WorkOrderNo" [searchEnabled]="true"></dx-select-box>
    </div>
</dx-data-grid>
