<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" class="mb-2" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">
        <dxi-item dataField="ProducingMachine" [disabled]="true">
            <dxo-label text="加工機台"></dxo-label>
        </dxi-item>
        <!-- <dxi-item dataField="Status" [editorOptions]="selectStatus" editorType="dxSelectBox">
            <dxo-label text="工單狀態"></dxo-label>
        </dxi-item> -->
    </dx-form>

    <dx-data-grid
        [dataSource]="dataSourceDB"
        showBorders="true"
        keyExpr="Id"
        hoverStateEnabled="true"
        rootValue="0"
        [showColumnLines]="true"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [focusedRowEnabled]="true"
        [columnAutoWidth]="false"
        [showBorders]="true"
        [remoteOperations]="remoteOperations"
        [height]="690">

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-paging [enabled]="false" [pageSize]="20"></dxo-paging>
        <!-- <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50, 100]" [showInfo]="true"
            [showNavigationButtons]="true" visible="true">
        </dxo-pager> -->
        <dxo-scrolling mode="infinite" columnRenderingMode="virtual"></dxo-scrolling>

        <dxo-editing mode="row" [allowUpdating]="false"></dxo-editing>

        <dxi-column dataField="WorkOrderHeadStatus" caption="工單狀態" dataType="string" alignment="center" [width]="100">
            <dxo-lookup [dataSource]="WorkOrderTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="WorkOrderNo" caption="工單號" dataType="string" [width]="120"></dxi-column>
        <dxi-column dataField="SerialNumber" caption="工序" dataType="string" alignment="center" [width]="50"></dxi-column>
        <dxi-column dataField="ProcessName" caption="製程名稱" dataType="date" format="shortDateShortTime" [width]="260"></dxi-column>
        <dxi-column dataField="MaterialBasicName" caption="品號" dataType="string"></dxi-column>

        <!-- <dxi-column dataField="WorkOrderDetailStatus" caption="製程狀態" dataType="string" [width]="100">
            <dxo-lookup [dataSource]="WorkOrderTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column> -->
        <dxi-column dataField="Count" caption="訂單數量" dataType="string" [width]="80"></dxi-column>
        <dxi-column dataField="ReCount" caption="完工數量" dataType="string" [width]="80"></dxi-column>
        <dxi-column dataField="ActualStartTime" caption="實際開工日" dataType="date" format="shortDateShortTime"
        [width]="180" [(selectedFilterOperation)]="selectedOperation"></dxi-column>
        <dxi-column dataField="ActualEndTime" caption="實際完工日" dataType="date" format="shortDateShortTime"
        [width]="180" [(selectedFilterOperation)]="selectedOperation"></dxi-column>
    </dx-data-grid>
</form>
