<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">
        <dxi-item dataField="SaleDate" editorType="dxDateBox" [editorOptions]="startTimeInput"
            [(visible)]="!showdisabled">
            <dxi-validation-rule type="required" message="銷貨日期 必填"></dxi-validation-rule>
            <dxo-label text="銷貨日期"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Remarks" [(visible)]="!showdisabled">
            <dxo-label text="備註"></dxo-label>
        </dxi-item>
        <dxi-item dataField="SaleID" dataType="number" editorType="dxSelectBox" [editorOptions]="selectBoxOptions" [(visible)]="showdisabled">
            <dxi-validation-rule type="required" message="銷貨單號 必填"></dxi-validation-rule>
            <dxo-label text="銷貨單號"></dxo-label>
        </dxi-item>
        <dxi-item itemType="button" alignment="left" [buttonOptions]="buttonOptions" [disabled]="buttondisabled"></dxi-item>
    </dx-form>
    <!-- <dx-button  text='存檔' type='success' icon='save' [useSubmitBehavior]="true" [disabled]="buttondisabled"></dx-button> -->
    <br/>
        <dx-data-grid [dataSource]="dataSourceDB" [showBorders]="true" [columnAutoWidth]="true" (onDataErrorOccurred)="onDataErrorOccurred($event)"
        (onEditorPreparing)="onEditorPreparing($event)" (onCellPrepared)="onCellPrepared($event)">
            <dxo-editing mode="cell" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
            <dxi-column dataField="ProductId" caption="品號" [allowEditing]="false">
                <dxo-lookup [dataSource]="ProductBasicList" displayExpr="ProductNo" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="ProductId" caption="品名" [allowEditing]="false">
                <dxo-lookup [dataSource]="ProductBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="ProductId" caption="規格" [allowEditing]="false">
                <dxo-lookup [dataSource]="ProductBasicList" displayExpr="Specification" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Quantity" caption="數量" dataType="number" editorType="dxNumberBox" [editorOptions]="editorOptions"></dxi-column>
            <dxi-column dataField="OriginPrice" caption="原單價" dataType="number" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="Price" caption="金額" dataType="number" [allowEditing]="false"></dxi-column>
        </dx-data-grid>
</form>
