<form action="" (submit)="onFormSubmit($event)">
    <label>{{itemval1}}</label><br>
    <label>{{itemval2}}</label><br>
    <label>{{itemval3}}</label><br>
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">
        <dxi-item dataField="quantity" editorType="dxNumberBox" dataType="number" [editorOptions]="editorOptions">
            <dxi-validation-rule type="required" message="修改數量 必填"></dxi-validation-rule>
            <dxo-label text="修改數量"></dxo-label>
        </dxi-item>
        <dxi-item dataField="msg"  editorType="dxTextArea">
            <dxi-validation-rule type="required" message="原因 必填"></dxi-validation-rule>
            <dxo-label text="原因"></dxo-label>
        </dxi-item>
    </dx-form>
    <div class="current-value">
        <span>{{CustomerVal}}</span>
    </div>
    <br>
    <dx-button horizontalAlignment="left" text='存檔' type='success' icon='save' [useSubmitBehavior]="true"
        [disabled]="buttondisabled"></dx-button>
</form>
