<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">

        <!-- <dxi-item dataField="OrderNo">
            <dxi-validation-rule type="required" message="訂單單號 必填"></dxi-validation-rule>
            <dxo-label text="訂單單號"></dxo-label>
        </dxi-item> -->
        <dxi-item dataField="CustomerNo">
            <dxi-validation-rule type="required" message="客戶單號 必填"></dxi-validation-rule>
            <dxo-label text="客戶單號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Customer" dataType="number" editorType="dxSelectBox" [editorOptions]="selectBoxOptions">
            <dxi-validation-rule type="required" message="客戶名稱 必填"></dxi-validation-rule>
            <dxo-label text="客戶名稱"></dxo-label>
        </dxi-item>
        <!-- <div class="widget-container">
            <div>客戶名稱</div>
            <dx-select-box #Customer
                displayExpr="Name"
                valueExpr= 'Id'
                [(dataSource)]="Customerlist"></dx-select-box>
        </div> -->
        <dxi-item dataField="OrderDate" editorType="dxDateBox" [editorOptions]="{displayFormat:'yyy/MM/dd'}">
            <dxo-label text="預交日"></dxo-label>
        </dxi-item>
        <!-- <dxi-item [label]="{text: CustomerVal1}">
        </dxi-item>
        <dxi-item [label]="{text: CustomerVal2}">
        </dxi-item>
        <dxi-item [label]="{text: CustomerVal3}">
        </dxi-item> -->
    </dx-form>
    <div class="long-title">
        <br>
        <span style="font-size:12px;padding:10px;">
            {{CustomerVal}}
        </span>
    </div>
    <br>
    <div class="long-title">
        <h5>訂單內容</h5>
    </div>
    <dx-data-grid [dataSource]="dataSourceDB" [showBorders]="true" keyExpr="Serial" height="500"
        (onFocusedCellChanging)="onFocusedCellChanging($event)" (onInitNewRow)="onInitNewRow($event)">
        <dxo-editing mode="batch" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
            startEditAction="click">
        </dxo-editing>
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
            [enterKeyDirection]="enterKeyDirection">
        </dxo-keyboard-navigation>
        <dxo-paging [enabled]="false">
        </dxo-paging>
        <dxi-column dataField="Serial" caption="序號">
            <dxi-validation-rule type="required" message="序號 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="ProductId" caption="品號">
            <dxi-validation-rule type="required" message="品號 必填"></dxi-validation-rule>
            <dxo-lookup [dataSource]="ProductList" displayExpr="ProductNo" valueExpr="Id"></dxo-lookup>
        </dxi-column>>
        <dxi-column dataField="OriginPrice" caption="原單價" dataType="number">
            <dxi-validation-rule type="required" message="原單價 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="Price" caption="價格" dataType="number">
            <dxi-validation-rule type="required" message="價格 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="Unit" caption="單位">
            <dxi-validation-rule type="required" message="單位 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="Quantity" caption="數量" dataType="number">
            <dxi-validation-rule type="required" message="數量 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="ReplyDate" caption="回復交期" dataType="date">
            <dxi-validation-rule type="required" message="回復交期 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="MachineNo" caption="機號">
            <dxi-validation-rule type="required" message="機號 必填"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="Remark" caption="備註"></dxi-column>
        <dxi-column type="buttons">
            <dxi-button name="save" text="存檔"></dxi-button>
            <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
            <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
            <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
        </dxi-column>
    </dx-data-grid>
    <dx-button horizontalAlignment="left" text='存檔' type='success' icon='save' [useSubmitBehavior]="true"
        [disabled]="buttondisabled" ></dx-button>
    <!-- <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions">
        </dxi-item> -->

</form>
