<!-- <p>所有訂單</p> -->
<div class="headerblock">
    <div class="headerfont font1">生產管理</div>
    <div class="triangle"></div>
    <div class="lefttriangle">
        <div class="lefttriangle1"></div>
        <div class="lefttriangle2"></div>
    </div>
    <div class="headerfont font2">品質管理</div>
    <div class="buttongroup">
        <!-- <dx-button
            class="insertbtn"
            stylingMode="contained"
            text="新增成品"
            type="success"
            [width]="120"
            (onClick)="creatdata()">
        </dx-button> -->
    </div>
</div>

<div class="row">

    <div class="col-8">

        <dx-data-grid [dataSource]="dataSourceDB" showBorders="true" keyExpr="Id" hoverStateEnabled="true" rootValue="0"
            [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="true"
            [columnAutoWidth]="false" [showBorders]="true" [remoteOperations]="remoteOperations">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-paging [enabled]="true" [pageSize]="20">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50, 100]" [showInfo]="true"
                [showNavigationButtons]="true" visible="true">
            </dxo-pager>
            <!-- <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="true" [paging]="true" [summary]="true">
            </dxo-remote-operations> -->
            <dxo-editing mode="row" [allowUpdating]="false"></dxo-editing>

            <dxi-column dataField="WorkOrderHead.WorkOrderNo" caption="工單號" [width]="150"></dxi-column>
            <dxi-column dataField="ReportType" caption="檢驗種類" alignment="center" [width]="150">
                <dxo-lookup [dataSource]="QcTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="DrawNo" caption="圖號" [width]="150"></dxi-column>
            <dxi-column dataField="ReCount" caption="回報數量" [width]="80"></dxi-column>
            <dxi-column dataField="CkCount" caption="檢驗數量" [width]="80"></dxi-column>
            <dxi-column dataField="OkCount" caption="合格數量" [width]="80"></dxi-column>
            <dxi-column dataField="NgCount" caption="NG數量" [width]="70"></dxi-column>
            <dxi-column dataField="NcCount" caption="NC數量" [width]="70"></dxi-column>
            <!-- <dxi-column dataField="CheckResult" caption="檢驗結果" alignment="center" [width]="110">
                <dxo-lookup [dataSource]="QcResultList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column> -->
            <dxi-column dataField="Message" caption="檢驗說明"></dxi-column>
            <dxi-column dataField="CreateUser" caption="檢驗人員" alignment="center" [width]="110">
                <dxo-lookup [dataSource]="UserListAll" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="CreateTime" caption="檢驗日期" dataType="date" format="shortDateShortTime" sortOrder="desc" [width]="180"></dxi-column>

            <!-- <dxi-column dataField="WorkOrderNo" caption="工單號" [width]="140"></dxi-column>
            <dxi-column dataField="DataNo" caption="品號"></dxi-column> -->
            <!-- <dxi-column dataField="DataName" caption="名稱" [width]="180"></dxi-column> -->
            <!-- <dxi-column dataField="MachineNo" caption="機號"></dxi-column> -->
            <!-- <dxi-column dataField="Status" caption="狀態" alignment="center" [width]="80">
                <dxo-lookup [dataSource]="listStatus" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="DueStartTime" caption="預計開工" dataType="date" [width]="120" [visible]="true"></dxi-column>
            <dxi-column dataField="DueEndTime" caption="預計完工" dataType="date" [width]="120" [visible]="true"></dxi-column>
            <dxi-column dataField="OrderCount" caption="訂單量" [width]="70"></dxi-column>
            <dxi-column dataField="Count" caption="工單量" [width]="70"></dxi-column>
            <dxi-column dataField="ReCount" caption="完工量" [width]="70"></dxi-column> -->
            <!-- <dxi-column dataField="UpdateTime" caption="更新日期" dataType="date" sortOrder="desc" [width]="120" [visible]="false"></dxi-column> -->

            <!-- <dxi-column caption="" cellTemplate="cellTemplate" alignment="center" width="50"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button icon="chevrondoubleright" type="default" (onClick)="readProcess($event,data)"></dx-button>
            </div> -->


        </dx-data-grid>

    </div>


    <div class="col-4">

        <div class="row">

            <div class="col-12">
                <div class="row">
                    <label class="pt-3"><h5>工單號查詢：</h5></label>
                    <dx-text-box class="toolinput" [value]="workOrderHeadNo" [showClearButton]="true" valueChangeEvent="keyup"
                        (onValueChanged)="valueChanged($event)" [height]="40">
                    </dx-text-box>
                    <dx-button class="toolbtn" stylingMode="contained" text="查詢工單" type="default" [width]="120"
                        [disabled]="false" (onClick)="searchdata()">
                    </dx-button>
                </div>

                <div class="input-group">
                    <label class="pt-0"><h6>工單品號：{{workOrderHeadDataNo}}</h6></label>
                </div>
                <div class="input-group">
                    <label class="pt-0"><h6>工單狀態：{{workOrderHeadStatus}}</h6></label>
                </div>
                <div class="input-group">
                    <label class="pt-0"><h6>工單數量：{{workOrderHeadCount}}</h6></label>
                </div>
                <div class="input-group">
                    <label class="pt-5"><h5>檢驗內容：</h5></label>
                </div>
            </div>

        </div>

        <div class="col-11">
            <form action="" (submit)="onFormSubmit($event)">
                <dx-form id="form"
                    [formData]="formData"
                    [readOnly]="readOnly"
                    [showColonAfterLabel]="showColon"
                    [labelLocation]="labelLocation"
                    [minColWidth]="minColWidth"
                    [colCount]="colCount"
                    [width]="width">

                    <dxi-item dataField="ReportType" editorType="dxSelectBox" [editorOptions]="selectQcType">
                        <dxi-validation-rule type="required" message="檢驗種類 必填"></dxi-validation-rule>
                        <dxo-label text="檢驗種類"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="ReCount" dataType="number" editorType="dxNumberBox" [editorOptions]="CountEditorOptions">
                        <dxi-validation-rule type="required" message="回報數量 必填"></dxi-validation-rule>
                        <dxo-label text="回報數量"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="CkCount" dataType="number" editorType="dxNumberBox" [editorOptions]="CountEditorOptions">
                        <dxi-validation-rule type="required" message="抽驗數量 必填"></dxi-validation-rule>
                        <dxo-label text="檢驗數量"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="OkCount" dataType="number" editorType="dxNumberBox" [editorOptions]="CountEditorOptions">
                        <dxi-validation-rule type="required" message="合格數量 必填"></dxi-validation-rule>
                        <dxo-label text="合格數量"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="NgCount" dataType="number" editorType="dxNumberBox" [editorOptions]="CountEditorOptions">
                        <dxi-validation-rule type="required" message="NG數量 必填"></dxi-validation-rule>
                        <dxo-label text="NG數量"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="NcCount" dataType="number" editorType="dxNumberBox" [editorOptions]="CountEditorOptions">
                        <dxi-validation-rule type="required" message="NC未完工量 必填"></dxi-validation-rule>
                        <dxo-label text="NC未完工量"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="DrawNo">
                        <dxo-label text="加工圖號"></dxo-label>
                    </dxi-item>

                    <!-- <dxi-item dataField="CheckResult" editorType="dxSelectBox" [editorOptions]="selectQcResult">
                        <dxi-validation-rule type="required" message="檢驗結果 必填"></dxi-validation-rule>
                        <dxo-label text="檢驗結果"></dxo-label>
                    </dxi-item> -->
                    <dxi-item dataField="CreateUser" editorType="dxSelectBox" [editorOptions]="selectCreateUser">
                        <dxi-validation-rule type="required" message="回報人員 必填"></dxi-validation-rule>
                        <dxo-label text="回報人員"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="Message" editorType="dxTextArea" [editorOptions]="{ height: 60 }">
                        <dxo-label text="回報說明"></dxo-label>
                    </dxi-item>

                </dx-form>
                <div class="col-auto-12 mt-4">
                    <dx-button  horizontalAlignment="right" class="pl-3 pr-3 pb-1" text='建立檢驗結果' type= 'success' icon= 'save'   [useSubmitBehavior]="true" [disabled]="buttondisabled"></dx-button>
                </div>
            </form>
        </div>

    </div>

</div>
