.headerblock {
    position: relative;
}

.buttongroup {
    position: relative;
    margin-left: 16px;
    margin-bottom: 10px;
}

.toolbtn {
    float: right;
    height: 40px;
    margin-left: 4px;
    margin-top: 8px;
    border-radius: 2px;
}

.toolinput {
    margin-top: 8px;
}

.dx-button {
    float: right;
}
