<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">
        <dxi-item dataField="Code">
            <dxi-validation-rule type="required" message="製程代號 必填"></dxi-validation-rule>
            <dxo-label text="製程代號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Name">
            <dxi-validation-rule type="required" message="製程名稱 必填"></dxi-validation-rule>
            <dxo-label text="製程名稱"></dxo-label>
        </dxi-item>
        <dxi-item dataField="LeadTime" dataType="number" editorType="dxNumberBox" [editorOptions]="NumberBoxOptions">
            <dxo-label text="前置時間(分)"></dxo-label>
        </dxi-item>
        <dxi-item dataField="WorkTime" dataType="number" editorType="dxNumberBox" [editorOptions]="NumberBoxOptions">
            <dxo-label text="標準工時(分)"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Cost" dataType="number" editorType="dxNumberBox" format="$ #,##0.##;($ #,##0.##)" [editorOptions]="NumberBoxOptions">
            <dxo-label text="單位成本(元/分)"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Manpower" dataType="number" editorType="dxNumberBox" [editorOptions]="NumberBoxOptions">
            <dxo-label text="人力"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Remark">
            <dxo-label text="備註"></dxo-label>
        </dxi-item>
    </dx-form>
    <div class="col-auto-12 mt-4">
        <dx-button  horizontalAlignment="right" class="pl-3 pr-3 pb-1" text='存檔' type= 'success' icon= 'save'   [useSubmitBehavior]="true" [disabled]="buttondisabled"></dx-button>
    </div>
</form>

