.customer {
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    background-color: #fafafa;
    margin-bottom: 10px;
    border-left: 5px solid #36A2EB;
    padding-left: 15px;
}
.titles {
    font-size: 20px;
    font-weight: bold;
    border-left: 5px solid #4BC0C0;
    padding-left: 15px;
}
.contentlable {
    font-size: 20px;
    font-weight: bold;
    border-left: 5px solid #333;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.taskcontent{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 20px;
}
.staffdiv{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 20px;
    color:#36A2EB;
    margin-bottom: 20px;
}
