<!-- <p>所有訂單</p> -->
<div class="row">
    <div class="col-md-10 col-sm-10">
        <!-- <dx-file-uploader #fileUploader selectButtonText="匯入" labelText="" [uploadUrl]="uploadUrl" [multiple]="false"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.csv"
            uploadMode="instantly" (onUploaded)="onUploaded($event)"></dx-file-uploader> -->
    </div>
    <div class="col-md-1 col-sm-1">
    </div>
    <div class="col-md-1 col-sm-1">
        <dx-button text="新增" type="default" (onClick)="creatdata()"></dx-button>
    </div>
</div>
<dx-data-grid [dataSource]="dataSourceDB" showBorders="true" keyExpr="id" [focusedRowEnabled]="true"
    (onDataErrorOccurred)="onDataErrorOccurred($event)" [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
    (onFocusedRowChanging)="onFocusedRowChanging($event)" (onFocusedRowChanged)="onFocusedRowChanged($event)"
    (onEditorPreparing)="onEditorPreparing($event)" (onSelectionChanged)="selectionChanged($event)"
    hoverStateEnabled="true" [rowAlternationEnabled]="true">

    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 100]" [showInfo]="true">
    </dxo-pager>
    <dxo-editing mode="popup" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="true">
        <dxo-form>
            <!-- <dxi-item  dataField="Code"></dxi-item> -->
            <dxi-item dataField="Username"></dxi-item>
            <dxi-item dataField="Realname"></dxi-item>
            <!-- <dxi-item  dataField="Password"></dxi-item>
            <dxi-item  dataField="PasswordConfirm"></dxi-item> -->
            <dxi-item dataField="Permission"></dxi-item>
            <dxi-item dataField="Department"></dxi-item>
        </dxo-form>
        <dxo-popup [width]="800" [height]="300">
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton"
                [options]="{ type: 'success', text: '存檔', onClick: saveClickHandler }">
            </dxi-toolbar-item>
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton"
                [options]="{ type:'danger', text: '取消', onClick: cancelClickHandler }">
            </dxi-toolbar-item>
        </dxo-popup>
    </dxo-editing>

    <!-- <dxi-column dataField="Code" caption="代號" [width]="100"></dxi-column> -->
    <dxi-column dataField="Username" caption="帳號" [width]="260"></dxi-column>
    <dxi-column dataField="Realname" caption="姓名" [width]="260"></dxi-column>
    <dxi-column dataField="Permission" caption="身分" [width]="160">
        <dxo-lookup [dataSource]="PermissionList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Department" caption="部門" [width]="160">
        <dxo-lookup [dataSource]="DepartmentList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="CreateTime" caption="新增時間"></dxi-column>
    <dxi-column dataField="CreateUser" caption="新增人員">
        <dxo-lookup [dataSource]="UserList" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column type="buttons">
        <!-- <dxi-button text="複製" hint="複製" icon="repeat" [onClick]="cloneIconClick"></dxi-button> -->
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>

</dx-data-grid>

<dx-popup [showTitle]="true" title="新增帳號" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatuser (childOuter)="creatpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod"
            [exceldata]="exceldata"></app-creatuser>
    </div>
</dx-popup>
