<div class="headerblock">
    <app-headerfont></app-headerfont>
    <div class="buttongroup">
        <div class="row" style="margin-right: 10px;">
            <dx-button class="searchbtn" stylingMode="contained" text="品號紀錄查詢" type="normal" [width]="140" (onClick)="creatdata()">
            </dx-button>
        </div>
    </div>
</div>
<div id="form-container">
    <div class="col-auto-12 mt-2 mb-1 ml-4">
        <form action="">
            <dx-form id="form" [formData]="formData" [colCount]="5">
                <dxi-item dataField="Message" [editorOptions]="selectAdjustType" editorType="dxSelectBox">
                    <dxo-label text="種類查詢"></dxo-label>
                </dxi-item>
            </dx-form>
        </form>
    </div>
</div>

<dx-data-grid [dataSource]="dataSourceDB" showBorders="true" keyExpr="id" [focusedRowEnabled]="true" (onDataErrorOccurred)="onDataErrorOccurred($event)" [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow" (onFocusedRowChanging)="onFocusedRowChanging($event)"
    (onFocusedRowChanged)="onFocusedRowChanged($event)" (onEditorPreparing)="onEditorPreparing($event)" (onSelectionChanged)="selectionChanged($event)" hoverStateEnabled="true" [rowAlternationEnabled]="true" [remoteOperations]="remoteOperations" [columnAutoWidth]="true">

    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 100]" [showInfo]="true">
    </dxo-pager>
    <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
        <dxo-form>
            <dxi-item dataField="AdjustNo"></dxi-item>
            <dxi-item dataField="LinkOrder"></dxi-item>
            <dxi-item dataField="DataId"></dxi-item>
            <dxi-item dataField="Original"></dxi-item>
            <dxi-item dataField="Quantity"></dxi-item>
            <dxi-item dataField="Price"></dxi-item>
            <dxi-item dataField="PriceAll"></dxi-item>
            <dxi-item dataField="Unit"></dxi-item>
            <dxi-item dataField="UnitCount"></dxi-item>
            <dxi-item dataField="UnitPrice"></dxi-item>
            <dxi-item dataField="UnitPriceAll"></dxi-item>
            <dxi-item dataField="WorkPrice"></dxi-item>
            <dxi-item dataField="Reason"></dxi-item>
            <dxi-item dataField="Message"></dxi-item>
            <dxi-item dataField="CreateTime"></dxi-item>
            <dxi-item dataField="CreateUser"></dxi-item>
            <dxi-item dataField="NameLog"></dxi-item>
            <dxi-item dataField="NameType"></dxi-item>
        </dxo-form>
        <dxo-popup>
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type: 'success', text: '存檔', onClick: saveClickHandler }">
            </dxi-toolbar-item>
            <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type:'danger', text: '取消', onClick: cancelClickHandler }">
            </dxi-toolbar-item>
        </dxo-popup>
    </dxo-editing>

    <dxi-column dataField="CreateTime" caption="建立日期" dataType="date" format="shortDateShortTime" [(selectedFilterOperation)]="selectedOperation" [width]="200" sortOrder="desc"></dxi-column>
    <dxi-column dataField="Message" caption="種類" [width]="140"></dxi-column>
    <dxi-column dataField="DataNo" caption="品號" [width]="220"></dxi-column>
    <dxi-column dataField="DataName" caption="名稱" [width]="220"></dxi-column>
    <dxi-column dataField="DataType" caption="品號類別" [width]="80" alignment="center">
        <dxo-lookup [dataSource]="listAdjustStatus" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="WarehouseId" caption="倉別" [width]="130">
        <dxo-lookup [dataSource]="WarehouseList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="No" caption="關聯單號/調整單號" [width]="240"></dxi-column>
    <dxi-column dataField="Original" caption="原始數量" [width]="80"></dxi-column>
    <dxi-column dataField="Increase" caption="增加數量" [width]="80"></dxi-column>
    <dxi-column dataField="Decrease" caption="減少數量" [width]="80"></dxi-column>
    <dxi-column dataField="Price" caption="單價" format="$ #,##0.##;($ #,##0.##)" [width]="80"></dxi-column>
    <dxi-column dataField="PriceAll" caption="總金額" format="$ #,##0.##;($ #,##0.##)" [width]="80"></dxi-column>
    <dxi-column dataField="UnitCount" caption="計價數量" [width]="80"></dxi-column>
    <dxi-column dataField="Unit" caption="單位" [width]="80"></dxi-column>
    <dxi-column dataField="UnitPrice" caption="單位金額" format="$ #,##0.##;($ #,##0.##)" [width]="80"></dxi-column>
    <dxi-column dataField="UnitPriceAll" caption="計價總額" format="$ #,##0.##;($ #,##0.##)" [width]="80"></dxi-column>
    <dxi-column dataField="WorkPrice" caption="加工費用" format="$ #,##0.##;($ #,##0.##)" [width]="80"></dxi-column>
    <dxi-column dataField="Reason" caption="修改原因" [width]="160"></dxi-column>
    <dxi-column dataField="CreateUser" caption="建立人員" alignment="center" [width]="100">
        <dxo-lookup [dataSource]="UserList" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
    </dxi-column>

</dx-data-grid>

<nz-modal [(nzVisible)]="creatpopupVisible" nzTitle="品號紀錄查詢" [nzWidth]="1800" [nzStyle]="{ top: '10px' }" [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <app-inventory-search (childOuter)="creatpopup_result($event)"></app-inventory-search>
</nz-modal>
