<!-- <p>所有訂單</p> -->
<div class="headerblock">
    <div class="headerfont font1">生產管理</div>
    <div class="triangle"></div>
    <div class="lefttriangle">
        <div class="lefttriangle1"></div>
        <div class="lefttriangle2"></div>
    </div>
    <div class="headerfont font2">領料資料</div>
    <div class="buttongroup">
        <dx-button
            class="insertbtn"
            stylingMode="contained"
            text="新增領料單"
            type="success"
            [width]="120"
            (onClick)="creatdata()">
        </dx-button>
    </div>
</div>

<div class="row">

    <div class="col-8">

        <dx-data-grid
            [dataSource]="dataSourceDB"
            showBorders="true"
            keyExpr="Id"
            hoverStateEnabled="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [rowAlternationEnabled]="true"
            [focusedRowEnabled]="true"
            [columnAutoWidth]="false"
            [showBorders]="true"
            [remoteOperations]="remoteOperations"
            (onCellClick)="cellClick($event)"
            (onContentReady)="onContentReady($event)"
            (onDataErrorOccurred)="onDataErrorOccurred($event)"
            (onInitNewRow)="onInitNewRow($event)"
            (onRowInserting)="onRowInserting($event)"
            (onEditingStart)="onEditingStart($event)"
            [remoteOperations]="remoteOperations">

            <dxo-editing mode="popup" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="true">
                <dxo-popup
                    title="新增領料單"
                    [showTitle]="true"
                    [width]="700"
                    [height]="275">
                </dxo-popup>
                <dxo-form [colCount]=1>
                    <dxi-item dataField="WorkOrderNo"></dxi-item>
                    <!-- <dxi-item dataField="Name"></dxi-item>
                    <dxi-item dataField="ProductBasicId" dataType="number" editorType="dxSelectBox"
                        [editorOptions]="selectBoxOptions">
                        <dxi-validation-rule type="required" message="成品名稱 必填"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="Quantity">
                        <dxi-validation-rule type="required" message="數量 必填"></dxi-validation-rule>
                        <dxi-validation-rule type="range" [min]="1" message="數量 必須大於1"></dxi-validation-rule>
                    </dxi-item> -->
                </dxo-form>
            </dxo-editing>

            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-paging [enabled]="true" [pageSize]="20">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50, 100]" [showInfo]="true"
                [showNavigationButtons]="true" visible="true">
            </dxo-pager>
            <!-- <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="true" [paging]="true" [summary]="true">
            </dxo-remote-operations> -->

            <dxi-column dataField="RequisitionNo" caption="領料單號" [allowEditing]="false" [filterValue]="" dataType="string">
            </dxi-column>
            <dxi-column dataField="WorkOrderNo" caption="工單號" [filterValue]="" dataType="string" [visible]="false">
            </dxi-column>
            <dxi-column dataField="WorkOrderHead.WorkOrderNo" caption="工單號" [filterValue]="" dataType="string">
            </dxi-column>
            <dxi-column dataField="Name" caption="領料單名稱" dataType="string" [visible]="false"></dxi-column>
            <dxi-column dataField="ProductNo" caption="成品號" dataType="string"></dxi-column>
            <dxi-column dataField="ProductNumber" caption="廠內成品號" dataType="string"></dxi-column>
            <dxi-column dataField="Specification" caption="規格" dataType="string"></dxi-column>
            <dxi-column dataField="Quantity" caption="生產數量" dataType="number" [width]="80"></dxi-column>
            <dxi-column dataField="ProductBasicId" caption="成品名稱" dataType="number" [visible]="false"></dxi-column>
            <dxi-column dataField="CreateTime" caption="建立日期" dataType="date" sortOrder="desc" [visible]="false"></dxi-column>

            <!-- <dxi-column type="buttons" caption="新增" cssClass="addmod"> -->
            <dxi-column type="buttons" [visible]="false">
                <dxi-button name="save" text="存檔" icon="save"></dxi-button>
                <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
                <dxi-button name="edit" text="修改" type="success" icon="edit" [visible]="false"></dxi-button>
                <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
            </dxi-column>

            <dxi-column caption="" cellTemplate="cellTemplate" alignment="center" width="100"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button class="" icon="trash" type="danger" (onClick)="deleteReceiveList($event,data)"></dx-button>
                <dx-button class="ml-1" icon="chevrondoubleright" type="default" (onClick)="readRequisitionData($event,data)"></dx-button>
            </div>

            <!-- <div *dxTemplate="let item of 'detail'">
                <app-receivedetail-list [itemkeyval]="item.key"></app-receivedetail-list>
            </div> -->

        </dx-data-grid>

    </div>

    <div class="col-4">

        <dx-data-grid
            #dataGridM
            [dataSource]="dataSourceMaterialDB"
            showBorders="true"
            keyExpr="Id"
            hoverStateEnabled="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [rowAlternationEnabled]="true"
            [focusedRowEnabled]="true"
            [columnAutoWidth]="false"
            [showBorders]="true"
            [height]="360"
            (onCellClick)="cellClick($event)"
            (onToolbarPreparing)="onToolbarPreparingM($event)">

            <dxo-editing mode="batch" [allowUpdating]="true" useIcons="false">
                <dxo-texts saveAllChanges="領料"></dxo-texts>
            </dxo-editing>

            <dxi-column dataField="MaterialNo" caption="組成元件" dataType="string" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="Quantity" caption="組成數量" dataType="number" [allowEditing]="false" [width]="80"></dxi-column>
            <dxi-column dataField="ReceiveQty" caption="已領數量" dataType="number" [allowEditing]="false" [width]="80"></dxi-column>
            <dxi-column dataField="StockQty" caption="庫存量" dataType="number" [allowEditing]="false" [width]="80"></dxi-column>
            <dxi-column dataField="RQty" caption="領取數量" dataType="number" [width]="80"></dxi-column>

        </dx-data-grid>

        <br>

        <dx-data-grid
            #dataGridP
            [dataSource]="dataSourceProductDB"
            showBorders="true"
            keyExpr="Id"
            hoverStateEnabled="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [rowAlternationEnabled]="true"
            [focusedRowEnabled]="true"
            [columnAutoWidth]="false"
            [showBorders]="true"
            [height]="360"
            (onCellClick)="cellClick($event)"
            (onToolbarPreparing)="onToolbarPreparingP($event)">

            <dxo-editing mode="batch" [allowUpdating]="true">
                <dxo-texts saveAllChanges="領料"></dxo-texts>
            </dxo-editing>

            <dxi-column dataField="ProductNo" caption="組成品項" dataType="string" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="Quantity" caption="組成數量" dataType="number" [allowEditing]="false" [width]="80"></dxi-column>
            <dxi-column dataField="ReceiveQty" caption="已領數量" dataType="number" [allowEditing]="false" [width]="80"></dxi-column>
            <dxi-column dataField="StockQty" caption="庫存量" dataType="number" [allowEditing]="false" [width]="80"></dxi-column>
            <dxi-column dataField="RQty" caption="領取數量" dataType="number" [width]="80"></dxi-column>

        </dx-data-grid>

    </div>

</div>


