<div class="headerblock">
    <app-headerfont></app-headerfont>
    <div class="buttongroup">
        <dx-button
            class="adjustbtn"
            stylingMode="contained"
            text="庫存調整單"
            type="normal"
            [width]="120"
            (onClick)="creatAdjust()">
        </dx-button>
        <!-- <dx-button
            class="insertbtn"
            stylingMode="contained"
            text="新增物料"
            type="success"
            [width]="120"
            (onClick)="creatdata()">
        </dx-button> -->
    </div>
</div>

<!-- <div id="form-container">
    <div class="col-auto-12 mt-2 mb-1 ml-4">
        <form action="">
            <dx-form id="form" [formData]="formData" [colCount]="5">
                <dxi-item dataField="PurchaseNo" [editorOptions]="editorOptions">
                    <dxo-label text="採購單號查詢"></dxo-label>
                </dxi-item>
                <dxi-item dataField="SupplierCode" [editorOptions]="editorOptions">
                    <dxo-label text="廠商代號查詢"></dxo-label>
                </dxi-item>
                <dxi-item dataField="MaterialNo" [editorOptions]="editorOptions">
                    <dxo-label text="元件品號查詢"></dxo-label>
                </dxi-item>
            </dx-form>
        </form>
    </div>
</div> -->

<div class="row">

    <div class="col-4">

        <dx-data-grid
            [dataSource]="dataSourceDB"
            showBorders="true"
            keyExpr="id"
            dateSerializationFormat='yyyy/MM/dd HH:mm:ss'
            hoverStateEnabled="true"
            [showColumnLines]="true"
            [showRowLines]="false"
            [rowAlternationEnabled]="true"
            [focusedRowEnabled]="true"
            [height]="740"
            [remoteOperations]="remoteOperations">

            <dxo-selection mode="single"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
            <dxo-paging [enabled]="true" [pageSize]="20">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50, 100]" [showInfo]="true"
                [showNavigationButtons]="true" visible="true">
            </dxo-pager>
            <!-- <dxo-selection mode="multiple"></dxo-selection> -->
            <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="true">
                <dxo-form [colCount]=4>
                    <dxi-item dataField="AdjustNo"></dxi-item>
                    <dxi-item dataField="LinkOrder"></dxi-item>
                    <!-- <dxi-item dataField="Remarks"></dxi-item> -->
                </dxo-form>
            </dxo-editing>

            <dxi-column dataField="AdjustNo" caption="調整單號" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="LinkOrder" caption="關聯單號"></dxi-column>
            <!-- <dxi-column dataField="Status" caption="狀態" width="200">
                <dxo-lookup [dataSource]="listBillofPurchaseOrderStatus" displayExpr="Name" valueExpr="Id">
                </dxo-lookup>
            </dxi-column> -->
            <dxi-column dataField="Remarks" caption="備註"></dxi-column>
            <dxi-column dataField="CreateTime" caption="建立日期" dataType="date" sortOrder="desc" [allowEditing]="false" [width]="120"
                [(selectedFilterOperation)]="selectedOperation"></dxi-column>
            <!-- <dxi-column dataField="CreateUser" caption="建立人員" [allowEditing]="false" [width]="100"></dxi-column> -->

            <dxi-column type="buttons" [visible]="false">
                <!-- <dxi-button text="複製" hint="複製" icon="copy" [onClick]="cloneIconClick"></dxi-button> -->
                <dxi-button name="save" text="存檔" icon="save"></dxi-button>
                <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
                <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
                <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
            </dxi-column>

            <dxi-column caption="" cellTemplate="cellTemplate" alignment="center" width="50"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button class="" icon="trash" type="danger" (onClick)="deleteAdjust($event,data)" [visible]="false"></dx-button>
                <dx-button class="ml-1" icon="chevrondoubleright" type="default" (onClick)="readAdjustDetail($event,data)"></dx-button>
            </div>

        </dx-data-grid>

        <dx-popup [showTitle]="true" title="新建庫存調整單" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="1000" [height]="760" [(visible)]="adjustpopupVisible">
            <div *dxTemplate="let data of 'content'">
                <app-inventory-list (childOuter)="adjustpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod"
                    [exceldata]="exceldata"></app-inventory-list>
            </div>
        </dx-popup>

    </div>

    <div class="col-8">

        <div class="row">

            <div class="col-5">
                <div class="input-group">
                  <label class="pt-2"><h5>調整單明細：</h5></label>
                </div>
            </div>
            <div class="col-5">
                <div class="input-group">
                  <label class="pt-2"></label>
                </div>
            </div>
            <div class="col-2">
                <dx-button
                    class="savebtn"
                    stylingMode="contained"
                    text="更新"
                    type="success"
                    [width]="80"
                    [disabled]="true"
                    [visible]="false"
                    (onClick)="savedata()">
                </dx-button>
            </div>

        </div>

        <dx-data-grid
            [dataSource]="dataSourceDBDetail"
            [showBorders]="true"
            [columnAutoWidth]="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            (onDataErrorOccurred)="onDataErrorOccurred($event)"
            [height]="700"
            keyExpr="id">

            <!-- <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection> -->

            <dxi-column dataField="DataType" caption="類別" alignment="center" [allowEditing]="false" [width]="70">
                <dxo-lookup [dataSource]="ItemTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>

            <dxi-column dataField="DataNo" caption="品號" [allowEditing]="false">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="DataName" caption="名稱" [allowEditing]="false">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>

            <dxi-column dataField="WarehouseId" caption="倉別" [allowEditing]="false">
                <dxo-lookup [dataSource]="WarehouseList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Original" caption="原始數量" [allowEditing]="false" [width]="80">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="Quantity" caption="調整數量" dataType="number" [width]="80">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="AftQuantity" caption="更新後數量" [allowEditing]="false" [width]="100">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="Price" caption="單價" dataType="number" format="$ #,##0.##;($ #,##0.##)" [width]="70">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="PriceAll" caption="總金額" dataType="number" format="$ #,##0.##;($ #,##0.##)" [width]="70">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <!-- <dxi-column dataField="Unit" caption="單位">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="UnitCount" caption="#數量" dataType="number" [width]="70">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="UnitPrice" caption="#單價" dataType="number" [width]="70">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="UnitPriceAll" caption="#總額" dataType="number" [width]="70">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="WorkPrice" caption="加工費" dataType="number" [width]="70">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column> -->

            <dxi-column dataField="Remark" caption="備註" [allowEditing]="true">
            </dxi-column>

            <!-- <dxi-column type="buttons" caption="新增" cssClass="addmod"> -->
            <dxi-column type="buttons" [visible]="false">
                <dxi-button name="save" text="存檔" icon="save"></dxi-button>
                <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
                <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
                <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
            </dxi-column>

        </dx-data-grid>

    </div>

</div>



