        <!-- <div class="master-detail-caption">訂單明細:{{item.data.OrderNo}}</div> -->
        <dx-data-grid
            [dataSource]="dataSourceDB"
            [showBorders]="true"
            keyExpr="Id"  (onCellClick)="cellClick($event)">
            <dxo-editing mode="row"
            [allowAdding]="false"
            [allowUpdating]="true"
            [allowDeleting]="true">
        </dxo-editing>
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxi-column dataField="Serial" caption="序號">

            </dxi-column>
            <dxi-column dataField="ProductId" caption="品號">
                <dxo-lookup [dataSource]="ProductList" displayExpr="ProductNo" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="ProductId" caption="品名">
                <dxo-lookup [dataSource]="ProductList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="ProductId" caption="規格">
                <dxo-lookup [dataSource]="ProductList" displayExpr="Specification" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="OriginPrice" caption="原單價" dataType="number"></dxi-column>
            <dxi-column dataField="Price" caption="價格" dataType="number"></dxi-column>
            <dxi-column dataField="Unit" caption="單位"></dxi-column>
            <dxi-column dataField="Quantity" caption="數量" dataType="number"></dxi-column>
            <dxi-column dataField="ReplyDate" caption="回復交期" dataType="date"></dxi-column>
            <dxi-column dataField="MachineNo" caption="機號" dataType="number"></dxi-column>
            <dxi-column dataField="Remark" caption="備註"></dxi-column>
            <dxi-column dataField="ReplyRemark" caption="回覆備註"></dxi-column>
            <dxi-column dataField="CreateDate" caption="建立日期" dataType="date"></dxi-column>
            <dxi-column type="buttons"  caption="新增" cssClass="addmod">
                <dxi-button name="save" text="存檔" icon="save"></dxi-button>
                <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
                <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
                <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
              </dxi-column>
        </dx-data-grid>
