@import "./style-var.scss";
.menutext {
    font-family: $rusin-font-family;
    font-size: $rusin-text-size;
}

.ui-table-wrapper {
    font-family: $rusin-font-family;
    font-size: $rusin-text-size;
}
