@import "./style-var.scss";
//dx-grid
// dx grid 的全域設定
.dx-datagrid-headers {
    background-color: #f4f4f4;
    border-top: 1px solid #c8c8c8;
    border-bottom: none;
    color: black;
}
.dx-button {
    border-radius: 2px;
    //width: 130px;
}
.dx-data-grid {
    border-radius: 2px;
}
// dx-row 其實包含 .dx-datagrid-headers
.dx-row {
    font-family: $rusin-font-family;
    // font-weight: 800;
    font-size: $rusin-text-size;
    height: 28px;
    line-height: 28px;
}

// .dx-data-row同.dx-state-hover 同時都有的組合
.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)
    > td:not(.dx-focused) {
    background-color: orange !important;
    color: black !important;
}
.dx-datagrid-rowsview .dx-selection.dx-row > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
    background-color: orange !important;
    color: black !important;
}
// dx grid sorting icon
.dx-datagrid .dx-sort-up:before {
    font-family: "FontAwesome" !important;
    font-size: 1.2rem;
    content: " \f0de" !important; //icon unicode is specified here
    color: red;
}
.dx-datagrid .dx-sort-down:before {
    font-family: "FontAwesome" !important;
    font-size: 1.2rem;
    content: "\f0dd" !important;
    color: red;
}
tr.dx-header-row > td.dx-datagrid-action {
    text-align: left !important;
}
tr.dx-header-row > td.dx-datagrid-action > div.dx-column-indicators {
    float: left !important;
}
// dx grid sorting icon

// dx item
.dx-field-item-label-text {
    font-family: "Meiryo", "Microsoft JhengHei UI", "Microsoft JhengHei",
        "微軟正黑體", "Microsoft YaHei UI", "Microsoft YaHei", "微软雅黑体",
        "微軟雅黑體", "Helvetica Neue", Helvetica, "Lucida Grande", Arial,
        "WenQuanYi Micro Hei", sans-serif, "黑体", "黑體";
    font-size: $rusin-text-size;
    //font-weight: 800;
}
.dx-widget input,
.dx-widget textarea {
    font-family: "Meiryo", "Microsoft JhengHei UI", "Microsoft JhengHei",
        "微軟正黑體", "Microsoft YaHei UI", "Microsoft YaHei", "微软雅黑体",
        "微軟雅黑體", "Helvetica Neue", Helvetica, "Lucida Grande", Arial,
        "WenQuanYi Micro Hei", sans-serif, "黑体", "黑體";
    font-size: $rusin-text-size;
    //font-weight: 800;
    color: black;
}
.dx-field-label {
    font-size: 14px !important;
}
.dx-field-item {
    font-size: 14px !important;
}
.dx-field-item-required-mark {
    color: red !important;
}
.dx-header-row .addmod {
    color: #fff;
    background-color: #71c016;
    border-color: #71c016;
}
.dx-header-row .addmod:hover {
    color: #fff;
    background-color: #5d9e12;
    border-color: #569211;
}
.dx-datagrid-rowsview
    .dx-row-focused.dx-data-row
    .dx-command-edit:not(.dx-focused)
    .dx-link,
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused),
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused) {
    background-color: orange !important;
    color: black !important;
}
.dx-datagrid-rowsview
    .dx-master-detail-row:not(.dx-datagrid-edit-form)
    .dx-master-detail-cell,
.dx-datagrid-rowsview
    .dx-master-detail-row:not(.dx-datagrid-edit-form)
    > .dx-datagrid-group-space {
    background-color: #add8e6 !important;
}
.dx-fileuploader-input-wrapper:before {
    padding-top: 0.6em;
    margin-top: -1em;
}
.dx-button-mode-contained {
    background-color: #1e90ff;
    border-color: transparent;
    color: #fff;
}
.dx-fileuploader-show-file-list .dx-fileuploader-files-container {
    padding-top: 22px;
    display: none;
}
