// 全域的文字大小, body 也在要複製這的
@import "./style-var.scss";
.rusin-text {
    font-family: $rusin-font-family;
    font-weight: 800;
    font-size: $rusin-text-size;
}

.rusin-content-block {
    background-color: white;
    width: 100%;
    padding: 20px 20px;
    min-height: 200px;
    min-width: 90%;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.rusin-content-block-gray {
    background-color: lightgray;
    width: 100%;
    padding: 20px 20px;
    min-height: 200px;
    min-width: 90%;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
// Page Title
.rusin-page-title {
    font-size: 20px; // 20px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
}

// 偽類
.rusin-page-title div:nth-child(1) {
    background-color: rgb(235, 99, 0);
    border-bottom: 4px solid rgb(235, 99, 0);
    color: white;
    margin-left: -15px;
    padding-left: 10px; //
    width: 20%;
    border-radius: 2px 0 0 2px;
}

.rusin-page-title div:nth-child(2) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: rgb(235, 99, 0) #666666 transparent transparent;
}
.rusin-page-title div:nth-child(3) {
    background-color: #666666;
    border-bottom: 4px solid #666666;
    color: white;
    width: 80%;
    margin-right: -15px;
    padding-left: 10px;
    height: 40px;
    border-radius: 0 2px 2px 0;
}
