/* You can add global styles to this file, and also import other style files */
@import "./styles_rusin.scss";

* {
    font-family: "Meiryo", "Microsoft JhengHei UI", "Microsoft JhengHei",
        "微軟正黑體", "Microsoft YaHei UI", "Microsoft YaHei", "微软雅黑体",
        "微軟雅黑體", "Helvetica Neue", Helvetica, "Lucida Grande", Arial,
        "WenQuanYi Micro Hei", sans-serif, "黑体", "黑體";
}

body {
    background-color: #eeeeee;
}

// button{
//     width: 120px;
// }

.swal2-container {
    z-index: 16000 !important;

}

// 查詢表單統一 Layout
.mt-field {
    display: flex;
    margin-bottom: 10px;
}
.mt-field-label {
    flex: 3;
    font-size: 1rem;
    margin: auto;
    // margin-top: 5px;
    // margin-right: 10px;
    // text-align: right;
    font-weight: bold;
}
.mt-field-label::after {
    content: ":";
}
.mt-field-value {
    flex: 5;
}

// 查詢表單統一 Layout
