.headerblock {
    position: relative;
}
.buttongroup {
    padding-top: 10px;
    position: absolute;
    right: 4px;
    top:0px;
}
.insertbtn {
    margin-top: -6px;
    border-radius: 2px;
}
.adjustbtn {
    margin-top: -6px;
    margin-right: 6px;
    border-radius: 2px;
    color: #fff;
    background-color: #1e90ff;
}
