<div class="headerblock">
    <app-headerfont></app-headerfont>
    <div class="buttongroup">
        <dx-button
            class="insertbtn"
            stylingMode="contained"
            text="設定工作日"
            type="success"
            [width]="120"
            (onClick)="creatdata()">
        </dx-button>
    </div>
</div>
<!-- <div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-xs-1" *ngFor="let Status of WorkEstimateStatus" [style.backgroundColor]="Status.color"
            style="width:50px;height:40px;margin:10px;line-height:40px;">
            <span style="color: aliceblue;">{{Status.text}}</span>
        </div>
    </div>
</div> -->
<dx-scheduler [dataSource]="dataSourceDB" [remoteFiltering]="true" currentView="month" textExpr="Text" [height]="Height"
    [width]="1870" [views]='views' startDateExpr="StartDate" endDateExpr="EndDate" allDayExpr="AllDay"
    [maxAppointmentsPerCell]="MaxMachineCount" [adaptivityEnabled]="false">
    <dxo-editing [allowAdding]="false" [allowDeleting]="false" [allowUpdating]="false" [allowResizing]="false"
        [allowDragging]="true"></dxo-editing>
    <dxi-resource fieldExpr="Status" label="狀態" [dataSource]="WorkEstimateStatus"></dxi-resource>

</dx-scheduler>

<dx-popup [showTitle]="true" title="設定工作日" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="1000" [height]="510" [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-workorder-estimate-setting (childOuter)="creatpopup_result($event)" [randomkeyval]="randomkey"></app-workorder-estimate-setting>
    </div>
</dx-popup>
