.headerblock {
    position: relative;
}
.buttongroup {
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top:0px;
}
.toolbtn {
    float: right;
    margin-left: 4px;
    margin-top: 6px;
    border-radius: 2px;
}
.toolinput {
    margin-top: 8px;
}

::ng-deep .dx-texteditor-container{
    width: 250px;
}
