<div class="container">
    <swal
        #okSwal
        title="新增資料"
        text="任務已經新增完成"
        icon="success"
    >
    </swal>
    <swal
        #failSwal
        title="新增失敗"
        text="請注意必填欄位"
        icon="error"
    >
    </swal>
    <div class="row">
        <div class="col-lg-6 col-mg-12 text-center">
            <h4>報工表單</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <form #taskform="ngForm">
                <div class="form-group">
                    <label for="text1">客戶</label>
                    <input
                        type="text"
                        class="form-control"
                        name="customer"
                        [(ngModel)]="currentTask.customer"
                        required
                        placeholder="客戶名稱"
                    >
                </div>
                <div class="form-group">
                    <label for="text2">工作主旨</label>
                    <input
                        name="titles"
                        type="text"
                        class="form-control"
                        [(ngModel)]="currentTask.titles"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="textarea">工作說明</label>
                    <textarea
                        name="taskcontent"
                        cols="40"
                        rows="5"
                        class="form-control"
                        [(ngModel)]="currentTask.taskcontent"
                        required
                    ></textarea>
                </div>
                <div class="form-group">
                    <label for="text">回報員工</label>
                    <input
                        name="staff"
                        type="text"
                        class="form-control"
                        [(ngModel)]="currentTask.staff"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="text">回報日期</label>
                    <dx-date-box
                        [(value)]="currentTask.reporttimes"
                        type="date"
                    >
                    </dx-date-box>
                    <!-- <input
                        name="reporttimes"
                        type="date"
                        class="form-control"
                        [(ngModel)]="currentTask.reporttimes"
                    > -->
                </div>
                <div class="form-group">
                    <button
                        class="btn btn-primary w-100"
                        (click)="submit()"
                    >
                        <i
                            class="fa fa-paper-plane"
                            aria-hidden="true"
                        ></i>

                        &nbsp;&nbsp;&nbsp;&nbsp;新增&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </form>
            <dx-file-uploader
                selectButtonText="選取檔案"
                labelText=""
                [multiple]="true"
                accept="image/jpeg"
                uploadMode="useForm"
                [(value)]="fvalue"
                (onValueChanged)="onValueChanged($event)"
            >
            </dx-file-uploader>

        </div>
    </div>

</div>
