<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">
        <dxi-item dataField="MaterialNo">
            <dxi-validation-rule type="required" message="元件品號 必填"></dxi-validation-rule>
            <dxo-label text="元件品號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Name">
            <dxi-validation-rule type="required" message="元件品名 必填"></dxi-validation-rule>
            <dxo-label text="元件品名"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Quantity"  dataType="number" editorType="dxNumberBox">
            <dxi-validation-rule type="required" message="庫存量 必填"></dxi-validation-rule>
            <dxo-label text="庫存量"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Specification">
            <dxi-validation-rule type="required" message="規格 必填"></dxi-validation-rule>
            <dxo-label text="規格"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Property">
            <dxi-validation-rule type="required" message="屬性 必填"></dxi-validation-rule>
            <dxo-label text="屬性"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Supplier" dataType="number" editorType="dxSelectBox"  [editorOptions]="selectBoxOptions">
            <dxi-validation-rule type="required" message="供應商 必填"></dxi-validation-rule>
            <dxo-label text="供應商"></dxo-label>
        </dxi-item>
        <dxi-item dataField="SubInventory">
            <dxi-validation-rule type="required" message="存放庫別 必填"></dxi-validation-rule>
            <dxo-label text="存放庫別"></dxo-label>
        </dxi-item>
    </dx-form>
    <dx-button  horizontalAlignment="left" text='存檔' type= 'success' icon= 'save'   [useSubmitBehavior]="true" [disabled]="buttondisabled"></dx-button>
</form>

