.headerblock {
    position: relative;
    width: 100vw;
}

.buttongroup {
    position: relative;
    margin-left: 16px;
    margin-bottom: 10px;
}

.insertbtn {
    margin-top: 4px;
    border-radius: 2px;
    /* margin-left: 30px; */
}

.overviewbtn {
    margin-top: 4px;
    margin-right: 12px;
    border-radius: 2px;
    color: #fff;
    background-color: #1e90ff;
}

.overviewbtn:hover {
    border: 1px solid #fff;
    background-color: #1e90ff;
}

.billmargin {
    margin-left: 11px;
}
