<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">

        <dxi-item dataField="Quantity" dataType="number" editorType="dxNumberBox" [editorOptions]="QuantityEditorOptions">
            <dxi-validation-rule type="required" message="驗收數量 必填"></dxi-validation-rule>
            <dxo-label text="驗收數量"></dxo-label>
        </dxi-item>
        <dxi-item dataField="UnitCount" dataType="number" editorType="dxNumberBox" [editorOptions]="UnitCountEditorOptions">
            <dxo-label text="計價數量"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Price" dataType="number" editorType="dxNumberBox" format="$ #,##0.##;($ #,##0.##)" [editorOptions]="PriceEditorOptions">
            <dxi-validation-rule type="required" message="驗收單價 必填"></dxi-validation-rule>
            <dxo-label text="驗收單價"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Unit">
            <dxo-label text="單位"></dxo-label>
        </dxi-item>
        <dxi-item dataField="PriceAll" format="$ #,##0.##;($ #,##0.##)" [editorOptions]="{disabled: true , format: '#0', min: 0}">
            <dxo-label text="驗收總價"></dxo-label>
        </dxi-item>
        <dxi-item dataField="UnitPrice" dataType="number" editorType="dxNumberBox" format="$ #,##0.##;($ #,##0.##)" [editorOptions]="UnitPriceEditorOptions">
            <dxo-label text="計價單價"></dxo-label>
        </dxi-item>
        <dxi-item dataField="WorkPrice" format="$ #,##0.##;($ #,##0.##)" [editorOptions]="{format: '#0', min: 0}">
            <dxo-label text="加工費用"></dxo-label>
        </dxi-item>
        <dxi-item dataField="UnitPriceAll" dataType="number" editorType="dxNumberBox" format="$ #,##0.##;($ #,##0.##)" [editorOptions]="UnitPriceAllEditorOptions">
            <dxo-label text="計價總額"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Remarks">
            <dxo-label text="備註"></dxo-label>
        </dxi-item>

    </dx-form>
    <br>
    <!-- <div class="long-title">
        <h5>訂單內容</h5>
    </div> -->

    <div class="col-auto-12 mt-1">
        <dx-button horizontalAlignment="right" class="pl-3 pr-3 pb-1" text='存檔' type='success' icon='save' [useSubmitBehavior]="true"
            [disabled]="buttondisabled"></dx-button>
        <!-- <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions">
            </dxi-item> -->
    </div>

</form>


