::ng-deep .dx-toast-message {
    white-space: pre-line;
}

::ng-deep .dx-error-message {
    white-space: pre-line;
}

.headerblock {
    position: relative;
}

.insertbtn {
    margin-top: 4px;
    border-radius: 2px;
    /* margin-left: 30px; */
}

.overviewbtn {
    margin-top: 4px;
    margin-right: 12px;
    border-radius: 2px;
    color: #fff;
    background-color: #1e90ff;
}

.buttongroup {
    position: relative;
    margin-left: 16px;
    margin-bottom: 10px;
}

.dx-template-wrapper {
    display: flex;
    justify-content: center;
}
