<header>
    <dx-toolbar class="header-toolbar">
        <dxi-item *ngIf="menuToggleEnabled" location="before" widget="dxButton" cssClass="menu-button" [options]="{
        icon: 'menu',
        stylingMode: 'text',
        onClick: toggleMenu
      }">
        </dxi-item>
        <dxi-item location="before" cssClass="header-title" *ngIf="title" [text]="title">
        </dxi-item>
        <dxi-item location="after" locateInMenu="auto" >
            <div *dxTemplate>
                    <div class="alertcss">
                        <ul style="list-style-type: none; margin-left:0; padding: 0;text-align: center; width:200px">
                            <li #messages [ngClass]="{'active-top-menu':app.activeTopbarItem === messages}">
                                <a href="#" (click)="app.onTopbarItemClick($event,messages)">
                                    <i class="topbar-icon animated swing fa fa-fw fa-bell"></i>
                                    <span class="topbar-badge animated rubberBand">{{message.length}}</span>
                                    <span class="topbar-item-name">Messages</span>
                                </a>
                                <ul class="layout-menu fadeInDown" style="background-color: rgb(245, 236, 198, 0.9);">
                                    <li *ngFor="let item of message" role="menuitem">
                                        <a href="#" class="topbar-message">
                                            <span>{{item}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
            </div>
        </dxi-item>
        <dxi-item location="after" locateInMenu="auto" menuItemTemplate="menuItem">
            <div *dxTemplate="let data of 'item'">
                <dx-button class="user-button authorization" width="210px" height="100%" stylingMode="text">
                    <div *dxTemplate="let data of 'content'">
                        <app-user-panel [user]="user" [menuItems]="userMenuItems" menuMode="context"></app-user-panel>
                    </div>
                </dx-button>
            </div>
        </dxi-item>
        <div *dxTemplate="let data of 'menuItem'">
            <app-user-panel [user]="user" [menuItems]="userMenuItems" menuMode="list">USER</app-user-panel>
        </div>
    </dx-toolbar>
</header>
