<dx-data-grid [dataSource]="dataSourceDB" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
    height="580">

    <!-- <dxo-row-dragging [allowReordering]="true" [onReorder]="onReorder" [showDragIcons]="false"></dxo-row-dragging> -->

    <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
        <dxo-form colCount=4>
            <dxi-item dataField="SerialNumber"></dxi-item>
        </dxo-form>
    </dxo-editing>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
        [enterKeyDirection]="enterKeyDirection">
    </dxo-keyboard-navigation>
    <dxo-paging [enabled]="false">
    </dxo-paging>
    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-summary [recalculateWhileEditing]="true">
        <dxi-total-item displayFormat="總共 {0}筆" column="CreateTime" summaryType="count">
        </dxi-total-item>
        <dxi-total-item displayFormat="{0}個" column="ReCount" summaryType="sum">
        </dxi-total-item>
        <dxi-total-item displayFormat="{0}個" column="NgCount" summaryType="sum">
        </dxi-total-item>
        <dxi-total-item column="RePrice" summaryType="sum" valueFormat="$ #,##0.##;($ #,##0.##)" displayFormat="{0}元">
        </dxi-total-item>
    </dxo-summary>

    <dxi-column dataField="CreateTime" caption="回報日期" dataType="date" format="shortDateShortTime" [allowEditing]="false"
        [width]="180"></dxi-column>
    <dxi-column dataField="CreateUser" caption="回報人員" alignment="center" [width]="100">
        <dxo-lookup [dataSource]="UserList" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ReportType" caption="回報種類" alignment="center" [width]="120">
        <dxo-lookup [dataSource]="ReportTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ProducingMachine" caption="機台" alignment="center" [width]="70" [visible]="NCVisible">
    </dxi-column>
    <dxi-column dataField="ReCount" caption="回報良品數量" [width]="110" [visible]="NCVisible"></dxi-column>
    <dxi-column dataField="NgCount" caption="回報NG數量" [width]="100" [visible]="NCVisible"></dxi-column>
    <!-- <dxi-column dataField="RePrice" caption="回報金額" format="$ #,##0.##;($ #,##0.##)" [width]="100" [visible]="NCVisible"></dxi-column> -->
    <dxi-column dataField="DrawNo" caption="圖號" [width]="120" [visible]="NCVisible"></dxi-column>
    <dxi-column dataField="PurchaseNo" caption="採購單號" [width]="120" [visible]="NCVisible"></dxi-column>
    <dxi-column dataField="Supplier.Name" caption="供應商" [width]="160" [visible]="NCVisible"></dxi-column>
    <dxi-column dataField="Message" caption="回報說明" [visible]="NCVisible"></dxi-column>


    <!-- <dxi-column dataField="QCWorkOrderHead.WorkOrderNo" caption="工單號" [width]="150" [visible]="QCVisible"></dxi-column> -->
    <dxi-column dataField="QCReportType" caption="檢驗種類" alignment="center" [width]="150" [visible]="QCVisible">
        <dxo-lookup [dataSource]="QcTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <!-- <dxi-column dataField="QCDrawNo" caption="圖號" [width]="150" [visible]="QCVisible"></dxi-column> -->
    <dxi-column dataField="QCReCount" caption="回報數量" [width]="80" [visible]="QCVisible"></dxi-column>
    <dxi-column dataField="QCCkCount" caption="檢驗數量" [width]="80" [visible]="QCVisible"></dxi-column>
    <dxi-column dataField="QCOkCount" caption="合格數量" [width]="80" [visible]="QCVisible"></dxi-column>
    <dxi-column dataField="QCNgCount" caption="NG數量" [width]="70" [visible]="QCVisible"></dxi-column>
    <dxi-column dataField="QCNcCount" caption="NC數量" [width]="70" [visible]="QCVisible"></dxi-column>
    <!-- <dxi-column dataField="QCCheckResult" caption="檢驗結果" alignment="center" [width] [visible]="QCVisible"="110">
        <dxo-lookup [dataSource]="QcResultList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column> -->
    <dxi-column dataField="QCMessage" caption="檢驗說明" [visible]="QCVisible"></dxi-column>
    <!-- <dxi-column dataField="QCCreateUser" caption="檢驗人員" alignment="center" [width]="110" [visible]="QCVisible">
        <dxo-lookup [dataSource]="UserList" displayExpr="Realname" valueExpr="Id"></dxo-lookup>
    </dxi-column> -->
    <!-- <dxi-column dataField="QCCreateTime" caption="檢驗日期" dataType="date" format="shortDateShortTime" sortOrder="desc" [width]="180" [visible]="QCVisible"></dxi-column> -->



    <!-- <dxi-column dataField="DueStartTime" caption="預計開工日" dataType="date">
    </dxi-column>
    <dxi-column dataField="DueEndTime" caption="預計完工日" dataType="date">
    </dxi-column> -->
    <dxi-column dataField="ActualStartTime" caption="實際開工日" dataType="date" format="shortDateShortTime"
        [allowEditing]="false" [width]="180"></dxi-column>
    <dxi-column dataField="ActualEndTime" caption="實際完工日" dataType="date" format="shortDateShortTime"
        [allowEditing]="false" [width]="180"></dxi-column>
    <dxi-column dataField="MachineStartTime" caption="機台開工" dataType="date" format="shortDateShortTime" [width]="180">
    </dxi-column>
    <dxi-column dataField="MachineEndTime" caption="機台完工" dataType="date" format="shortDateShortTime" [width]="180">
    </dxi-column>
    <dxi-column type="buttons" [visible]="false">
        <dxi-button name="save" text="存檔"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>

</dx-data-grid>
