<!-- <p>所有訂單</p> -->
<div class="headerblock">
    <div class="headerfont font1">組成管理</div>
    <div class="triangle"></div>
    <div class="lefttriangle">
        <div class="lefttriangle1"></div>
        <div class="lefttriangle2"></div>
    </div>
    <div class="headerfont font2">物料清單管理</div>
    <div class="buttongroup">
    </div>
    <!-- <div class="buttongroup">
        <dx-button class="insertbtn" stylingMode="contained" text="新增成品資訊" type="success" [width]="130"
            (onClick)="creatdata()" [visible]="app.checkAddRoles()">
        </dx-button>
    </div> -->
</div>
<nz-tabset>
    <nz-tab nzTitle="有BOM資料">
        <dx-data-grid [dataSource]="dataSourceDB" showBorders="true" keyExpr="Id" hoverStateEnabled="true" rootValue="0"
        [showColumnLines]="false" [showRowLines]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="true"
        [columnAutoWidth]="false" [showBorders]="true" [remoteOperations]="remoteOperations"
        [masterDetail]="{ enabled: true, template: 'detail' }">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-paging [enabled]="true" [pageSize]="15">
        </dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50 , 100]" [showInfo]="true"
            [showNavigationButtons]="true" visible="true">
        </dxo-pager>
        <!-- <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="true" [paging]="true" [summary]="true">
        </dxo-remote-operations> -->
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="false">
            <dxo-form>
                <dxi-item dataField="ActualSpecification"></dxi-item>
            </dxo-form>
            <dxo-popup>
                <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type: 'success', text: '存檔', onClick: saveClickHandler }">
                </dxi-toolbar-item>
                <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type:'danger', text: '取消', onClick: cancelClickHandler }">
                </dxi-toolbar-item>
            </dxo-popup>
        </dxo-editing>
        <dxi-column dataField="MaterialNo" caption="品號"  [filterValue]="" dataType="string" [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="Name" caption="品名" dataType="string" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="Specification" caption="規格" dataType="string" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="ActualSpecification" caption="實際規格" dataType="string"></dxi-column>
        <dxi-column dataField="Property" caption="廠內規格" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="MaterialNumber" caption="廠內品號" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="UpdateTime" caption="更新時間" dataType="date" format="shortDateShortTime" sortOrder="desc" [allowEditing]="false"></dxi-column>

        <dxi-column caption="版本紀錄" cellTemplate="cellTemplate" width="100"></dxi-column>
        <div *dxTemplate="let data of 'cellTemplate'">
            <dx-button icon="detailslayout" type="normal" (onClick)="readBomVer($event,data)"></dx-button>
        </div>

        <div *dxTemplate="let item of 'detail'">
            <app-bomlist [itemkeyval]="item.key" [bomMod]="bomMod"></app-bomlist>
        </div>
        </dx-data-grid>
    </nz-tab>
    <nz-tab nzTitle="尚未建立BOM資料">
        <dx-data-grid [dataSource]="dataSourceDB2" showBorders="true" keyExpr="Id" hoverStateEnabled="true" rootValue="0"
        [showColumnLines]="false" [showRowLines]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="true"
        [columnAutoWidth]="false" [showBorders]="true" [remoteOperations]="remoteOperations"
        [masterDetail]="{ enabled: true, template: 'detail' }">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-paging [enabled]="true" [pageSize]="15">
        </dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50 , 100]" [showInfo]="true"
            [showNavigationButtons]="true" visible="true">
        </dxo-pager>
        <!-- <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="true" [paging]="true" [summary]="true">
        </dxo-remote-operations> -->
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="false">
            <dxo-form>
                <dxi-item dataField="ActualSpecification"></dxi-item>
            </dxo-form>
            <dxo-popup>
                <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type: 'success', text: '存檔', onClick: saveClickHandler }">
                </dxi-toolbar-item>
                <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="{ type:'danger', text: '取消', onClick: cancelClickHandler }">
                </dxi-toolbar-item>
            </dxo-popup>
        </dxo-editing>

        <dxi-column dataField="MaterialNo" caption="成品品號"  [filterValue]="" dataType="string" [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="Name" caption="成品品名" dataType="string" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="Specification" caption="成品規格" dataType="string" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="ActualSpecification" caption="實際規格" dataType="string"></dxi-column>
        <dxi-column dataField="Property" caption="廠內規格" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="MaterialNumber" caption="廠內品號" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="UpdateTime" caption="更新時間" dataType="date" format="shortDateShortTime" sortOrder="desc" [allowEditing]="false"></dxi-column>

        <dxi-column caption="版本紀錄" cellTemplate="cellTemplate" width="100"></dxi-column>
        <div *dxTemplate="let data of 'cellTemplate'">
            <dx-button icon="detailslayout" type="normal" (onClick)="readBomVer($event,data)"></dx-button>
        </div>


        <div *dxTemplate="let item of 'detail'">
            <app-bomlist [itemkeyval]="item.key" [bomMod]="bomMod"></app-bomlist>
        </div>
        </dx-data-grid>
    </nz-tab>
  </nz-tabset>


<!-- <dx-popup [showTitle]="true" title="新增成品資訊" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="1800" [height]="800"
    [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-create-billofmaterial (childOuter)="creatpopup_result($event)" [itemkeyval]="itemkey" >
        </app-create-billofmaterial>
    </div>
</dx-popup> -->

<dx-popup [showTitle]="true" title="變更紀錄" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760"
    [(visible)]="verpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-bomverlist [bomverdata]="bomverdata"></app-bomverlist>
    </div>
</dx-popup>
