<div class="layout-wrapper" (click)="onLayoutClick()" [ngClass]="{'menu-layout-static': !isOverlay(),
                'menu-layout-overlay': isOverlay(),
                'layout-menu-overlay-active': overlayMenuActive,
                'menu-layout-horizontal': isHorizontal(),
                'menu-layout-slim': isSlim(),
                'layout-menu-static-inactive': staticMenuDesktopInactive,
                'layout-menu-static-active': staticMenuMobileActive}">

    <app-topbar *ngIf="login$"></app-topbar>

    <div *ngIf="login$" class="layout-menu-container" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
        <p-scrollPanel #layoutMenuScroller [style]="{height: '100%' }">
            <div class="menu-scroll-content">
                <app-inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></app-inline-profile>
                <app-menu [reset]="resetMenu"></app-menu>
            </div>
        </p-scrollPanel>
    </div>

    <div class="layout-main">
        <router-outlet></router-outlet>
    </div>

    <div class="layout-mask"></div>


</div>

<!-- 單側邊 navbar -->
<!-- <ng-container *ngIf="login$; else unauthenticated">
    <app-side-nav-outer-toolbar title="Honji">
        <router-outlet></router-outlet>
        <app-footer>
        Copyright © 2011- Inc.
        <br/>
        All trademarks or registered trademarks are property of their respective owners.
      </app-footer>
   </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #unauthenticated>
    <app-unauthenticated-content></app-unauthenticated-content>
</ng-template> -->
<!-- 純側邊 navbar -->
