.headerblock {
    position: relative;
}
.buttongroup {
    padding-top: 10px;
    position: absolute;
    right: 4px;
    top:10px;
}
.toolbtn {
    float: right;
    margin-left: 4px;
    margin-top: 6px;
    border-radius: 2px;
}
