<!-- <p>所有訂單</p> -->
<div class="headerblock">
    <div class="headerfont font1">組成管理</div>
    <div class="triangle"></div>
    <div class="lefttriangle">
        <div class="lefttriangle1"></div>
        <div class="lefttriangle2"></div>
    </div>
    <div class="headerfont font2">物料製程管理</div>
    <div class="buttongroup">
        <!-- <dx-button
            class="insertbtn"
            stylingMode="contained"
            text="新增成品"
            type="success"
            [width]="120"
            (onClick)="creatdata()">
        </dx-button> -->
    </div>
</div>

<div class="row">

    <div class="col-7">

        <dx-data-grid [dataSource]="dataSourceDB" showBorders="true" keyExpr="Id" hoverStateEnabled="true" rootValue="0"
            [showColumnLines]="false" [showRowLines]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="true"
            [columnAutoWidth]="false" [showBorders]="true" [remoteOperations]="remoteOperations"
            [masterDetail]="{ enabled: true, template: 'detail' }">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-paging [enabled]="true" [pageSize]="20">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50, 100]" [showInfo]="true"
                [showNavigationButtons]="true" visible="true">
            </dxo-pager>
            <!-- <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="true" [paging]="true" [summary]="true">
            </dxo-remote-operations> -->
            <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false"></dxo-editing>

            <dxi-column dataField="ProductNo" caption="成品品號" [allowEditing]="false" [filterValue]="" dataType="string" sortOrder="asc">
            </dxi-column>
            <dxi-column dataField="Name" caption="成品品名" dataType="string"></dxi-column>
            <dxi-column dataField="Specification" caption="成品規格" dataType="string"></dxi-column>
            <dxi-column dataField="Property" caption="廠內規格"></dxi-column>
            <dxi-column dataField="ProductNumber" caption="廠內品號"></dxi-column>

            <dxi-column caption="" cellTemplate="cellTemplate" width="70"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button icon="chevrondoubleright" type="default" (onClick)="readBomProcess($event,data)"></dx-button>
            </div>

            <!-- <dxi-column type="buttons" caption="新增" cssClass="addmod">
                <dxi-button name="save" text="存檔" icon="save"></dxi-button>
                <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
                <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
                <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
            </dxi-column> -->

            <div *dxTemplate="let item of 'detail'">
                <app-bomlist [itemkeyval]="item.key" [bomMod]="bomMod" (onChangeVar)="onChangeVar($event)"></app-bomlist>
            </div>
        </dx-data-grid>

    </div>


    <div class="col-5">

        <div class="row">

            <div class="col-5">
                <div class="input-group">
                  <label class="pt-2">編號：{{bomNo}}</label>
                </div>
            </div>
            <div class="col-5">
                <div class="input-group">
                  <label class="pt-2">名稱：{{bomName}}</label>
                </div>
            </div>
            <div class="col-2">
                <dx-button
                    class="savebtn"
                    stylingMode="contained"
                    text="更新"
                    type="success"
                    [width]="120"
                    [disabled]="saveDisabled"
                    (onClick)="savedata()">
                </dx-button>
            </div>
        </div>

        <dx-data-grid
            #dataGrid2
            [dataSource]="dataSourceDB_Process"
            [showBorders]="true"
            height="600"
            (onInitNewRow)="onInitNewRow($event)"
            (onRowRemoved)="onRowRemoved($event)">

            <dxo-row-dragging
                [allowReordering]="true"
                [onReorder]="onReorder"
                [showDragIcons]="false"
            ></dxo-row-dragging>

            <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                <dxo-form colCount=2>
                    <dxi-item dataField="ProcessId"></dxi-item>
                    <dxi-item dataField="ProcessLeadTime"></dxi-item>
                    <dxi-item dataField="ProcessTime"></dxi-item>
                    <dxi-item dataField="ProcessCost"></dxi-item>
                    <dxi-item dataField="ProducingMachine"></dxi-item>
                </dxo-form>
            </dxo-editing>
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
                [enterKeyDirection]="enterKeyDirection">
            </dxo-keyboard-navigation>
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
            <dxo-summary [recalculateWhileEditing]="true">
                <dxi-total-item
                    [customizeText]="customizeText1"
                    column="ProcessLeadTime"
                    summaryType="sum">
                </dxi-total-item>
                <dxi-total-item
                    [customizeText]="customizeText2"
                    column="ProcessTime"
                    summaryType="sum">
                </dxi-total-item>
                <dxi-total-item
                    [customizeText]="customizeText3"
                    column="ProcessCost"
                    summaryType="sum">
                </dxi-total-item>
            </dxo-summary>

            <dxi-column dataField="SerialNumber" caption="No" dataType="number" [width]="50" [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="ProcessId" caption="製程名稱" editCellTemplate="ProcessEditCellTemplate" [width]="220">
                <dxo-lookup [dataSource]="ProcessBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
                <dxi-validation-rule type="required" message="製程名稱 必填"></dxi-validation-rule>
            </dxi-column>

            <dxi-column dataField="ProcessLeadTime" caption="前置(分)" dataType="number" editCellTemplate="ProcessLeadTimeTemplate" [width]="80">
            </dxi-column>
            <dxi-column dataField="ProcessTime" caption="標準(分)" dataType="number" editCellTemplate="ProcessTimeTemplate" [width]="80">
            </dxi-column>
            <dxi-column dataField="ProcessCost" caption="成本" dataType="number" editCellTemplate="ProcessCostTemplate" [width]="80">
            </dxi-column>
            <dxi-column dataField="ProducingMachine" caption="機台" editCellTemplate="ProducingMachineTemplate" [visible]="false">
            </dxi-column>
            <dxi-column dataField="Remarks" caption="備註" editCellTemplate="RemarksTemplate">
            </dxi-column>
            <dxi-column dataField="DrawNo" caption="圖號" editCellTemplate="DrawNoTemplate" [width]="150" [visible]="false">
            </dxi-column>
            <dxi-column dataField="Manpower" caption="所需人力" editCellTemplate="ManpowerTemplate" [width]="80" [visible]="false">
            </dxi-column>

            <dxi-column type="buttons" [width]="90">
                <dxi-button name="save" text="存檔"></dxi-button>
                <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
                <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
                <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
            </dxi-column>

            <div *dxTemplate="let data of 'ProcessEditCellTemplate'">
                <dx-select-box [value]="data.value" (onValueChanged)="selectvalueChanged($event,data)"
                    [dataSource]="{ paginate: true, store: { type: 'array', data: ProcessBasicList, key:'Id' } }"
                    valueExpr="Id" displayExpr="Name" [searchEnabled]="true"></dx-select-box>
            </div>

            <div *dxTemplate="let data of 'ProcessLeadTimeTemplate'">
                <dx-number-box [value]="ProcessLeadTime" (onValueChanged)="data.setValue($event.value)" [showSpinButtons]="true"></dx-number-box>
            </div>
            <div *dxTemplate="let data of 'ProcessTimeTemplate'">
                <dx-number-box [value]="ProcessTime" (onValueChanged)="data.setValue($event.value)" [showSpinButtons]="true"></dx-number-box>
            </div>
            <div *dxTemplate="let data of 'ProcessCostTemplate'">
                <dx-number-box [value]="ProcessCost" (onValueChanged)="data.setValue($event.value)" [showSpinButtons]="true"></dx-number-box>
            </div>
            <div *dxTemplate="let data of 'ProducingMachineTemplate'">
                <dx-text-box [value]="ProducingMachine" (onValueChanged)="data.setValue($event.value)"></dx-text-box>
            </div>
            <div *dxTemplate="let data of 'RemarksTemplate'">
                <dx-text-box [value]="Remarks" (onValueChanged)="data.setValue($event.value)"></dx-text-box>
            </div>
            <div *dxTemplate="let data of 'DrawNoTemplate'">
                <dx-text-box [value]="DrawNo" (onValueChanged)="data.setValue($event.value)"></dx-text-box>
            </div>
            <div *dxTemplate="let data of 'ManpowerTemplate'">
                <dx-number-box [value]="Manpower" (onValueChanged)="data.setValue($event.value)"></dx-number-box>
            </div>

        </dx-data-grid>

    </div>

</div>

