<div class="headerblock">
    <app-headerfont></app-headerfont>
    <div class="buttongroup">
        <dx-button class="infobtn" stylingMode="contained" text="領退料紀錄查詢" type="normal" [width]="150" (onClick)="infodata()">
        </dx-button>
    </div>
</div>

<dx-popup [showTitle]="true" title="領退料紀錄查詢" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760" [width]="1700" [(visible)]="infopopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-receive-info (childOuter)="creatpopup_result($event)" [itemkeyval]="iteminfokey" [randomkeyval]="randomkey">
        </app-receive-info>
    </div>
</dx-popup>

<div id="form-container">
    <div class="col-auto-12 mt-2 mb-1 ml-4">
        <form action="">
            <dx-form id="form" [formData]="formData" [colCount]="5">
                <dxi-item dataField="WorkOrderNo" [editorOptions]="editorOptions">
                    <dxo-label text="工單號查詢"></dxo-label>
                </dxi-item>
                <dxi-item dataField="BasicDataNo" [editorOptions]="editorOptions">
                    <dxo-label text="品號查詢"></dxo-label>
                </dxi-item>
            </dx-form>
        </form>
    </div>
</div>

<nz-table class="table-hover" #basicTable nzBordered [nzData]="dataSourceDBDisplay.ProcessesDataList" nzTableLayout="fixed" [nzFrontPagination]="true" [nzShowPagination]="true" [nzPageSizeOptions]="[10, 20, 30, 40]" [nzPageIndex]="1" [nzTotal]="300" [nzPageSize]="20" nzShowSizeChanger [nzScroll]="{ x: '800px', y: '600px' }">

    <thead>

        <tr>
            <th nzWidth="140px" nzLeft>工單號</th>
            <th nzWidth="160px" nzLeft>品號</th>
            <th nzWidth="170px" nzLeft>名稱</th>
            <th nzWidth="130px" nzLeft>預計完工</th>
            <th nzWidth="80px" nzLeft>訂單量</th>
            <th nzWidth="80px" nzLeft>工單量</th>
            <ng-container *ngFor="let col of dataSourceDBDisplay.ColumnOptionlist">
                <th *ngIf="col.show" nzWidth="260px">{{ col.title }}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data" (click)="trclick(data)">
            <td [ngClass]="getBlueClass(data)" nzLeft>{{data.WorkOrderNo}}</td>
            <td [ngClass]="['table_tit', getBlueClass(data)]" title={{data.BasicDataNo}} nzLeft>{{data.BasicDataNo}}
            </td>
            <td [ngClass]="['table_tit', getBlueClass(data)]" title={{data.BasicDataName}} nzLeft>{{data.BasicDataName}}
            </td>
            <td [ngClass]="['table_tit', getBlueClass(data)]" title={{data.DueEndTime}} nzLeft nzEllipsis>
                {{data.DueEndTime}}</td>
            <td [ngClass]="getBlueClass(data)" nzLeft>{{data.OrderCount}}</td>
            <td [ngClass]="getBlueClass(data)" nzLeft>{{data.Count}}</td>
            <ng-container *ngFor="let col of dataSourceDBDisplay.ColumnOptionlist">
                <td [ngClass]="getBlue2Class(data[col.key]?.value3)" *ngIf="col.show" (click)="tdclick(data, col)" nzEllipsis>
                    <div>
                        <ng-container *ngIf="data[col.key]?.value0">
                            <span title={{data[col.key]?.value0}}>

                                {{data[col.key]?.value0}}
                            </span>
                        </ng-container>
                        <ng-container *ngIf="data[col.key]?.value1">
                            <br />
                            <hr /> {{data[col.key]?.value1}}
                        </ng-container>
                        <ng-container *ngIf="data[col.key]?.value2">
                            <br />
                            <hr /> {{data[col.key]?.value2}}
                        </ng-container>
                        <!-- {{data[col.key]}}
                        <br />
                        <hr />{{data[col.key]}} -->
                    </div>
                </td>
            </ng-container>
        </tr>
    </tbody>
</nz-table>

<dx-popup [showTitle]="true" title="製程報工" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="1000" [height]="ReportHeight" [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-workorder-report (childOuter)="creatpopup_result($event)" [itemkeyval]="itemtdkey" [serialkeyval]="serialkey" [popupkeyval]="creatpopupVisible" [modval]="mod" [randomkey]="randomkey"> </app-workorder-report>
    </div>
</dx-popup>
<dx-popup [showTitle]="true" title="批次製程報工" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760" [width]="1600" [(visible)]="editpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-editworkorder (childOuter)="creatpopup_result($event)" [itemkeyval]="itemtrkey" [modval]="mod" [randomkeyval]="randomkey" [popupkeyval]="editpopupVisible">
        </app-editworkorder>
    </div>
</dx-popup>
<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>
