.headerblock {
    position: relative;
}
.buttongroup {
    /* padding-top: 10px; */
    position: absolute;
    right: 4px;
    top:0px;
    padding: 0px;
}
.insertbtn {
    margin-top: -6px;
    border-radius: 2px;
}

.table-hover tbody tr:hover {
    color: #FF9500;
    /* background-color: #eaeaf1; */
}
.process_start {
    background-color:#f8f691;
}
.process_end {
    background-color:#9afd97;
}
.process_stop {
    background-color:#b3b2b2;
}
.process_alarm {
    background-color:#FFB5B5;
}
.ant-table-tbody>tr>td:hover {
    transition: background .3s;
    background-color: rgba(255, 145, 0, 0.589);
    color: #000;
}

.infobtn {
    margin-top: 4px;
    margin-right: 2px;
    border-radius: 2px;
    color: #fff;
    background-color: #1e90ff;
}
