<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">
        <dxi-item dataField="ProducingMachine" [disabled]="true">
            <dxo-label text="加工機台"></dxo-label>
        </dxi-item>
    </dx-form>

    <dx-data-grid [dataSource]="dataSourceDB" showBorders="true" keyExpr="Id" hoverStateEnabled="true" rootValue="0"
        [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="true"
        [columnAutoWidth]="false" [showBorders]="true">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-paging [enabled]="true" [pageSize]="20">
        </dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50, 100]" [showInfo]="true"
            [showNavigationButtons]="true" visible="true">
        </dxo-pager>
        <dxo-editing mode="row" [allowUpdating]="false"></dxo-editing>

        <dxo-form>
            <dxi-item dataField="ReportType"></dxi-item>
            <dxi-item dataField="WorkOrderDetail.WorkOrderHead.WorkOrderNo"></dxi-item>
            <dxi-item dataField="WorkOrderDetail.SerialNumber"></dxi-item>
            <dxi-item dataField="PurchaseNo"></dxi-item>
            <dxi-item dataField="DrawNo"></dxi-item>
            <dxi-item dataField="Manpower"></dxi-item>
            <dxi-item dataField="ReCount"></dxi-item>
            <dxi-item dataField="Remarks"></dxi-item>
            <dxi-item dataField="StatusO"></dxi-item>
            <dxi-item dataField="StatusN"></dxi-item>
            <dxi-item dataField="DueStartTime"></dxi-item>
            <dxi-item dataField="DueEndTime"></dxi-item>
            <dxi-item dataField="ActualStartTime"></dxi-item>
            <dxi-item dataField="ActualEndTime"></dxi-item>
            <dxi-item dataField="CreateTime"></dxi-item>
        </dxo-form>

        <dxi-column dataField="ReportType" caption="回報種類" dataType="string">
            <dxo-lookup [dataSource]="ReportTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="WorkOrderDetail.WorkOrderHead.WorkOrderNo" caption="工單號碼" dataType="string" [width]="140"></dxi-column>
        <dxi-column dataField="WorkOrderDetail.SerialNumber" caption="工序順序" dataType="string"></dxi-column>
        <dxi-column dataField="WorkOrderDetail.SerialNumber" caption="工序" dataType="string"></dxi-column>
        <dxi-column dataField="WorkOrderDetail.SerialNumber" caption="經過時間" dataType="string"></dxi-column>
        <!-- <dxi-column dataField="PurchaseNo" caption="採購單號" dataType="string"></dxi-column>
        <dxi-column dataField="DrawNo" caption="圖號" dataType="string"></dxi-column>
        <dxi-column dataField="Manpower" caption="需求人力" dataType="string"></dxi-column> -->
        <dxi-column dataField="ReCount" caption="回報數量" dataType="string"></dxi-column>
        <dxi-column dataField="Remarks" caption="備註" dataType="string"></dxi-column>
        <dxi-column dataField="StatusO" caption="上一個狀態" dataType="string">
            <dxo-lookup [dataSource]="WorkOrderTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="StatusN" caption="更新狀態" dataType="string">
            <dxo-lookup [dataSource]="WorkOrderTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="DueStartTime" caption="預計開工日" dataType="date"></dxi-column>
        <dxi-column dataField="DueEndTime" caption="預計完工日" dataType="date"></dxi-column>
        <dxi-column dataField="ActualStartTime" caption="實際開工日" dataType="date"></dxi-column>
        <dxi-column dataField="ActualEndTime" caption="實際完工日" dataType="date"></dxi-column>
        <dxi-column dataField="CreateTime" caption="建立日期" dataType="date"></dxi-column>
    </dx-data-grid>
</form>
