<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">
        <dxi-item dataField="ProducingMachine" [disabled]="true">
            <dxo-label text="加工機台"></dxo-label>
        </dxi-item>
    </dx-form>

    <dx-data-grid
        [dataSource]="dataSourceDB"
        showBorders="true"
        keyExpr="Id"
        hoverStateEnabled="true"
        rootValue="0"
        [showColumnLines]="true"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [focusedRowEnabled]="true"
        [columnAutoWidth]="false"
        [showBorders]="true"
        [remoteOperations]="remoteOperations"
        [height]="690">

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-paging [enabled]="false" [pageSize]="20">
        </dxo-paging>
        <!-- <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50, 100]" [showInfo]="true"
            [showNavigationButtons]="true" visible="true">
        </dxo-pager> -->
        <dxo-scrolling mode="infinite" columnRenderingMode="virtual"></dxo-scrolling>

        <dxo-editing mode="row" [allowUpdating]="false"></dxo-editing>

        <!-- <dxi-column dataField="CreateTime" caption="建立日期" dataType="date" format="shortDateShortTime" [width]="180"></dxi-column> -->
        <dxi-column dataField="ReportType" caption="回報種類" dataType="string" [width]="100">
            <dxo-lookup [dataSource]="ReportTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="WorkOrderNo" caption="工單號碼" dataType="string" [width]="120"></dxi-column>
        <dxi-column dataField="SerialNumber" caption="工序" dataType="string" alignment="center" [width]="50"></dxi-column>
        <dxi-column dataField="Process" caption="工序名稱" dataType="string" [width]="200"></dxi-column>
        <dxi-column dataField="ProcessTime" caption="經過時間" dataType="string" [width]="80"></dxi-column>
        <!-- <dxi-column dataField="PurchaseNo" caption="採購單號" dataType="string"></dxi-column>
        <dxi-column dataField="DrawNo" caption="圖號" dataType="string"></dxi-column>
        <dxi-column dataField="Manpower" caption="需求人力" dataType="string"></dxi-column> -->
        <dxi-column dataField="ReCount" caption="回報數量" dataType="string" [width]="80"></dxi-column>
        <dxi-column dataField="Remarks" caption="備註" dataType="string"></dxi-column>
        <!-- <dxi-column dataField="StatusO" caption="上一個狀態" dataType="string" [width]="100">
            <dxo-lookup [dataSource]="WorkOrderTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column> -->
        <!-- <dxi-column dataField="StatusN" caption="更新狀態" dataType="string" [width]="100">
            <dxo-lookup [dataSource]="WorkOrderTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        </dxi-column> -->
        <dxi-column dataField="DueStartTime" caption="預計開工日" dataType="date" [width]="120" [(selectedFilterOperation)]="selectedOperation"></dxi-column>
        <dxi-column dataField="DueEndTime" caption="預計完工日" dataType="date" [width]="120" [(selectedFilterOperation)]="selectedOperation"></dxi-column>
        <dxi-column dataField="ActualStartTime" caption="回報開工時間" dataType="date" format="shortDateShortTime"
        [width]="180" [(selectedFilterOperation)]="selectedOperation"></dxi-column>
        <dxi-column dataField="ActualEndTime" caption="回報完工時間" dataType="date" format="shortDateShortTime"
        [width]="180" [(selectedFilterOperation)]="selectedOperation"></dxi-column>
    </dx-data-grid>
</form>
