::ng-deep.dx-fileuploader,
.dx-fileuploader * {
    display: inline-block;
    vertical-align: middle;
}

::ng-deep.dx-fileuploader-input-container {
    display: none;
}

::ng-deep.dx-fileuploader-wrapper,
.dx-fileuploader-input-wrapper {
    border: none;
}

.headerblock {
    position: relative;
}

.buttongroup {
    position: absolute;
    right: 4px;
    top: 0px;
}

.insertbtn {
    margin-top: -6px;
    border-radius: 2px;
    /* margin-left: 30px; */
}

.pdfbtn {
    float: right;
    margin-right: 6px;
    border-radius: 2px;
    font-weight: bold;
    color: #1e90ff;
    background-color: #ebe8e8;
}

.editbtn {
    float: right;
    margin-right: 6px;
    border-radius: 2px;
    background-color: #ff831e;
}

.endbtn {
    float: right;
    margin-right: 6px;
    border-radius: 2px;
    background-color: #ce312c;
}

.runbtn {
    float: right;
    margin-right: 6px;
    border-radius: 2px;
    color: #fff;
    background-color: #058a00;
}

.qrcodebtn {
    margin-top: -6px;
    margin-right: 6px;
    border-radius: 2px;
    color: #fff;
    background-color: #1e90ff;
}

.viewbtn {
    margin-top: -6px;
    margin-right: 6px;
    border-radius: 2px;
    color: #fff;
    background-color: #1e90ff;
}

.table-hover tbody tr:hover {
    color: #ff9500;
    /* background-color: #eaeaf1; */
}

.process_started {
    background-color: #f8f691;
}

.process_ended {
    background-color: #9afd97;
}

.process_finish {
    background-color: #91e0f8;
}

.process_start {
    background-color: #fdf90d21;
}

.process_end {
    background-color: #15fd0d21;
}