<div class="headerblock">
    <div class="headerfont font1">生產管理</div>
    <div class="triangle"></div>
    <div class="lefttriangle">
        <div class="lefttriangle1"></div>
        <div class="lefttriangle2"></div>
    </div>
    <div class="headerfont font2">工單管理</div>
    <div class="buttongroup">
        <dx-button
            class="insertbtn"
            stylingMode="contained"
            text="建立工單"
            type="success"
            [width]="120"
            (onClick)="creatdata()">
        </dx-button>
    </div>
</div>

<nz-table class="table-hover" #basicTable nzBordered [nzData]="dataSourceDB.ProcessesDataList" [nzFrontPagination]="false"
    [nzShowPagination]="false" [nzScroll]="{ x: '800px', y: '700px' }">
    <thead>
        <!-- <tr>
            <th nzLeft colspan="3" rowspan='3' nzWidth="300px">XXX BOM表</th>
        </tr>
        <tr>
            <th colspan="19" nzWidth="800px">訂單編號</th>
        </tr>
        <tr>
            <th colspan="19" nzWidth="800px">加工流程</th>
        </tr> -->
        <tr>
            <th nzWidth="130px" nzLeft>工單號</th>
            <th nzWidth="150px" nzLeft>品號</th>
            <th nzWidth="200px" nzLeft>名稱</th>
            <th nzWidth="100px" nzLeft>機號</th>
            <th nzWidth="70px" nzLeft>數量</th>
            <ng-container *ngFor="let col of dataSourceDB.ColumnOptionlist">
                <th *ngIf="col.show" nzWidth="150px">{{ col.title }}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data" (click)="trclick(data)">
            <td nzLeft>{{data.WorkOrderNo}}</td>
            <td nzLeft>{{data.BasicDataNo}}</td>
            <td nzLeft>{{data.BasicDataName}}</td>
            <td nzLeft>{{data.MachineNo}}</td>
            <td nzLeft>{{data.Count}}</td>
            <ng-container *ngFor="let col of dataSourceDB.ColumnOptionlist">
                <td *ngIf="col.show" (click)="tdclick(data)">
                    <div>
                        <ng-container *ngIf="data[col.key]?.value0">
                            {{data[col.key]?.value0}}
                        </ng-container>
                        <ng-container *ngIf="data[col.key]?.value1">
                            <br />
                            <hr />
                            {{data[col.key]?.value1}}
                        </ng-container>
                        <ng-container *ngIf="data[col.key]?.value2">
                            <br />
                            <hr />
                            {{data[col.key]?.value2}}
                        </ng-container>
                        <!-- {{data[col.key]}}
                        <br />
                        <hr />{{data[col.key]}} -->
                    </div>
                </td>
            </ng-container>
        </tr>
    </tbody>
</nz-table>

<dx-popup [showTitle]="true" title="建立工單" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760"
    [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatprocess-control (childOuter)="creatpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod"></app-creatprocess-control>
    </div>
</dx-popup>
<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true"
    [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>
