<div class="headerblock">
    <app-headerfont></app-headerfont>
    <div class="buttongroup">
        <dx-file-uploader #fileUploader selectButtonText="匯入工單" abelText="" [uploadUrl]="uploadUrl" [multiple]="false"
            [width]="130" [uploadHeaders]="uploadHeaders"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.csv"
            uploadMode="instantly" (onUploaded)="onUploaded($event)" [visible]="app.checkAddRoles()">
        </dx-file-uploader>
        <dx-button class="qrcodebtn" stylingMode="contained" text="產生QRCode" type="normal" [width]="140"
            (onClick)="qrcodedata()" [visible]="app.checkAddRoles()">
        </dx-button>
        <dx-button class="viewbtn" stylingMode="contained" text="檢視工單" type="normal" [width]="120"
            (onClick)="viewdata()" [visible]="app.checkAddRoles()">
        </dx-button>
        <dx-button class="insertbtn" stylingMode="contained" text="建立工單" type="success" [width]="120"
            (onClick)="creatdata()" [visible]="app.checkAddRoles()">
        </dx-button>
    </div>
</div>

<div class="row">

    <div class="col-6">

        <dx-data-grid #dataGrid1 [dataSource]="dataSourceDB" showBorders="true" keyExpr="Id" hoverStateEnabled="true"
            rootValue="0" [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true"
            [focusedRowEnabled]="true" [columnAutoWidth]="false" [showBorders]="true"
            [remoteOperations]="remoteOperations">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-paging [enabled]="true" [pageSize]="20">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50, 100]" [showInfo]="true"
                [showNavigationButtons]="true" visible="true">
            </dxo-pager>
            <!-- <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="true" [paging]="true" [summary]="true">
            </dxo-remote-operations> -->
            <dxo-editing mode="row" [allowUpdating]="false"></dxo-editing>

            <dxi-column dataField="WorkOrderNo" caption="工單號" [width]="140"></dxi-column>
            <dxi-column dataField="DataNo" caption="品號"></dxi-column>
            <!-- <dxi-column dataField="DataName" caption="名稱" [width]="180"></dxi-column> -->
            <!-- <dxi-column dataField="MachineNo" caption="機號"></dxi-column> -->
            <dxi-column dataField="Status" caption="狀態" alignment="center" [width]="80">
                <dxo-lookup [dataSource]="listStatus" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="DueStartTime" caption="預計開工" dataType="date" [width]="120" [visible]="true">
            </dxi-column>
            <dxi-column dataField="DueEndTime" caption="預計完工" dataType="date" [width]="120" [visible]="true">
            </dxi-column>
            <dxi-column dataField="OrderCount" caption="訂單量" [width]="70"></dxi-column>
            <dxi-column dataField="Count" caption="工單量" [width]="70"></dxi-column>
            <dxi-column dataField="ReCount" caption="完工量" [width]="70"></dxi-column>
            <dxi-column dataField="CreateTime" caption="建立日期" dataType="date" sortOrder="desc" [visible]="false"
                [width]="150"></dxi-column>
            <dxi-column dataField="UpdateTime" caption="更新日期" dataType="date" [width]="120" [visible]="false">
            </dxi-column>

            <dxi-column caption="" cellTemplate="cellTemplate" alignment="center" width="50"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <!-- <dx-button class="runbtn" icon="runner" type="default" (onClick)="runProcess($event,data)"
                [disabled]="!(data.data.Status === 0 || data.data.Status === 4)"></dx-button>
                <dx-button class="editbtn" icon="edit" type="default" (onClick)="editProcess($event,data)"></dx-button> -->
                <dx-button icon="chevrondoubleright" type="default" (onClick)="readProcess($event, data.data.Id)">
                </dx-button>
            </div>

            <!-- <dxi-column type="buttons" caption="新增" cssClass="addmod">
                <dxi-button name="save" text="存檔" icon="save"></dxi-button>
                <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
                <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
                <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
            </dxi-column> -->

        </dx-data-grid>

    </div>


    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <label class="pt-3">
                        <h5>工單內容：{{workOrderHeadNo}}</h5>
                    </label>
                </div>
            </div>
            <div class="col-6 pt-2">
                <dx-button class="pdfbtn" stylingMode="contained" text="下載" type="default" [width]="70"
                    [visible]="editVisible" (onClick)="downloadWorkOrder($event)">
                </dx-button>
                <dx-button class="endbtn" stylingMode="contained" text="工單結案" type="danger" [width]="110"
                    [visible]="editVisible" [disabled]="btnDisabled" (onClick)="overdata()">
                </dx-button>
                <dx-button class="editbtn" stylingMode="contained" text="編輯工單" type="default" [width]="110"
                    [visible]="editVisible" [disabled]="btnDisabled" (onClick)="editProcess()">
                </dx-button>
                <dx-button class="runbtn" stylingMode="contained" text="派工" type="success" [width]="80"
                    [visible]="runVisible" (onClick)="runProcess()">
                </dx-button>

                <!-- <div class="buttongroup">
                    <a style="color: dodgerblue;text-decoration:underline;font-size: medium;float: right;" [href]="Url" target="_blank"
                    (click)="downloadWorkOrder($event)">產生工單報表
                    </a>
                </div> -->
            </div>
        </div>

        <dx-data-grid #dataGrid2 [dataSource]="dataSourceDB_Process" [showBorders]="true" height="600"
            [showColumnLines]="true" [showRowLines]="true">

            <dxo-row-dragging [allowReordering]="false" [onReorder]="onReorder" [showDragIcons]="false">
            </dxo-row-dragging>
            <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
                <dxo-form colCount=2>
                    <dxi-item dataField="ProcessId"></dxi-item>
                    <dxi-item dataField="ProcessLeadTime"></dxi-item>
                    <dxi-item dataField="ProcessTime"></dxi-item>
                    <dxi-item dataField="ProcessCost"></dxi-item>
                    <dxi-item dataField="ProducingMachine"></dxi-item>
                </dxo-form>
            </dxo-editing>
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
                [enterKeyDirection]="enterKeyDirection">
            </dxo-keyboard-navigation>
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

            <dxi-column dataField="SerialNumber" caption="No" dataType="number" [width]="35" [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="ProcessId" caption="製程名稱">
                <dxo-lookup [dataSource]="ProcessBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <!-- <dxi-column dataField="Remarks" caption="備註">
            </dxi-column> -->

            <dxi-column dataField="ProducingMachine" caption="機台" alignment="center"></dxi-column>
            <dxi-column dataField="Status" caption="狀態" alignment="center">
                <dxo-lookup [dataSource]="listStatus" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Type" caption="委外" alignment="center">
                <dxo-lookup [dataSource]="listWorkOrderTypes" displayExpr="Name" valueExpr="Id"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Count" caption="良品/NG" alignment="center"></dxi-column>
            <!-- <dxi-column dataField="ReCount" caption="完工數量" dataType="number" [width]="80"></dxi-column> -->
            <dxi-column dataField="ExpectedlTotalTime" caption="預計工時" dataType="number">
            </dxi-column>
            <dxi-column dataField="ActualStartTime" caption="實際開工" dataType="date" format="shortDateShortTime">
            </dxi-column>
            <dxi-column dataField="ActualEndTime" caption="實際完工" dataType="date" format="shortDateShortTime">
            </dxi-column>
            <dxi-column dataField="MachineStartTime" caption="機台開工" dataType="date" format="shortDateShortTime">
            </dxi-column>
            <dxi-column dataField="MachineEndTime" caption="機台完工" dataType="date" format="shortDateShortTime">
            </dxi-column>
            <dxi-column caption="" cellTemplate="cellTemplate" alignment="center" [minWidth]="30"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button icon="detailslayout" type="normal" (onClick)="readLog($event,data)"></dx-button>
            </div>

            <dxi-column type="buttons" [visible]="false">
                <dxi-button name="save" text="存檔"></dxi-button>
                <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
                <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
                <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
            </dxi-column>
            <dxo-summary [recalculateWhileEditing]="true">
                <dxi-total-item column="ExpectedlTotalTime" summaryType="sum" displayFormat="{0}分"
                    valueFormat="###,##0">
                </dxi-total-item>
            </dxo-summary>
        </dx-data-grid>

        <dx-popup [showTitle]="true" [title]="showTitleValue" [dragEnabled]="false" [closeOnOutsideClick]="false"
            [width]="1700" [height]="700" [(visible)]="logpopupVisible">
            <div *dxTemplate="let data of 'content'">
                <app-workorder-report-log [itemkeyval]="itemkey" [randomkey]="lograndomkey"></app-workorder-report-log>
            </div>
        </dx-popup>

    </div>

</div>

<dx-popup [showTitle]="true" title="工單資訊" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760"
    [width]="1700" [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatprocess-control (childOuter)="creatpopup_result($event)" [randomkeyval]="randomkey"
            [itemkeyval]="itemkey" [modval]="mod">
        </app-creatprocess-control>
    </div>
</dx-popup>

<nz-modal [(nzVisible)]="viewpopupVisible" nzTitle="檢視工單" [nzWidth]="1800" [nzStyle]="{ top: '20px' }" [nzFooter]="null"
    (nzOnCancel)="handleCancel()">
    <app-process-control-view [itemkeyval]="randomkey"></app-process-control-view>
</nz-modal>

<dx-popup [showTitle]="true" title="結案確認" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="600"
    [height]="310" [(visible)]="closepopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-workorder-close (childOuter)="closepopup_result($event)" [workorderkeyval]="workOrderHeadId"
            [itemkeyval]="itemkey" [userkeyval]="userkey" [modkeyval]="modkey" [randomkeyval]="randomkey"
            [popupkeyval]="closepopupVisible"></app-workorder-close>
    </div>
</dx-popup>

<!-- <dx-popup [showTitle]="true" title="檢視工單" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="860"
    [width]="1800" [(visible)]="viewpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-process-control-view [itemkeyval]="randomkey"></app-process-control-view>
        <div dx-scroll-view style="height: 100%">
        </div>
    </div>
</dx-popup> -->

<dx-popup [showTitle]="true" title="產出QrCode" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="830"
    [(visible)]="qrcodepopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-qrcode [itemkeyval]="randomkey"></app-qrcode>
    </div>
</dx-popup>
