::ng-deep .dx-datagrid-rowsview .dx-row>.dx-master-detail-cell {
    padding: 5px;
}

::ng-deep #fileuploader-container {
    border: 1px solid #d3d3d3;
}

::ng-deep.dx-fileuploader,
.dx-fileuploader * {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

::ng-deep.dx-fileuploader-input-container {
    display: none;
}

::ng-deep.dx-fileuploader-wrapper,
.dx-fileuploader-input-wrapper {
    padding: 0;
    border: none;
}

.headerblock {
    position: relative;
}

.buttongroup {
    position: absolute;
    right: 4px;
    top: 0px;
    padding: 0px !important;
}

.insertbtn {
    margin-top: -6px;
    border-radius: 2px;
}

.overviewbtn {
    margin-top: -6px;
    margin-right: 12px;
    border-radius: 2px;
    color: #fff;
    background-color: #1e90ff;
}

.searchbtn {
    margin-top: -6px;
    margin-right: 3px;
    border-radius: 2px;
}

.style {
    height: auto;
}

.dx-button-mode-contained .dx-icon {
    color: #ffdd1e !important;
}

.pdfbtn {
    float: right;
    margin-right: 6px;
    border-radius: 2px;
    font-weight: bold;
    color: #1e90ff;
    background-color: #ebe8e8;
}

.editbtn {
    float: right;
    margin-right: 6px;
    border-radius: 2px;
    background-color: #ff831e;
}

.deletebtn {
    float: right;
    margin-right: 6px;
    border-radius: 2px;
    background-color: #ce2cab;
}

.endbtn {
    float: right;
    margin-right: 6px;
    border-radius: 2px;
    background-color: #ce312c;
}

.runbtn {
    float: right;
    margin-right: 6px;
    border-radius: 2px;
    color: #fff;
    background-color: #058a00;
}

.table-hover tbody tr:hover {
    color: #ff9500;
    /* background-color: #eaeaf1; */
}

.process_started {
    background-color: #f8f691;
}

.process_ended {
    background-color: #9afd97;
}

.process_finish {
    background-color: #91e0f8;
}

.process_start {
    background-color: #fdf90d21;
}

.process_end {
    background-color: #15fd0d21;
}
