.dx-button {
    float: right;
}
.editbtn {
    margin-top: 0px;
    margin-left: 3px;
    border-radius: 2px;
}
::ng-deep .dx-form{
    margin-bottom: 10px;
}

::ng-deep .dx-texteditor-input-container > input{
    padding: 6px 6px 6px;
}
