<div class="headerblock">
    <div class="headerfont font1">生產管理</div>
    <div class="triangle"></div>
    <div class="lefttriangle">
        <div class="lefttriangle1"></div>
        <div class="lefttriangle2"></div>
    </div>
    <div class="headerfont font2">機台管理</div>
</div>


<div class="container">
    <div class="row justify-content-center align-items-center machineid">

        <div class="col-sm-6 col-md-3" *ngFor="let item of dataSourceDB">
            <div class="card" [ngClass]="getClass(item.ProcessTotal)">
                <h5 class="card-header">{{item.MachineName}}</h5>
                <div class="card-body">
                    <p class="card-text">品號 : {{item.DataNo}}</p>
                    <p class="card-text">工單號 : {{item.No}}</p>
                    <p class="card-text">製程名稱 : {{item.ProcessName}}</p>
                    <p class="card-text">目前製程剩餘時間 : {{item.RemainingTime}}分</p>
                    <p class="card-text">已安排製程數 : {{item.ProcessTotal}}</p>
                    <p class="card-text">已安排製程剩餘時間 : {{item.TotalTime}}分</p>
                    <!-- <p class="card-text">已安排製程工單號 :</p> -->
                    <ul>
                        <li *ngFor="let itemd of item.machineOrderList">
                           <p class="card-text"> {{itemd.WorkOrderNo}}</p>
                        </li>
                    </ul>
                    <dx-button class="btn-primary btn" stylingMode="contained" text="機台詳情" type="default" [width]="110" [visible]="editVisible"
                        [disabled]="btnDisabled" (onClick)="viewProcess()">
                    </dx-button>
                </div>
            </div>
        </div>

    </div>
</div>

<dx-popup [showTitle]="true" title="機台編號" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760"
    [width]="1700" [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-machinedetail (childOuter)="creatpopup_result($event)" [randomkeyval]="randomkey"
            [itemkeyval]="itemkey" [modval]="mod">
        </app-machinedetail>
    </div>
</dx-popup>
