<div class="headerblock">
    <div class="headerfont font1">生產管理</div>
    <div class="triangle"></div>
    <div class="lefttriangle">
        <div class="lefttriangle1"></div>
        <div class="lefttriangle2"></div>
    </div>
    <div class="headerfont font2">機台管理</div>
</div>


<div class="container">
    <div class="row justify-content-center align-items-center machineid">

        <div class="col-sm-6 col-md-3" *ngFor="let item of dataSourceDB">
            <div class="card" [ngClass]="getClass(item.Process)">
                <h5 class="card-header">{{item.Name}}</h5>
                <div class="card-body">
                    <p class="card-text">剩餘時間 : {{item.Date | date:'hh:mm'}}</p>
                    <p class="card-text">已安排製程 : {{item.Process}}</p>
                    <p class="card-text">預計完工日 : {{item.Date | date:'yyyy/MM/dd'}}</p>
                    <ul>
                        <li *ngFor="let itemd of item.machineOrderList">
                            <p class="card-text">{{itemd.Name}}</p>
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">機台詳情</a>
                </div>

            </div>
        </div>

    </div>
</div>
