.buttongroup {
    padding-top: 10px;
    position: absolute;
    right: 10px;
}

.insertbtn {
    margin-top: -6px;
    border-radius: 2px;
}

.container {
    max-width: 1950px;
    font-size: 20px;
}

.card-header {
    background-color: #5c72b5;
    color: white
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    /* margin-bottom: 10px; */
}

a {
    float: right;
}

.card {
    padding: 0px;
    min-height: 510px;
    margin-bottom: 25px;
}

.card-body {
    position: relative;
}

.card-text {
    font-size: 20px;
    margin: 0 0 18px 0;
}

.machineOrderList-box {
    height: 120px;
    overflow: auto;
}

.machineOrderList-box.noalert {
    height: 172px;
    overflow: auto;
}

.detail-btn {
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.order-btn {
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.alert-time {
    color: red;
}

.Alert {
    background-color: #f1abbd
}

.Alert-text {
    color: red;
}

.dx-button-content {
    background-color: #f1abbd;
    border: none;
}

::ng-deep .dx-button .dx-button-content {
    text-align: left;
    padding: 0px;
}

::ng-deep.dx-button-content {
    line-height: unset;
    text-align: left;
    padding: none;
    display: inline-block;
}

.machineOrderList-box .box-card-text {
    font-size: 20px;
    padding: 0px;
}
