<dx-data-grid

    [dataSource]="dataSourceDB"
    showBorders="true"
    keyExpr="id"
    [focusedRowEnabled]="true"
    (onDataErrorOccurred)="onDataErrorOccurred($event)"
    [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
    (onFocusedRowChanging)="onFocusedRowChanging($event)"
    (onFocusedRowChanged)="onFocusedRowChanged($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onSelectionChanged)="selectionChanged($event)"
    hoverStateEnabled="true"
    [rowAlternationEnabled]="true"
    [remoteOperations]="remoteOperations" [columnAutoWidth]="true" [height]="620">

    <dxo-scrolling mode="infinite" columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-selection mode="multiple" showCheckBoxesMode="always" ></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 100]" [showInfo]="true">
    </dxo-pager>
    <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
        <dxo-form>
            <dxi-item dataField="AdjustNo"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <dxi-column dataField="OrderNo" caption="訂單單號" [width]="140" style="position:sticky" [fixed]="true"></dxi-column >
    <dxi-column dataField="OrderType" caption="訂單種類" alignment="center" [width]="80">
        <dxo-lookup [dataSource]="OrderTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="CustomerNo" caption="客戶單號" [width]="200"></dxi-column>
    <dxi-column dataField="Customer" caption="客戶名稱" [width]="200">
        <dxo-lookup [dataSource]="CustomerList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="MachineNo" caption="機號" [width]="180"></dxi-column>
    <dxi-column dataField="MaterialBasicId" caption="品號" [width]="200">
        <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="MaterialNo" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="MaterialBasicId" caption="品名" >
        <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="MaterialBasicId" caption="規格" >
        <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="Specification" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Quantity" caption="數量" [width]="50"></dxi-column>
    <dxi-column dataField="Unit" caption="單位" alignment="center" [width]="50"></dxi-column>
    <dxi-column dataField="OriginPrice" caption="原單價" format="$ #,##0.##;($ #,##0.##)" [width]="80"></dxi-column>
    <dxi-column dataField="Price" caption="價格" format="$ #,##0.##;($ #,##0.##)"></dxi-column>
    <dxi-column dataField="DueDate" caption="預交日" [width]="120" dataType="date"></dxi-column>
    <dxi-column dataField="ReplyDate" caption="回覆交期" [width]="120" dataType="date"></dxi-column>
    <dxi-column dataField="Remark" caption="備註" [width]="100"></dxi-column>
    <dxi-column dataField="ReplyRemark" caption="回覆備註" [width]="100"></dxi-column>
    <dxi-column dataField="SaleCount" caption="銷單" [width]="80"></dxi-column>
    <dxi-column dataField="SaledCount" caption="已銷" [width]="80"></dxi-column>

</dx-data-grid>

<div class="row pt-3">
    <div class="col-md-6 col-sm-8">
    </div>
    <div class="col-md-2 col-sm-2">
        <!-- <div class="input-group">
            <label class="pt-2">總數量：{{totalcount}}</label>
        </div> -->
    </div>
    <div class="col-md-4 col-sm-1">
        <!-- <dx-button text="建立銷貨單" type="default" (onClick)="to_saleClick($event)"></dx-button>
        <dx-button text="建立採購單" type="default" (onClick)="to_purchaseClick($event)"></dx-button> -->
        <dx-button text="建立工單" type="default" (onClick)="to_workClick($event)"></dx-button>
        <!-- <dx-button text="建立托工單" type="default" (onClick)="to_outsideClick($event)"></dx-button> -->
    </div>
</div>

<!-- <dx-popup [showTitle]="true" title="新增採購單" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760"
    [(visible)]="popupVisiblePurchase">
    <div *dxTemplate="let data of 'content'">
        <app-creat-purchase (childOuter)="popup_result($event)" [itemkeyval]="topurchasekey" [dataSource]="dataSource" [modval]="mod"></app-creat-purchase>
    </div>
</dx-popup>
<dx-popup [showTitle]="true" title="轉銷貨" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="popupVisibleSale">
    <div *dxTemplate="let data of 'content'">
        <app-ordertosale (childOuter)="popup_result($event)" [itemkeyval]="tosalekey" [modval]="mod"></app-ordertosale>
    </div>
</dx-popup> -->
<dx-popup [showTitle]="true" title="轉工單" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760"
    [(visible)]="popupVisibleWork">
    <div *dxTemplate="let data of 'content'">
        <app-ordertowork (childOuter)="popup_result($event)" [Oitemkeyval]="Otoworkkey" [itemkeyval]="toworkkey"></app-ordertowork>
    </div>
</dx-popup>
