<dx-data-grid
    [dataSource]="dataSourceDB"
    showBorders="true"
    keyExpr="id"
    [focusedRowEnabled]="true"
    (onDataErrorOccurred)="onDataErrorOccurred($event)"
    [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
    (onFocusedRowChanging)="onFocusedRowChanging($event)"
    (onFocusedRowChanged)="onFocusedRowChanged($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onSelectionChanged)="selectionChanged($event)"
    hoverStateEnabled="true"
    [rowAlternationEnabled]="true"
    [remoteOperations]="remoteOperations" [columnAutoWidth]="true" [height]="600">

    <dxo-scrolling mode="infinite" columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-selection mode="multiple" showCheckBoxesMode="always" ></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 100]" [showInfo]="true">
    </dxo-pager>
    <dxo-editing mode="row"  [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
        <dxo-form>
            <dxi-item  dataField="AdjustNo"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <dxi-column dataField="Order.OrderNo" caption="訂單單號" [width]="120" ></dxi-column>
    <dxi-column dataField="Order.OrderType" caption="訂單種類" alignment="center" [width]="80">
        <dxo-lookup [dataSource]="OrderTypeList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Order.CustomerNo" caption="客戶單號" [width]="140"></dxi-column>
    <dxi-column dataField="Order.Customer" caption="客戶名稱" [width]="180">
        <dxo-lookup [dataSource]="CustomerList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="MachineNo" caption="機號" [width]="170"></dxi-column>
    <dxi-column dataField="ProductBasicId" caption="品號" [width]="200">
        <dxo-lookup [dataSource]="ProductBasicList" displayExpr="ProductNo" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ProductBasicId" caption="品名" [width]="150">
        <dxo-lookup [dataSource]="ProductBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ProductBasicId" caption="規格" [width]="200">
        <dxo-lookup [dataSource]="ProductBasicList" displayExpr="Specification" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Quantity" caption="數量" [width]="50"></dxi-column>
    <dxi-column dataField="Unit" caption="單位" alignment="center" [width]="50"></dxi-column>
    <dxi-column dataField="OriginPrice" caption="原單價" format="$ #,##0.##;($ #,##0.##)" [width]="80"></dxi-column>
    <dxi-column dataField="Price" caption="價格" format="$ #,##0.##;($ #,##0.##)" [width]="80"></dxi-column>
    <dxi-column dataField="DueDate" caption="預交日" [width]="120" dataType="date"></dxi-column>
    <dxi-column dataField="ReplyDate" caption="回覆交期" [width]="120" dataType="date"></dxi-column>
    <dxi-column dataField="Remark" caption="備註" [width]="100"></dxi-column>
    <dxi-column dataField="ReplyRemark" caption="回覆備註" [width]="100"></dxi-column>
    <dxi-column dataField="SaleCount" caption="銷單" [width]="80"></dxi-column>
    <dxi-column dataField="SaledCount" caption="已銷" [width]="80"></dxi-column>
</dx-data-grid>
