<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
        [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">
        <dxi-item dataField="Username">
            <dxi-validation-rule type="required" message="帳號 必填"></dxi-validation-rule>
            <dxo-label text="帳號"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Realname">
            <dxi-validation-rule type="required" message="姓名 必填"></dxi-validation-rule>
            <dxo-label text="姓名"></dxo-label>
        </dxi-item>

        <dxi-item dataField="Password" [editorOptions]="{ mode: 'password' }">
            <dxi-validation-rule type="required" message="密碼 必填"></dxi-validation-rule>
            <dxo-label text="密碼"></dxo-label>
        </dxi-item>
        <dxi-item dataField="PasswordConfirm" editorType="dxTextBox" [editorOptions]="{ mode: 'password' }">
            <dxi-validation-rule type="required" message="確認密碼 必填"></dxi-validation-rule>
            <dxo-label text="確認密碼"></dxo-label>
            <!-- <dxi-validation-rule [comparisonTarget]="passwordComparison" message="輸入密碼不相符"></dxi-validation-rule> -->
        </dxi-item>

        <dxi-item dataField="Permission" editorType="dxSelectBox" [editorOptions]="selectBoxOptionsPermission">
            <dxi-validation-rule type="required" message="身分 必填"></dxi-validation-rule>
            <dxo-label text="身分"></dxo-label>
        </dxi-item>
        <dxi-item dataField="Department" editorType="dxSelectBox" [editorOptions]="selectBoxOptionsDepartment">
            <dxi-validation-rule type="required" message="部門 必填"></dxi-validation-rule>
            <dxo-label text="部門"></dxo-label>
        </dxi-item>

    </dx-form>
    <dx-data-grid [dataSource]="dataSourceDB" [showBorders]="true" keyExpr="Id" height="500"
        (onFocusedCellChanging)="onFocusedCellChanging($event)" (onInitNewRow)="onInitNewRow($event)"
        (onEditingStart)="onEditingStart($event)" (onCellPrepared)="onCellPrepared($event)">

        <dxo-editing mode="batch" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="false">
        </dxo-editing>
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
            [enterKeyDirection]="enterKeyDirection">
        </dxo-keyboard-navigation>
        <dxo-paging [enabled]="false">
        </dxo-paging>
        <dxi-column dataField="Name" caption="名稱"></dxi-column>
        <dxi-column dataField="Creat" caption="新增" editCellTemplate="EditCellTemplate"></dxi-column>
        <dxi-column dataField="Edit" caption="修改" editCellTemplate="EditCellTemplate"></dxi-column>
        <dxi-column dataField="Delete" caption="刪除" editCellTemplate="EditCellTemplate"></dxi-column>
        <div *dxTemplate="let data of 'EditCellTemplate'">
            <dx-check-box [value]="data.value" (onValueChanged)="onValueChanged($event,data)"></dx-check-box>
        </div>
    </dx-data-grid>
    <div class="col-auto-12 mt-4">
        <dx-button horizontalAlignment="right" text='存檔' type='success' icon='save' [useSubmitBehavior]="true"
            [disabled]="buttondisabled"></dx-button>
    </div>
</form>
