
.table-hover tbody tr:hover {
    color: #ff9500;
    /* background-color: #eaeaf1; */
}
.process_started {
    background-color: #f8f691;
}
.process_ended {
    background-color: #9afd97;
}
.process_finish {
    background-color: #91e0f8;
}
.process_start {
    background-color: #fdf90d73;
}
.process_end {
    background-color: #15fd0d70;
}
.process_stop {
    background-color:#b3b2b2;
}
.process_alarm {
    background-color:#FFB5B5;
}
