<nz-table class="table-hover" #basicTable nzBordered [nzData]="dataSourceDB.ProcessesDataList" nzTableLayout="fixed" [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="scrollValue" nsAutoHeightTable>
    <thead>
        <tr>
            <th nzWidth="140px" nzLeft>工單號</th>
            <th nzWidth="160px" nzLeft>品號</th>
            <th nzWidth="170px" nzLeft>名稱</th>
            <th nzWidth="130px" nzLeft>機號</th>
            <th nzWidth="100px" nzLeft>數量</th>
            <ng-container *ngFor="let col of dataSourceDB.ColumnOptionlist">
                <th *ngIf="col.show" nzWidth="160px">{{ col.title }}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data" (click)="trclick(data)">

            <td [ngClass]="getBlueClass(data)" nzLeft>{{data.WorkOrderNo}}</td>
            <td [ngClass]="['table_tit', getBlueClass(data)]" title={{data.BasicDataNo}} nzLeft>{{data.BasicDataNo}}
            </td>
            <td [ngClass]="['table_tit', getBlueClass(data)]" title={{data.BasicDataName}} nzLeft>{{data.BasicDataName}}
            </td>
            <td [ngClass]="['table_tit', getBlueClass(data)]" title={{data.MachineNo}} nzLeft nzEllipsis>
                {{data.MachineNo}}</td>
            <td [ngClass]="getBlueClass(data)" nzLeft>{{data.Count}}</td>

            <ng-container *ngFor="let col of dataSourceDB.ColumnOptionlist">
                <td [ngClass]="getBlue2Class(data[col.key]?.value3)" *ngIf="col.show" (click)="tdclick(data)" nzEllipsis>
                    <div>
                        <ng-container *ngIf="data[col.key]?.value0">
                            {{data[col.key]?.value0}}
                        </ng-container>
                        <ng-container *ngIf="data[col.key]?.value1">
                            <br />
                            <hr /> {{data[col.key]?.value1}}
                        </ng-container>
                        <ng-container *ngIf="data[col.key]?.value2">
                            <br />
                            <hr /> {{data[col.key]?.value2}}
                        </ng-container>
                        <!-- {{data[col.key]}}
                        <br />
                        <hr />{{data[col.key]}} -->
                    </div>
                </td>
            </ng-container>
        </tr>
    </tbody>
</nz-table>

<dx-popup [showTitle]="true" title="工單資訊" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="'90%'" [(visible)]="creatpopupVisible">
    <div *dxTemplate="let data of 'content'">
        <app-creatprocess-control (childOuter)="creatpopup_result($event)" [itemkeyval]="itemkey" [modval]="mod">
        </app-creatprocess-control>
    </div>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>