<div class="headerblock">
    <app-headerfont></app-headerfont>
</div>

<dx-data-grid #dataGrid1 [dataSource]="dataSourceDB" showBorders="true" keyExpr="Id" hoverStateEnabled="true"
    rootValue="0" [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true"
    [focusedRowEnabled]="false" [columnAutoWidth]="false" [showBorders]="true" [remoteOperations]="remoteOperations"
    [(selectedRowKeys)]="selectedRowKeys">
    <dxo-selection [selectAllMode]="'page'" [showCheckBoxesMode]="'always'" mode="multiple"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-paging [enabled]="true" [pageSize]="20">
    </dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 50, 100]" [showInfo]="true"
        [showNavigationButtons]="true" visible="true">
    </dxo-pager>
    <!-- <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="true" [paging]="true" [summary]="true">
            </dxo-remote-operations> -->
    <dxo-editing mode="row" [allowUpdating]="false"></dxo-editing>

    <dxi-column dataField="WorkOrderNo" caption="工單號" [width]="140" sortOrder="desc"></dxi-column>
    <dxi-column dataField="DataNo" caption="品號"></dxi-column>
    <!-- <dxi-column dataField="DataName" caption="名稱" [width]="180"></dxi-column> -->
    <!-- <dxi-column dataField="MachineNo" caption="機號"></dxi-column> -->
    <dxi-column dataField="Status" caption="狀態" alignment="center" [width]="80">
        <dxo-lookup [dataSource]="listStatus" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="DueStartTime" caption="預計開工" dataType="date" [width]="120" [visible]="true">
    </dxi-column>
    <dxi-column dataField="DueEndTime" caption="預計完工" dataType="date" [width]="120" [visible]="true">
    </dxi-column>
    <dxi-column dataField="OrderCount" caption="訂單量" [width]="70"></dxi-column>
    <dxi-column dataField="Count" caption="工單量" [width]="70"></dxi-column>
    <dxi-column dataField="ReCount" caption="完工量" [width]="70"></dxi-column>
    <dxi-column dataField="CreateTime" caption="建立日期" dataType="date" [visible]="false" [width]="150"></dxi-column>
    <dxi-column dataField="UpdateTime" caption="更新日期" dataType="date" [width]="120" [visible]="false">
    </dxi-column>

    <dxi-column caption="" cellTemplate="cellTemplate" alignment="center" width="50" [visible]="false"></dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">
        <!-- <dx-button class="runbtn" icon="runner" type="default" (onClick)="runProcess($event,data)"
                [disabled]="!(data.data.Status === 0 || data.data.Status === 4)"></dx-button>
                <dx-button class="editbtn" icon="edit" type="default" (onClick)="editProcess($event,data)"></dx-button> -->
        <dx-button icon="chevrondoubleright" type="default" (onClick)="readProcess($event, data.data.Id)">
        </dx-button>
    </div>

    <!-- <dxi-column type="buttons" caption="新增" cssClass="addmod">
                <dxi-button name="save" text="存檔" icon="save"></dxi-button>
                <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
                <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
                <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
            </dxi-column> -->

</dx-data-grid>

<dx-popup [showTitle]="true" title="結案確認" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="600"
    [height]="610" [(visible)]="closepopupVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <div style="width: 100%;">
                <div style="position: fixed; top:60px; background-color: white; width: 550px;">
                    筆數：{{selectedData.length}}
                    <form action="" (submit)="onFormSubmit($event)">
                        <dx-form id="form" [formData]="formData" [showColonAfterLabel]="true" [labelLocation]="'left'"
                            [minColWidth]="550" [colCount]="1" [width]="'100%'">

                            <dxi-item dataField="CreateUser" [editorOptions]="UserEditorOptions"
                                editorType="dxSelectBox">
                                <dxi-validation-rule type="required" message="操作人員 必填"></dxi-validation-rule>
                                <dxo-label text="操作人員"></dxo-label>
                            </dxi-item>

                        </dx-form>


                        <div class="col-auto-12 mt-1 mb-1">
                            <dx-button horizontalAlignment="left" class="pl-3 pr-3 pb-1" text='確認結案' type='success'
                                icon='save' [useSubmitBehavior]="true" [disabled]="buttondisabled"></dx-button>
                        </div>
                    </form>
                </div>


                <table style="border: 1px solid black; width: 100%; margin-top: 100px;">
                    <thead>
                        <tr>
                            <th style="border: 1px solid black">工單號</th>
                            <th style="border: 1px solid black">品號</th>
                        </tr>
                        <tr *ngFor="let dData of selectedData; let i=index; let odd=odd;">
                            <td style="border: 1px solid black"> {{dData.WorkOrderNo}}</td>
                            <td style="border: 1px solid black"> {{dData.DataNo}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>

<div class="d-flex justify-content-end">
    <dx-button text="建立工單" type="default" (onClick)="toSave()"></dx-button>
</div>
