<dx-data-grid [dataSource]="dataSourceDB" [showBorders]="true" [columnAutoWidth]="true"
    (onDataErrorOccurred)="onDataErrorOccurred($event)" [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
    (onFocusedRowChanging)="onFocusedRowChanging($event)" (onRowPrepared)="onRowPrepared($event)"
    (onFocusedRowChanged)="onFocusedRowChanged($event)" (onEditorPreparing)="onEditorPreparing($event)"
    (onEditingStart)="onEditingStart($event)" (onSelectionChanged)="selectionChanged($event)"
    (onCellPrepared)="onCellPrepared($event)" [showColumnLines]="true" [showRowLines]="false" hoverStateEnabled="true"
    [rowAlternationEnabled]="true" [remoteOperations]="remoteOperations">
    <dxo-editing mode="batch" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false"></dxo-editing>

    <dxi-column dataField="Name" caption="程式碼" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="Comment" caption="註解" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="CompletedNumber" caption="加工數量" dataType="number"></dxi-column>
    <dxi-column dataField="StartTime" caption="開始時間" dataType="date" format="shortDateShortTime"></dxi-column>
    <dxi-column dataField="EndTime" caption="結束時間" dataType="date" format="shortDateShortTime"></dxi-column>
</dx-data-grid>
