<form action="" (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="formData" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
    [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">

    <dxi-item dataField="Code" [disabled]="true">
        <dxo-label text="供應商代號"></dxo-label>
    </dxi-item>
    <dxi-item dataField="Name" [disabled]="true">
        <dxo-label text="供應商名稱"></dxo-label>
    </dxi-item>
</dx-form>

    <dx-data-grid
        #dataGrid2
        [dataSource]="dataSourceDB"
        [showBorders]="true"
        height="500"
        (onFocusedCellChanging)="onFocusedCellChanging($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onEditingStart)="onEditingStart($event)"
        (onCellPrepared)="onCellPrepared($event)"
        (onRowRemoved)="onRowRemoved($event)">

        <dxo-row-dragging
            [allowReordering]="false"
            [onReorder]="onReorder"
            [showDragIcons]="false"
        ></dxo-row-dragging>

        <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="allowEdit" [allowDeleting]="allowEdit">
            <dxo-form colCount=4>
                <dxi-item dataField="MaterialNo"></dxi-item>
                <dxi-item dataField="Name"></dxi-item>
                <dxi-item dataField="Specification"></dxi-item>
                <dxi-item dataField="Property"></dxi-item>
                <dxi-item dataField="Price"></dxi-item>
                <dxi-item dataField="Unit"></dxi-item>
            </dxo-form>
        </dxo-editing>
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
            [enterKeyDirection]="enterKeyDirection">
        </dxo-keyboard-navigation>
        <dxo-paging [enabled]="false">
        </dxo-paging>
        <dxi-column dataField="MaterialBasicId" caption="元件品號" editCellTemplate="MaterialNoTemplate" >
            <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="MaterialNo" valueExpr="Id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="MaterialBasic.Name" caption="元件品名" editCellTemplate="NameTemplate" >
        </dxi-column>
        <dxi-column dataField="MaterialBasic.Specification" caption="規格" editCellTemplate="SpecificationTemplate">
        </dxi-column>
        <dxi-column dataField="MaterialBasic.Property" caption="屬性" editCellTemplate="PropertyTemplate">
        </dxi-column>
        <dxi-column dataField="MaterialBasic.Price" caption="單價" format="$ #,##0.##;($ #,##0.##)" editCellTemplate="PriceTemplate">
        </dxi-column>
        <dxi-column dataField="MaterialBasic.Unit" caption="單位" editCellTemplate="UnitTemplate">
        </dxi-column>

        <dxi-column type="buttons">
            <dxi-button name="save" text="存檔"></dxi-button>
            <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
            <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
            <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
        </dxi-column>

        <div *dxTemplate="let data of 'MaterialNoTemplate'">
            <dx-select-box [value]="data.value" (onValueChanged)="selectvalueChanged($event,data)"
                [dataSource]="{ paginate: true, store: { type: 'array', data: MaterialBasicList, key:'Id' } }"
                valueExpr="Id" displayExpr="MaterialNo" [searchEnabled]="true"></dx-select-box>
        </div>
        <div *dxTemplate="let data of 'NameTemplate'">
            <dx-text-box [value]="Name" (onValueChanged)="data.setValue($event.value)"></dx-text-box>
        </div>
        <div *dxTemplate="let data of 'SpecificationTemplate'">
            <dx-text-box [value]="Specification" (onValueChanged)="data.setValue($event.value)"></dx-text-box>
        </div>
        <div *dxTemplate="let data of 'PropertyTemplate'">
            <dx-text-box [value]="Property" (onValueChanged)="data.setValue($event.value)"></dx-text-box>
        </div>
        <div *dxTemplate="let data of 'PriceTemplate'">
            <dx-text-box [value]="Price" (onValueChanged)="data.setValue($event.value)"></dx-text-box>
        </div>
        <div *dxTemplate="let data of 'UnitTemplate'">
            <dx-text-box [value]="Unit" (onValueChanged)="data.setValue($event.value)"></dx-text-box>
        </div>

    </dx-data-grid>
</form>
