<dx-data-grid id="gridContainer" [dataSource]="BsOrders" [showBorders]="true"
(onRowUpdated)="onRowUpdated($event)" (onRowInserted)="AddTask($event)" (onRowRemoved)="onRowRemoved($event)">
    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
    </dxo-editing>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 50, 100]" [showInfo]="true">
    </dxo-pager>
    <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>
    <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
    <dxo-search-panel [visible]="true" [width]="240" placeholder="搜尋..."></dxo-search-panel>
    <dxi-column dataField="project_no" [minWidth]="160" caption="訂單單號">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="customer_order_no" [minWidth]="100" caption="客戶單號">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="product_no" caption="主件品號">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="name" caption="主件品名">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="specification" caption="規格">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="quantity" caption="數量">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="price" caption="折後單價">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="machine_id" caption="機號">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="order_delivery_date" caption="訂單交期" alignment="right" dataType="date" [width]="120"
        [calculateFilterExpression]="calculateFilterExpression">
        <dxo-header-filter [dataSource]="orderHeaderFilter"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="status" caption="狀態">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="customer" caption="客戶名稱">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="update_time" caption="更新時間" alignment="right" dataType="datetime" format="yyyy/MM/dd HH:mm"
        [width]="180">
    </dxi-column>
</dx-data-grid>
