<div class="row">
    <div class="col-md-10 col-sm-10">
    </div>
    <div class="col-md-1 col-sm-1">
    </div>
    <!-- <div class="col-md-1 col-sm-1">
        <dx-button text="轉採購單" type="default" (onClick)="to_purchaseClick($event)"></dx-button>
    </div> -->
</div>

<dx-data-grid [dataSource]="dataSourceDB" [showBorders]="true" [columnAutoWidth]="true"
    (onCellClick)="cellClick($event)" (onContentReady)="onContentReady($event)"
    (onDataErrorOccurred)="onDataErrorOccurred($event)" keyExpr="id" (onInitNewRow)="onInitNewRow($event)"
    (onRowInserting)="onRowInserting($event)" (onEditingStart)="onEditingStart($event)">
    <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="allowEdit" [allowDeleting]="allowEdit">
        <dxo-form>
            <dxi-item dataField="SupplierId"></dxi-item>
            <dxi-item dataField="DataId"></dxi-item>
            <dxi-item dataField="Quantity"></dxi-item>
            <dxi-item dataField="OriginPrice"></dxi-item>
            <dxi-item dataField="Price"></dxi-item>
        </dxo-form>
    </dxo-editing>
    <!-- <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection> -->
    <dxi-column dataField="SupplierId" caption="供應商名稱" [allowEditing]="false">
        <dxo-lookup [dataSource]="SupplierList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="SupplierId" caption="供應商代號" [allowEditing]="false">
        <dxo-lookup [dataSource]="SupplierList" displayExpr="Code" valueExpr="Id"></dxo-lookup>
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="Purchase.PurchaseNo" caption="採購單號" [allowEditing]="false">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="DataId" caption="品號" [allowEditing]="false" editCellTemplate="MaterialEditCellTemplate">
        <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="MaterialNo" valueExpr="Id"></dxo-lookup>
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="DataId" caption="品名" [allowEditing]="false">
        <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="DataId" caption="規格" [allowEditing]="false">
        <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="Specification" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Quantity" caption="數量" dataType="number" [width]="100" editCellTemplate="QuantityEditCellTemplate">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="OriginPrice" caption="原單價" dataType="number" [width]="100" editCellTemplate="OriginPriceEditCellTemplate">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="Price" caption="金額" dataType="number" [width]="100" editCellTemplate="PriceEditCellTemplate">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="WarehouseId" caption="倉別" [allowEditing]="false">
        <dxo-lookup [dataSource]="WarehouseList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="CheckCountIn" caption="已驗收數量" [allowEditing]="false" [width]="100">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="CheckCountOut" caption="已驗退數量" [allowEditing]="false" [width]="100">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <!-- <dxi-column type="buttons" caption="新增" cssClass="addmod"> -->
    <dxi-column type="buttons">
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button>
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>
    <dxi-column  dataField='CheckStatus' caption="" cellTemplate="cellTemplate" width="100"></dxi-column>

    <div *dxTemplate="let data of 'cellTemplate'">
        <ng-template [ngIf]="data.value === 0">
            <dx-button text="驗收" type="default" (onClick)="checkInOnClick($event,data)"></dx-button>
        </ng-template>
        <ng-template [ngIf]="data.value === 1">
            <dx-button text="驗退" type="danger" (onClick)="checkOutOnClick($event,data)"></dx-button>
        </ng-template>
    </div>
    <!-- <dxi-column type="buttons">
        <dxi-button hint="驗收" text="驗收" [onClick]="checkinonClick"></dxi-button>
    </dxi-column> -->

    <div *dxTemplate="let data of 'MaterialEditCellTemplate'">
        <dx-select-box [value]="data.value" (onValueChanged)="selectvalueChanged($event,data)"
            [dataSource]="MaterialBasicList" valueExpr="Id" displayExpr="MaterialNo"></dx-select-box>
    </div>
    <div *dxTemplate="let data of 'QuantityEditCellTemplate'">
        <dx-number-box [value]='Quantityval' (onValueChanged)="QuantityValueChanged($event,data)" min="1"
            [showSpinButtons]="true"></dx-number-box>
    </div>
    <div *dxTemplate="let data of 'OriginPriceEditCellTemplate'">
        <dx-number-box [value]='OriginPriceval' (onValueChanged)="OriginValueChanged($event,data)"
            [showSpinButtons]="true"></dx-number-box>
    </div>
    <div *dxTemplate="let data of 'PriceEditCellTemplate'">
        <dx-number-box [value]='Priceval' (onValueChanged)="data.setValue($event.value)" [showSpinButtons]="true">
        </dx-number-box>
    </div>
</dx-data-grid>

<dx-popup [showTitle]="true" title="進貨單驗收" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="800" [height]="330"
    [(visible)]="popupVisibleTo">
    <div *dxTemplate="let data of 'content'">
        <app-bill-purchase-checkin (childOuter)="popup_result($event)" [itemkeyval]="keyID" [modval]="mod">
        </app-bill-purchase-checkin>
    </div>
</dx-popup>
<dx-popup [showTitle]="true" title="進貨單驗退" [dragEnabled]="false" [closeOnOutsideClick]="false" [width]="800" [height]="400"
    [(visible)]="popupVisibleRe">
    <div *dxTemplate="let data of 'content'">
        <app-bill-purchase-return (childOuter)="popup_result($event)" [itemkeyval]="bopData" [modval]="mod">
        </app-bill-purchase-return>
    </div>
</dx-popup>
