
::ng-deep .dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
    padding: 5px;
  }
  ::ng-deep .dx-header-row .addmod {
    color: #fff;
    background-color: #71c016;
    border-color: #71c016;
}
::ng-deep .dx-header-row .addmod:hover {
    color: #fff;
    background-color: #5d9e12;
    border-color: #569211;
}
::ng-deep #fileuploader-container{
    border: 1px solid #d3d3d3;
}
::ng-deep.dx-fileuploader, .dx-fileuploader * {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
::ng-deep.dx-fileuploader-input-container {
    display: none;
}
::ng-deep.dx-fileuploader-wrapper, .dx-fileuploader-input-wrapper{
    padding: 0;
    border: none;
}
