<!-- <div class="master-detail-caption">訂單明細:{{item.data.OrderNo}}</div> -->
<div class="row no-gutters">
    <div class="col-md-6 col-sm-8">
    </div>
    <div class="col-md-2 col-sm-2">
        <!-- <div class="input-group">
            <label class="pt-2">總數量：{{totalcount}}</label>
          </div> -->
        <!-- <div class="dx-field">
            <div class="dx-field-label">總數量</div>
            <div class="dx-field-value-static" dataField="TotalCount"></div>
        </div> -->
    </div>
    <div class="col-md-4 col-sm-1">
        <dx-button text="建立銷貨單" type="default" (onClick)="to_saleClick($event)"></dx-button>
        <dx-button text="建立採購單" type="default" (onClick)="to_purchaseClick($event)"></dx-button>
        <dx-button text="建立工單" type="default" (onClick)="to_workClick($event)"></dx-button>
        <dx-button text="建立托工單" type="default" (onClick)="to_outsideClick($event)"></dx-button>
    </div>
</div>

    <dxo-editing mode="batch"
        [allowAdding]="false"
        [allowUpdating]="true"
        [allowDeleting]="true">
        <dxo-form colCount=5>
            <dxi-item dataField="MaterialBasicId">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Quantity">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Unit">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="OriginPrice">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Price">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="DueDate">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ReplyDate">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="MachineNo">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Remark"></dxi-item>
            <dxi-item dataField="ReplyRemark"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>

    <dxo-summary [recalculateWhileEditing]="true">
        <dxi-total-item
            [customizeText]="customizeText" column="MachineNo" summaryType="count">
        </dxi-total-item>
        <dxi-total-item i-total-item column="Price" summaryType="sum" valueFormat="$ #,##0.##;($ #,##0.##)">
        </dxi-total-item>
        <dxi-total-item i-total-item displayFormat="{0}" column="Quantity" summaryType="sum">
        </dxi-total-item>
    </dxo-summary>

    <dxi-column dataField="Serial" caption="序號" [width]="50"></dxi-column>
    <dxi-column dataField="MachineNo" caption="機號" [width]="180"></dxi-column>
    <dxi-column dataField="MaterialBasicId" caption="品號" [width]="180" [allowEditing]="false"
        editCellTemplate="MaterialBasicIdEditCellTemplate">
        <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="MaterialNo" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="MaterialBasicId" caption="品名" [allowEditing]="false" [width]="150">
        <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="Name" valueExpr="Id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="MaterialBasicId" caption="規格" [allowEditing]="false" [width]="200">
        <dxo-lookup [dataSource]="MaterialBasicList" displayExpr="Specification" valueExpr="Id"></dxo-lookup>
    </dxi-column>

    <dxi-column dataField="Quantity" caption="數量" dataType="number"  [width]="70"></dxi-column>
    <dxi-column dataField="Unit" caption="單位" [width]="50"></dxi-column>
    <dxi-column dataField="OriginPrice" caption="單價" dataType="number" format="$ #,##0.##;($ #,##0.##)"
        [allowEditing]="false"></dxi-column>
    <dxi-column dataField="Price" caption="價格" dataType="number" format="$ #,##0.##;($ #,##0.##)"
        [allowEditing]="false"></dxi-column>
    <dxi-column dataField="DueDate" caption="預交日" dataType="date"></dxi-column>
    <dxi-column dataField="ReplyDate" caption="回覆交期" dataType="date"></dxi-column>
    <dxi-column dataField="ReplyPrice" caption="回覆單價" dataType="number" format="$ #,##0.##;($ #,##0.##)"></dxi-column>
    <dxi-column dataField="Remark" caption="備註"></dxi-column>
    <dxi-column dataField="ReplyRemark" caption="回覆備註"></dxi-column>

    <dxi-column dataField="SaleCount" caption="銷單" dataType="number" [allowEditing]="false" [width]="50"></dxi-column>
    <dxi-column dataField="SaledCount" caption="已銷" dataType="number" [allowEditing]="false" [width]="50"></dxi-column>

    <!-- <dxi-column type="buttons" caption="新增" cssClass="addmod"> -->
    <dxi-column type="buttons" [visible]="true" [width]="40">
        <dxi-button name="save" text="存檔" icon="save"></dxi-button>
        <!-- <dxi-button name="cancel" text="取消" icon="redo"></dxi-button>
        <dxi-button name="edit" text="修改" type="success" icon="edit"></dxi-button> -->
        <dxi-button name="delete" text="刪除" icon="trash"></dxi-button>
    </dxi-column>

    <dxi-column dataField="SaleDetailNews" caption="銷貨單" cellTemplate="diffCellTemplate" [allowEditing]="false"
        [width]="150"></dxi-column>
    <dxi-column dataField="WorkOrderHeads" caption="工單" cellTemplate="diffCellTemplate2" [allowEditing]="false"
        [width]="150"></dxi-column>
    <dxi-column dataField="PurchaseDetails" caption="採購單" cellTemplate="diffCellTemplate3" [allowEditing]="false"
        [width]="150"></dxi-column>

    <div *dxTemplate="let data of 'MaterialBasicIdEditCellTemplate'">
        <dx-select-box [value]="data.value" (onValueChanged)="data.setValue($event.value)"
            [dataSource]="{ paginate: true, store: { type: 'array', data: MaterialBasicList, key:'Id' } }"
            valueExpr="Id" displayExpr="MaterialNo" [searchEnabled]="true"></dx-select-box>
    </div>
    <div *dxTemplate="let d of 'diffCellTemplate'" >
        <ul style="list-style-type:none">
            <li *ngFor ="let item of distinct(d.value)">{{item.Sale.SaleNo}}</li>
        </ul>
    </div>
    <div *dxTemplate="let d of 'diffCellTemplate2'" >
        <ul style="list-style-type:none; text-align: left;">
            <li *ngFor ="let item of d.value">{{item.WorkOrderNo}}</li>
        </ul>
    </div>
    <div *dxTemplate="let d of 'diffCellTemplate3'" >
        <ul style="list-style-type:none">
            <li *ngFor ="let item of (d.value)">{{item.Purchase.PurchaseNo}}</li>
        </ul>
    </div>
</dx-data-grid>

<dx-popup [showTitle]="true" title="新增採購單" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760"
    [(visible)]="popupVisiblePurchase">
    <div *dxTemplate="let data of 'content'">
        <app-creat-purchase (childOuter)="popup_result($event)" [itemkeyval]="topurchasekey" [dataSource]="dataSource" [modval]="mod"></app-creat-purchase>
    </div>
</dx-popup>
<dx-popup [showTitle]="true" title="轉銷貨" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="popupVisibleSale">
    <div *dxTemplate="let data of 'content'">
        <app-ordertosale (childOuter)="popup_result($event)" [itemkeyval]="tosalekey" [modval]="mod"></app-ordertosale>
    </div>
</dx-popup>
<dx-popup [showTitle]="true" title="轉工單" [dragEnabled]="false" [closeOnOutsideClick]="false" [height]="760"
    [(visible)]="popupVisibleWork">
    <div *dxTemplate="let data of 'content'">
        <app-ordertowork (childOuter)="popup_result($event)" [Oitemkeyval]="Otoworkkey" [itemkeyval]="toworkkey"></app-ordertowork>
    </div>
</dx-popup>
