::ng-deep app-orderdetail-list .dx-datagrid-rowsview .dx-selection.dx-row > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
    background-color:  rgb(91, 166, 236) !important;
    color: black !important;
}
.dx-button {
    float: right;
    margin-left: 6px;
}

::ng-deep .dx-template-wrapper ul{
    margin: 0px;
    padding: 0px;
}
